@font-face {
	font-family: 'apt-custom';
	src:url('apt-custom.eot');
	src:url('apt-custom.eot?#iefix') format('embedded-opentype'),
		url('apt-custom.woff') format('woff'),
		url('apt-custom.ttf') format('truetype'),
		url('apt-custom.svg#apt-custom') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'apt-custom';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ico-"] {
*/
.ico-glass, .ico-music, .ico-search, .ico-envelope, .ico-heart, .ico-star, .ico-star-empty, .ico-user, .ico-film, .ico-th-large, .ico-th, .ico-th-list, .ico-ok, .ico-remove, .ico-zoom-in, .ico-zoom-out, .ico-off, .ico-signal, .ico-cog, .ico-trash, .ico-home, .ico-file, .ico-time, .ico-road, .ico-download-alt, .ico-download, .ico-upload, .ico-inbox, .ico-play-circle, .ico-repeat, .ico-refresh, .ico-list-alt, .ico-lock, .ico-flag, .ico-headphones, .ico-volume-off, .ico-volume-down, .ico-volume-up, .ico-qrcode, .ico-barcode, .ico-tag, .ico-tags, .ico-book, .ico-bookmark, .ico-print, .ico-camera, .ico-font, .ico-bold, .ico-italic, .ico-text-height, .ico-text-width, .ico-align-left, .ico-align-center, .ico-align-right, .ico-align-justify, .ico-list, .ico-indent-left, .ico-indent-right, .ico-facetime-video, .ico-picture, .ico-pencil, .ico-map-marker, .ico-adjust, .ico-tint, .ico-edit, .ico-share, .ico-check, .ico-move, .ico-step-backward, .ico-fast-backward, .ico-backward, .ico-play, .ico-pause, .ico-stop, .ico-forward, .ico-fast-forward, .ico-step-forward, .ico-eject, .ico-chevron-left, .ico-chevron-right, .ico-plus-sign, .ico-minus-sign, .ico-remove-sign, .ico-ok-sign, .ico-question-sign, .ico-info-sign, .ico-screenshot, .ico-remove-circle, .ico-ok-circle, .ico-ban-circle, .ico-arrow-left, .ico-arrow-right, .ico-arrow-up, .ico-arrow-down, .ico-share-alt, .ico-resize-full, .ico-resize-small, .ico-plus, .ico-minus, .ico-asterisk, .ico-exclamation-sign, .ico-gift, .ico-leaf, .ico-fire, .ico-eye-open, .ico-eye-close, .ico-warning-sign, .ico-plane, .ico-calendar, .ico-random, .ico-comment, .ico-magnet, .ico-chevron-up, .ico-chevron-down, .ico-retweet, .ico-shopping-cart, .ico-folder-close, .ico-folder-open, .ico-resize-vertical, .ico-resize-horizontal, .ico-bar-chart, .ico-twitter-sign, .ico-facebook-sign, .ico-camera-retro, .ico-key, .ico-cogs, .ico-comments, .ico-thumbs-up, .ico-thumbs-down, .ico-star-half, .ico-heart-empty, .ico-signout, .ico-linkedin-sign, .ico-pushpin, .ico-external-link, .ico-signin, .ico-trophy, .ico-github-sign, .ico-upload-alt, .ico-lemon, .ico-phone, .ico-check-empty, .ico-bookmark-empty, .ico-phone-sign, .ico-twitter, .ico-facebook, .ico-github, .ico-unlock, .ico-credit, .ico-rss, .ico-hdd, .ico-bullhorn, .ico-bell, .ico-certificate, .ico-hand-right, .ico-hand-left, .ico-hand-up, .ico-hand-down, .ico-circle-arrow-left, .ico-circle-arrow-right, .ico-circle-arrow-up, .ico-circle-arrow-down, .ico-globe, .ico-wrench, .ico-tasks, .ico-filter, .ico-briefcase, .ico-fullscreen, .ico-group, .ico-link, .ico-cloud, .ico-beaker, .ico-cut, .ico-copy, .ico-paper-clip, .ico-save, .ico-sign-blank, .ico-reorder, .ico-list-ul, .ico-list-ol, .ico-strikethrough, .ico-underline, .ico-table, .ico-magic, .ico-truck, .ico-pinterest, .ico-pinterest-sign, .ico-google-plus-sign, .ico-google-plus, .ico-money, .ico-caret-down, .ico-caret-up, .ico-caret-left, .ico-caret-right, .ico-columns, .ico-sort, .ico-sort-down, .ico-sort-up, .ico-envelope-alt, .ico-linkedin, .ico-undo, .ico-legal, .ico-dashboard, .ico-comment-alt, .ico-comments-alt, .ico-bolt, .ico-sitemap, .ico-umbrella, .ico-paste, .ico-lightbulb, .ico-exchange, .ico-cloud-download, .ico-cloud-upload, .ico-user-md, .ico-stethoscope, .ico-suitcase, .ico-bell-alt, .ico-coffee, .ico-food, .ico-file-alt, .ico-building, .ico-hospital, .ico-ambulance, .ico-medkit, .ico-fighter-jet, .ico-beer, .ico-h-sign, .ico-plus-sign-2, .ico-double-angle-left, .ico-double-angle-right, .ico-double-angle-up, .ico-double-angle-down, .ico-angle-left, .ico-angle-right, .ico-angle-up, .ico-angle-down, .ico-desktop, .ico-laptop, .ico-tablet, .ico-mobile, .ico-circle-blank, .ico-quote-left, .ico-quote-right, .ico-spinner, .ico-circle, .ico-reply, .ico-github-alt, .ico-folder-close-alt, .ico-folder-open-alt, .ico-expand-alt, .ico-collapse-alt, .ico-smile, .ico-frown, .ico-meh, .ico-gamepad, .ico-keyboard, .ico-flag-alt, .ico-flag-checkered, .ico-terminal, .ico-code, .ico-reply-all, .ico-star-half-full, .ico-location-arrow, .ico-crop, .ico-code-fork, .ico-unlink, .ico-question, .ico-info, .ico-exclamation, .ico-superscript, .ico-subscript, .ico-eraser, .ico-puzzle, .ico-microphone, .ico-microphone-off, .ico-shield, .ico-calendar-empty, .ico-fire-extinguisher, .ico-rocket, .ico-maxcdn, .ico-chevron-sign-left, .ico-chevron-sign-right, .ico-chevron-sign-up, .ico-chevron-sign-down, .ico-html5, .ico-css3, .ico-anchor, .ico-unlock-alt, .ico-bullseye, .ico-ellipsis-horizontal, .ico-ellipsis-vertical, .ico-rss-sign, .ico-play-sign, .ico-ticket, .ico-minus-sign-alt, .ico-check-minus, .ico-level-up, .ico-level-down, .ico-check-sign, .ico-edit-sign, .ico-external-link-sign, .ico-share-sign, .ico-compass, .ico-collapse, .ico-collapse-top, .ico-expand, .ico-euro, .ico-gbp, .ico-dollar, .ico-rupee, .ico-yen, .ico-renminbi, .ico-won, .ico-bitcoin, .ico-file-2, .ico-file-text, .ico-sort-by-alphabet, .ico-sort-by-alphabet-alt, .ico-sort-by-attributes, .ico-sort-by-attributes-alt, .ico-sort-by-order, .ico-sort-by-order-alt, .ico-thumbs-up-2, .ico-thumbs-down-2, .ico-youtube-sign, .ico-youtube, .ico-xing, .ico-xing-sign, .ico-youtube-play, .ico-dropbox, .ico-stackexchange, .ico-instagram, .ico-flickr, .ico-adn, .ico-bitbucket, .ico-bitbucket-sign, .ico-tumblr, .ico-tumblr-sign, .ico-long-arrow-down, .ico-long-arrow-up, .ico-long-arrow-left, .ico-long-arrow-right, .ico-apple, .ico-windows, .ico-android, .ico-linux, .ico-dribbble, .ico-skype, .ico-foursquare, .ico-trello, .ico-female, .ico-male, .ico-gittip, .ico-sun, .ico-moon, .ico-archive, .ico-bug, .ico-vk, .ico-weibo, .ico-renren, .ico-home-2, .ico-home-3, .ico-home-4, .ico-office, .ico-newspaper, .ico-pencil-2, .ico-pencil-3, .ico-quill, .ico-pen, .ico-blog, .ico-droplet, .ico-paint-format, .ico-image, .ico-image-2, .ico-images, .ico-camera-2, .ico-music-2, .ico-headphones-2, .ico-play-2, .ico-film-2, .ico-camera-3, .ico-dice, .ico-pacman, .ico-spades, .ico-clubs, .ico-diamonds, .ico-pawn, .ico-bullhorn-2, .ico-connection, .ico-podcast, .ico-feed, .ico-book-2, .ico-books, .ico-library, .ico-file-3, .ico-profile, .ico-file-4, .ico-file-5, .ico-file-6, .ico-copy-2, .ico-copy-3, .ico-copy-4, .ico-paste-2, .ico-paste-3, .ico-paste-4, .ico-stack, .ico-folder, .ico-folder-open-2, .ico-tag-2, .ico-tags-2, .ico-barcode-2, .ico-qrcode-2, .ico-ticket-2, .ico-cart, .ico-cart-2, .ico-cart-3, .ico-coin, .ico-credit-2, .ico-calculate, .ico-support, .ico-phone-2, .ico-phone-hang-up, .ico-address-book, .ico-notebook, .ico-envelop, .ico-pushpin-2, .ico-location, .ico-location-2, .ico-compass-2, .ico-map, .ico-map-2, .ico-history, .ico-clock, .ico-clock-2, .ico-alarm, .ico-alarm-2, .ico-bell-2, .ico-stopwatch, .ico-calendar-2, .ico-calendar-3, .ico-print-2, .ico-keyboard-2, .ico-screen, .ico-laptop-2, .ico-mobile-2, .ico-mobile-3, .ico-tablet-2, .ico-tv, .ico-cabinet, .ico-drawer, .ico-drawer-2, .ico-drawer-3, .ico-box-add, .ico-box-remove, .ico-download-2, .ico-upload-2, .ico-disk, .ico-storage, .ico-undo-2, .ico-redo, .ico-flip, .ico-flip-2, .ico-undo-3, .ico-redo-2, .ico-forward-2, .ico-reply-2, .ico-bubble, .ico-bubbles, .ico-bubbles-2, .ico-bubble-2, .ico-bubbles-3, .ico-bubbles-4, .ico-user-2, .ico-users, .ico-user-3, .ico-users-2, .ico-user-4, .ico-user-5, .ico-quotes-left, .ico-busy, .ico-spinner-2, .ico-spinner-3, .ico-spinner-4, .ico-spinner-5, .ico-spinner-6, .ico-spinner-7, .ico-binoculars, .ico-search-2, .ico-zoom-in-2, .ico-zoom-out-2, .ico-expand-2, .ico-contract, .ico-expand-3, .ico-contract-2, .ico-key-2, .ico-key-3, .ico-lock-2, .ico-lock-3, .ico-unlocked, .ico-wrench-2, .ico-settings, .ico-equalizer, .ico-cog-2, .ico-cogs-2, .ico-cog-3, .ico-hammer, .ico-wand, .ico-aid, .ico-bug-2, .ico-pie, .ico-stats, .ico-bars, .ico-bars-2, .ico-gift-2, .ico-trophy-2, .ico-glass-2, .ico-mug, .ico-food-2, .ico-leaf-2, .ico-rocket-2, .ico-meter, .ico-meter2, .ico-dashboard-2, .ico-hammer-2, .ico-fire-2, .ico-lab, .ico-magnet-2, .ico-remove-2, .ico-remove-3, .ico-briefcase-2, .ico-airplane, .ico-truck-2, .ico-road-2, .ico-accessibility, .ico-target, .ico-shield-2, .ico-lightning, .ico-switch, .ico-power-cord, .ico-signup, .ico-list-2, .ico-list-3, .ico-numbered-list, .ico-menu, .ico-menu-2, .ico-tree, .ico-cloud-2, .ico-cloud-download-2, .ico-cloud-upload-2, .ico-download-3, .ico-upload-3, .ico-download-4, .ico-upload-4, .ico-globe-2, .ico-earth, .ico-link-2, .ico-flag-2, .ico-attachment, .ico-eye, .ico-eye-blocked, .ico-eye-2, .ico-bookmark-2, .ico-bookmarks, .ico-brightness-medium, .ico-brightness-contrast, .ico-contrast, .ico-star-2, .ico-star-3, .ico-star-4, .ico-heart-2, .ico-heart-3, .ico-heart-broken, .ico-thumbs-up-3, .ico-thumbs-up-4, .ico-happy, .ico-happy-2, .ico-smiley, .ico-smiley-2, .ico-tongue, .ico-tongue-2, .ico-sad, .ico-sad-2, .ico-wink, .ico-wink-2, .ico-grin, .ico-grin-2, .ico-cool, .ico-cool-2, .ico-angry, .ico-angry-2, .ico-evil, .ico-evil-2, .ico-shocked, .ico-shocked-2, .ico-confused, .ico-confused-2, .ico-neutral, .ico-neutral-2, .ico-wondering, .ico-wondering-2, .ico-point-up, .ico-point-right, .ico-point-down, .ico-point-left, .ico-warning, .ico-notification, .ico-question-2, .ico-info-2, .ico-info-3, .ico-blocked, .ico-cancel-circle, .ico-checkmark-circle, .ico-spam, .ico-close, .ico-checkmark, .ico-checkmark-2, .ico-spell-check, .ico-minus-2, .ico-plus-2, .ico-enter, .ico-exit, .ico-play-3, .ico-pause-2, .ico-stop-2, .ico-backward-2, .ico-forward-3, .ico-play-4, .ico-pause-3, .ico-stop-3, .ico-backward-3, .ico-forward-4, .ico-first, .ico-last, .ico-previous, .ico-next, .ico-eject-2, .ico-volume-high, .ico-volume-medium, .ico-volume-low, .ico-volume-mute, .ico-volume-mute-2, .ico-volume-increase, .ico-volume-decrease, .ico-loop, .ico-loop-2, .ico-loop-3, .ico-shuffle, .ico-arrow-up-left, .ico-arrow-up-2, .ico-arrow-up-right, .ico-arrow-right-2, .ico-arrow-down-right, .ico-arrow-down-2, .ico-arrow-down-left, .ico-arrow-left-2, .ico-arrow-up-left-2, .ico-arrow-up-3, .ico-arrow-up-right-2, .ico-arrow-right-3, .ico-arrow-down-right-2, .ico-arrow-down-3, .ico-arrow-down-left-2, .ico-arrow-left-3, .ico-arrow-up-left-3, .ico-arrow-up-4, .ico-arrow-up-right-3, .ico-arrow-right-4, .ico-arrow-down-right-3, .ico-arrow-down-4, .ico-arrow-down-left-3, .ico-arrow-left-4, .ico-tab, .ico-checkbox-checked, .ico-checkbox-unchecked, .ico-checkbox-partial, .ico-radio-checked, .ico-radio-unchecked, .ico-crop-2, .ico-scissors, .ico-filter-2, .ico-filter-3, .ico-font-2, .ico-text-height-2, .ico-text-width-2, .ico-bold-2, .ico-underline-2, .ico-italic-2, .ico-strikethrough-2, .ico-omega, .ico-sigma, .ico-table-2, .ico-table-3, .ico-insert-template, .ico-pilcrow, .ico-left-to-right, .ico-right-to-left, .ico-paragraph-left, .ico-paragraph-center, .ico-paragraph-right, .ico-paragraph-justify, .ico-paragraph-left-2, .ico-paragraph-center-2, .ico-paragraph-right-2, .ico-paragraph-justify-2, .ico-indent-increase, .ico-indent-decrease, .ico-new-tab, .ico-embed, .ico-code-2, .ico-console, .ico-share-2, .ico-mail, .ico-mail-2, .ico-mail-3, .ico-mail-4, .ico-google, .ico-google-plus-2, .ico-google-plus-3, .ico-google-plus-4, .ico-google-plus-5, .ico-google-drive, .ico-facebook-2, .ico-facebook-3, .ico-facebook-4, .ico-instagram-2, .ico-twitter-2, .ico-twitter-3, .ico-twitter-4, .ico-feed-2, .ico-feed-3, .ico-feed-4, .ico-youtube-2, .ico-youtube-3, .ico-vimeo, .ico-vimeo2, .ico-vimeo-2, .ico-lanyrd, .ico-flickr-2, .ico-flickr-3, .ico-flickr-4, .ico-flickr-5, .ico-picassa, .ico-picassa-2, .ico-dribbble-2, .ico-dribbble-3, .ico-dribbble-4, .ico-forrst, .ico-forrst-2, .ico-deviantart, .ico-deviantart-2, .ico-steam, .ico-steam-2, .ico-github-2, .ico-github-3, .ico-github-4, .ico-github-5, .ico-github-6, .ico-wordpress, .ico-wordpress-2, .ico-joomla, .ico-blogger, .ico-blogger-2, .ico-tumblr-2, .ico-tumblr-3, .ico-yahoo, .ico-tux, .ico-apple-2, .ico-finder, .ico-android-2, .ico-windows-2, .ico-windows8, .ico-soundcloud, .ico-soundcloud-2, .ico-skype-2, .ico-reddit, .ico-linkedin-2, .ico-lastfm, .ico-lastfm-2, .ico-delicious, .ico-stumbleupon, .ico-stumbleupon-2, .ico-stackoverflow, .ico-pinterest-2, .ico-pinterest-3, .ico-xing-2, .ico-xing-3, .ico-flattr, .ico-foursquare-2, .ico-foursquare-3, .ico-paypal, .ico-paypal-2, .ico-paypal-3, .ico-yelp, .ico-libreoffice, .ico-file-pdf, .ico-file-openoffice, .ico-file-word, .ico-file-excel, .ico-file-zip, .ico-file-powerpoint, .ico-file-xml, .ico-file-css, .ico-html5-2, .ico-html5-3, .ico-css3-2, .ico-chrome, .ico-firefox, .ico-IE, .ico-opera, .ico-safari, .ico-IcoMoon {
	font-family: 'apt-custom';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.ico-glass:before {
	content: "\f000";
}
.ico-music:before {
	content: "\f001";
}
.ico-search:before {
	content: "\f002";
}
.ico-envelope:before {
	content: "\f003";
}
.ico-heart:before {
	content: "\f004";
}
.ico-star:before {
	content: "\f005";
}
.ico-star-empty:before {
	content: "\f006";
}
.ico-user:before {
	content: "\f007";
}
.ico-film:before {
	content: "\f008";
}
.ico-th-large:before {
	content: "\f009";
}
.ico-th:before {
	content: "\f00a";
}
.ico-th-list:before {
	content: "\f00b";
}
.ico-ok:before {
	content: "\f00c";
}
.ico-remove:before {
	content: "\f00d";
}
.ico-zoom-in:before {
	content: "\f00e";
}
.ico-zoom-out:before {
	content: "\f010";
}
.ico-off:before {
	content: "\f011";
}
.ico-signal:before {
	content: "\f012";
}
.ico-cog:before {
	content: "\f013";
}
.ico-trash:before {
	content: "\f014";
}
.ico-home:before {
	content: "\f015";
}
.ico-file:before {
	content: "\f016";
}
.ico-time:before {
	content: "\f017";
}
.ico-road:before {
	content: "\f018";
}
.ico-download-alt:before {
	content: "\f019";
}
.ico-download:before {
	content: "\f01a";
}
.ico-upload:before {
	content: "\f01b";
}
.ico-inbox:before {
	content: "\f01c";
}
.ico-play-circle:before {
	content: "\f01d";
}
.ico-repeat:before {
	content: "\f01e";
}
.ico-refresh:before {
	content: "\f021";
}
.ico-list-alt:before {
	content: "\f022";
}
.ico-lock:before {
	content: "\f023";
}
.ico-flag:before {
	content: "\f024";
}
.ico-headphones:before {
	content: "\f025";
}
.ico-volume-off:before {
	content: "\f026";
}
.ico-volume-down:before {
	content: "\f027";
}
.ico-volume-up:before {
	content: "\f028";
}
.ico-qrcode:before {
	content: "\f029";
}
.ico-barcode:before {
	content: "\f02a";
}
.ico-tag:before {
	content: "\f02b";
}
.ico-tags:before {
	content: "\f02c";
}
.ico-book:before {
	content: "\f02d";
}
.ico-bookmark:before {
	content: "\f02e";
}
.ico-print:before {
	content: "\f02f";
}
.ico-camera:before {
	content: "\f030";
}
.ico-font:before {
	content: "\f031";
}
.ico-bold:before {
	content: "\f032";
}
.ico-italic:before {
	content: "\f033";
}
.ico-text-height:before {
	content: "\f034";
}
.ico-text-width:before {
	content: "\f035";
}
.ico-align-left:before {
	content: "\f036";
}
.ico-align-center:before {
	content: "\f037";
}
.ico-align-right:before {
	content: "\f038";
}
.ico-align-justify:before {
	content: "\f039";
}
.ico-list:before {
	content: "\f03a";
}
.ico-indent-left:before {
	content: "\f03b";
}
.ico-indent-right:before {
	content: "\f03c";
}
.ico-facetime-video:before {
	content: "\f03d";
}
.ico-picture:before {
	content: "\f03e";
}
.ico-pencil:before {
	content: "\f040";
}
.ico-map-marker:before {
	content: "\f041";
}
.ico-adjust:before {
	content: "\f042";
}
.ico-tint:before {
	content: "\f043";
}
.ico-edit:before {
	content: "\f044";
}
.ico-share:before {
	content: "\f045";
}
.ico-check:before {
	content: "\f046";
}
.ico-move:before {
	content: "\f047";
}
.ico-step-backward:before {
	content: "\f048";
}
.ico-fast-backward:before {
	content: "\f049";
}
.ico-backward:before {
	content: "\f04a";
}
.ico-play:before {
	content: "\f04b";
}
.ico-pause:before {
	content: "\f04c";
}
.ico-stop:before {
	content: "\f04d";
}
.ico-forward:before {
	content: "\f04e";
}
.ico-fast-forward:before {
	content: "\f050";
}
.ico-step-forward:before {
	content: "\f051";
}
.ico-eject:before {
	content: "\f052";
}
.ico-chevron-left:before {
	content: "\f053";
}
.ico-chevron-right:before {
	content: "\f054";
}
.ico-plus-sign:before {
	content: "\f055";
}
.ico-minus-sign:before {
	content: "\f056";
}
.ico-remove-sign:before {
	content: "\f057";
}
.ico-ok-sign:before {
	content: "\f058";
}
.ico-question-sign:before {
	content: "\f059";
}
.ico-info-sign:before {
	content: "\f05a";
}
.ico-screenshot:before {
	content: "\f05b";
}
.ico-remove-circle:before {
	content: "\f05c";
}
.ico-ok-circle:before {
	content: "\f05d";
}
.ico-ban-circle:before {
	content: "\f05e";
}
.ico-arrow-left:before {
	content: "\f060";
}
.ico-arrow-right:before {
	content: "\f061";
}
.ico-arrow-up:before {
	content: "\f062";
}
.ico-arrow-down:before {
	content: "\f063";
}
.ico-share-alt:before {
	content: "\f064";
}
.ico-resize-full:before {
	content: "\f065";
}
.ico-resize-small:before {
	content: "\f066";
}
.ico-plus:before {
	content: "\f067";
}
.ico-minus:before {
	content: "\f068";
}
.ico-asterisk:before {
	content: "\f069";
}
.ico-exclamation-sign:before {
	content: "\f06a";
}
.ico-gift:before {
	content: "\f06b";
}
.ico-leaf:before {
	content: "\f06c";
}
.ico-fire:before {
	content: "\f06d";
}
.ico-eye-open:before {
	content: "\f06e";
}
.ico-eye-close:before {
	content: "\f070";
}
.ico-warning-sign:before {
	content: "\f071";
}
.ico-plane:before {
	content: "\f072";
}
.ico-calendar:before {
	content: "\f073";
}
.ico-random:before {
	content: "\f074";
}
.ico-comment:before {
	content: "\f075";
}
.ico-magnet:before {
	content: "\f076";
}
.ico-chevron-up:before {
	content: "\f077";
}
.ico-chevron-down:before {
	content: "\f078";
}
.ico-retweet:before {
	content: "\f079";
}
.ico-shopping-cart:before {
	content: "\f07a";
}
.ico-folder-close:before {
	content: "\f07b";
}
.ico-folder-open:before {
	content: "\f07c";
}
.ico-resize-vertical:before {
	content: "\f07d";
}
.ico-resize-horizontal:before {
	content: "\f07e";
}
.ico-bar-chart:before {
	content: "\f080";
}
.ico-twitter-sign:before {
	content: "\f081";
}
.ico-facebook-sign:before {
	content: "\f082";
}
.ico-camera-retro:before {
	content: "\f083";
}
.ico-key:before {
	content: "\f084";
}
.ico-cogs:before {
	content: "\f085";
}
.ico-comments:before {
	content: "\f086";
}
.ico-thumbs-up:before {
	content: "\f087";
}
.ico-thumbs-down:before {
	content: "\f088";
}
.ico-star-half:before {
	content: "\f089";
}
.ico-heart-empty:before {
	content: "\f08a";
}
.ico-signout:before {
	content: "\f08b";
}
.ico-linkedin-sign:before {
	content: "\f08c";
}
.ico-pushpin:before {
	content: "\f08d";
}
.ico-external-link:before {
	content: "\f08e";
}
.ico-signin:before {
	content: "\f090";
}
.ico-trophy:before {
	content: "\f091";
}
.ico-github-sign:before {
	content: "\f092";
}
.ico-upload-alt:before {
	content: "\f093";
}
.ico-lemon:before {
	content: "\f094";
}
.ico-phone:before {
	content: "\f095";
}
.ico-check-empty:before {
	content: "\f096";
}
.ico-bookmark-empty:before {
	content: "\f097";
}
.ico-phone-sign:before {
	content: "\f098";
}
.ico-twitter:before {
	content: "\f099";
}
.ico-facebook:before {
	content: "\f09a";
}
.ico-github:before {
	content: "\f09b";
}
.ico-unlock:before {
	content: "\f09c";
}
.ico-credit:before {
	content: "\f09d";
}
.ico-rss:before {
	content: "\f09e";
}
.ico-hdd:before {
	content: "\f0a0";
}
.ico-bullhorn:before {
	content: "\f0a1";
}
.ico-bell:before {
	content: "\f0a2";
}
.ico-certificate:before {
	content: "\f0a3";
}
.ico-hand-right:before {
	content: "\f0a4";
}
.ico-hand-left:before {
	content: "\f0a5";
}
.ico-hand-up:before {
	content: "\f0a6";
}
.ico-hand-down:before {
	content: "\f0a7";
}
.ico-circle-arrow-left:before {
	content: "\f0a8";
}
.ico-circle-arrow-right:before {
	content: "\f0a9";
}
.ico-circle-arrow-up:before {
	content: "\f0aa";
}
.ico-circle-arrow-down:before {
	content: "\f0ab";
}
.ico-globe:before {
	content: "\f0ac";
}
.ico-wrench:before {
	content: "\f0ad";
}
.ico-tasks:before {
	content: "\f0ae";
}
.ico-filter:before {
	content: "\f0b0";
}
.ico-briefcase:before {
	content: "\f0b1";
}
.ico-fullscreen:before {
	content: "\f0b2";
}
.ico-group:before {
	content: "\f0c0";
}
.ico-link:before {
	content: "\f0c1";
}
.ico-cloud:before {
	content: "\f0c2";
}
.ico-beaker:before {
	content: "\f0c3";
}
.ico-cut:before {
	content: "\f0c4";
}
.ico-copy:before {
	content: "\f0c5";
}
.ico-paper-clip:before {
	content: "\f0c6";
}
.ico-save:before {
	content: "\f0c7";
}
.ico-sign-blank:before {
	content: "\f0c8";
}
.ico-reorder:before {
	content: "\f0c9";
}
.ico-list-ul:before {
	content: "\f0ca";
}
.ico-list-ol:before {
	content: "\f0cb";
}
.ico-strikethrough:before {
	content: "\f0cc";
}
.ico-underline:before {
	content: "\f0cd";
}
.ico-table:before {
	content: "\f0ce";
}
.ico-magic:before {
	content: "\f0d0";
}
.ico-truck:before {
	content: "\f0d1";
}
.ico-pinterest:before {
	content: "\f0d2";
}
.ico-pinterest-sign:before {
	content: "\f0d3";
}
.ico-google-plus-sign:before {
	content: "\f0d4";
}
.ico-google-plus:before {
	content: "\f0d5";
}
.ico-money:before {
	content: "\f0d6";
}
.ico-caret-down:before {
	content: "\f0d7";
}
.ico-caret-up:before {
	content: "\f0d8";
}
.ico-caret-left:before {
	content: "\f0d9";
}
.ico-caret-right:before {
	content: "\f0da";
}
.ico-columns:before {
	content: "\f0db";
}
.ico-sort:before {
	content: "\f0dc";
}
.ico-sort-down:before {
	content: "\f0dd";
}
.ico-sort-up:before {
	content: "\f0de";
}
.ico-envelope-alt:before {
	content: "\f0e0";
}
.ico-linkedin:before {
	content: "\f0e1";
}
.ico-undo:before {
	content: "\f0e2";
}
.ico-legal:before {
	content: "\f0e3";
}
.ico-dashboard:before {
	content: "\f0e4";
}
.ico-comment-alt:before {
	content: "\f0e5";
}
.ico-comments-alt:before {
	content: "\f0e6";
}
.ico-bolt:before {
	content: "\f0e7";
}
.ico-sitemap:before {
	content: "\f0e8";
}
.ico-umbrella:before {
	content: "\f0e9";
}
.ico-paste:before {
	content: "\f0ea";
}
.ico-lightbulb:before {
	content: "\f0eb";
}
.ico-exchange:before {
	content: "\f0ec";
}
.ico-cloud-download:before {
	content: "\f0ed";
}
.ico-cloud-upload:before {
	content: "\f0ee";
}
.ico-user-md:before {
	content: "\f0f0";
}
.ico-stethoscope:before {
	content: "\f0f1";
}
.ico-suitcase:before {
	content: "\f0f2";
}
.ico-bell-alt:before {
	content: "\f0f3";
}
.ico-coffee:before {
	content: "\f0f4";
}
.ico-food:before {
	content: "\f0f5";
}
.ico-file-alt:before {
	content: "\f0f6";
}
.ico-building:before {
	content: "\f0f7";
}
.ico-hospital:before {
	content: "\f0f8";
}
.ico-ambulance:before {
	content: "\f0f9";
}
.ico-medkit:before {
	content: "\f0fa";
}
.ico-fighter-jet:before {
	content: "\f0fb";
}
.ico-beer:before {
	content: "\f0fc";
}
.ico-h-sign:before {
	content: "\f0fd";
}
.ico-plus-sign-2:before {
	content: "\f0fe";
}
.ico-double-angle-left:before {
	content: "\f100";
}
.ico-double-angle-right:before {
	content: "\f101";
}
.ico-double-angle-up:before {
	content: "\f102";
}
.ico-double-angle-down:before {
	content: "\f103";
}
.ico-angle-left:before {
	content: "\f104";
}
.ico-angle-right:before {
	content: "\f105";
}
.ico-angle-up:before {
	content: "\f106";
}
.ico-angle-down:before {
	content: "\f107";
}
.ico-desktop:before {
	content: "\f108";
}
.ico-laptop:before {
	content: "\f109";
}
.ico-tablet:before {
	content: "\f10a";
}
.ico-mobile:before {
	content: "\f10b";
}
.ico-circle-blank:before {
	content: "\f10c";
}
.ico-quote-left:before {
	content: "\f10d";
}
.ico-quote-right:before {
	content: "\f10e";
}
.ico-spinner:before {
	content: "\f110";
}
.ico-circle:before {
	content: "\f111";
}
.ico-reply:before {
	content: "\f112";
}
.ico-github-alt:before {
	content: "\f113";
}
.ico-folder-close-alt:before {
	content: "\f114";
}
.ico-folder-open-alt:before {
	content: "\f115";
}
.ico-expand-alt:before {
	content: "\f116";
}
.ico-collapse-alt:before {
	content: "\f117";
}
.ico-smile:before {
	content: "\f118";
}
.ico-frown:before {
	content: "\f119";
}
.ico-meh:before {
	content: "\f11a";
}
.ico-gamepad:before {
	content: "\f11b";
}
.ico-keyboard:before {
	content: "\f11c";
}
.ico-flag-alt:before {
	content: "\f11d";
}
.ico-flag-checkered:before {
	content: "\f11e";
}
.ico-terminal:before {
	content: "\f120";
}
.ico-code:before {
	content: "\f121";
}
.ico-reply-all:before {
	content: "\f122";
}
.ico-star-half-full:before {
	content: "\f123";
}
.ico-location-arrow:before {
	content: "\f124";
}
.ico-crop:before {
	content: "\f125";
}
.ico-code-fork:before {
	content: "\f126";
}
.ico-unlink:before {
	content: "\f127";
}
.ico-question:before {
	content: "\f128";
}
.ico-info:before {
	content: "\f129";
}
.ico-exclamation:before {
	content: "\f12a";
}
.ico-superscript:before {
	content: "\f12b";
}
.ico-subscript:before {
	content: "\f12c";
}
.ico-eraser:before {
	content: "\f12d";
}
.ico-puzzle:before {
	content: "\f12e";
}
.ico-microphone:before {
	content: "\f130";
}
.ico-microphone-off:before {
	content: "\f131";
}
.ico-shield:before {
	content: "\f132";
}
.ico-calendar-empty:before {
	content: "\f133";
}
.ico-fire-extinguisher:before {
	content: "\f134";
}
.ico-rocket:before {
	content: "\f135";
}
.ico-maxcdn:before {
	content: "\f136";
}
.ico-chevron-sign-left:before {
	content: "\f137";
}
.ico-chevron-sign-right:before {
	content: "\f138";
}
.ico-chevron-sign-up:before {
	content: "\f139";
}
.ico-chevron-sign-down:before {
	content: "\f13a";
}
.ico-html5:before {
	content: "\f13b";
}
.ico-css3:before {
	content: "\f13c";
}
.ico-anchor:before {
	content: "\f13d";
}
.ico-unlock-alt:before {
	content: "\f13e";
}
.ico-bullseye:before {
	content: "\f140";
}
.ico-ellipsis-horizontal:before {
	content: "\f141";
}
.ico-ellipsis-vertical:before {
	content: "\f142";
}
.ico-rss-sign:before {
	content: "\f143";
}
.ico-play-sign:before {
	content: "\f144";
}
.ico-ticket:before {
	content: "\f145";
}
.ico-minus-sign-alt:before {
	content: "\f146";
}
.ico-check-minus:before {
	content: "\f147";
}
.ico-level-up:before {
	content: "\f148";
}
.ico-level-down:before {
	content: "\f149";
}
.ico-check-sign:before {
	content: "\f14a";
}
.ico-edit-sign:before {
	content: "\f14b";
}
.ico-external-link-sign:before {
	content: "\f14c";
}
.ico-share-sign:before {
	content: "\f14d";
}
.ico-compass:before {
	content: "\f14e";
}
.ico-collapse:before {
	content: "\f150";
}
.ico-collapse-top:before {
	content: "\f151";
}
.ico-expand:before {
	content: "\f152";
}
.ico-euro:before {
	content: "\f153";
}
.ico-gbp:before {
	content: "\f154";
}
.ico-dollar:before {
	content: "\f155";
}
.ico-rupee:before {
	content: "\f156";
}
.ico-yen:before {
	content: "\f157";
}
.ico-renminbi:before {
	content: "\f158";
}
.ico-won:before {
	content: "\f159";
}
.ico-bitcoin:before {
	content: "\f15a";
}
.ico-file-2:before {
	content: "\f15b";
}
.ico-file-text:before {
	content: "\f15c";
}
.ico-sort-by-alphabet:before {
	content: "\f15d";
}
.ico-sort-by-alphabet-alt:before {
	content: "\f15e";
}
.ico-sort-by-attributes:before {
	content: "\f160";
}
.ico-sort-by-attributes-alt:before {
	content: "\f161";
}
.ico-sort-by-order:before {
	content: "\f162";
}
.ico-sort-by-order-alt:before {
	content: "\f163";
}
.ico-thumbs-up-2:before {
	content: "\f164";
}
.ico-thumbs-down-2:before {
	content: "\f165";
}
.ico-youtube-sign:before {
	content: "\f166";
}
.ico-youtube:before {
	content: "\f167";
}
.ico-xing:before {
	content: "\f168";
}
.ico-xing-sign:before {
	content: "\f169";
}
.ico-youtube-play:before {
	content: "\f16a";
}
.ico-dropbox:before {
	content: "\f16b";
}
.ico-stackexchange:before {
	content: "\f16c";
}
.ico-instagram:before {
	content: "\f16d";
}
.ico-flickr:before {
	content: "\f16e";
}
.ico-adn:before {
	content: "\f170";
}
.ico-bitbucket:before {
	content: "\f171";
}
.ico-bitbucket-sign:before {
	content: "\f172";
}
.ico-tumblr:before {
	content: "\f173";
}
.ico-tumblr-sign:before {
	content: "\f174";
}
.ico-long-arrow-down:before {
	content: "\f175";
}
.ico-long-arrow-up:before {
	content: "\f176";
}
.ico-long-arrow-left:before {
	content: "\f177";
}
.ico-long-arrow-right:before {
	content: "\f178";
}
.ico-apple:before {
	content: "\f179";
}
.ico-windows:before {
	content: "\f17a";
}
.ico-android:before {
	content: "\f17b";
}
.ico-linux:before {
	content: "\f17c";
}
.ico-dribbble:before {
	content: "\f17d";
}
.ico-skype:before {
	content: "\f17e";
}
.ico-foursquare:before {
	content: "\f180";
}
.ico-trello:before {
	content: "\f181";
}
.ico-female:before {
	content: "\f182";
}
.ico-male:before {
	content: "\f183";
}
.ico-gittip:before {
	content: "\f184";
}
.ico-sun:before {
	content: "\f185";
}
.ico-moon:before {
	content: "\f186";
}
.ico-archive:before {
	content: "\f187";
}
.ico-bug:before {
	content: "\f188";
}
.ico-vk:before {
	content: "\f189";
}
.ico-weibo:before {
	content: "\f18a";
}
.ico-renren:before {
	content: "\f18b";
}
.ico-home-2:before {
	content: "\e000";
}
.ico-home-3:before {
	content: "\e001";
}
.ico-home-4:before {
	content: "\e002";
}
.ico-office:before {
	content: "\e003";
}
.ico-newspaper:before {
	content: "\e004";
}
.ico-pencil-2:before {
	content: "\e005";
}
.ico-pencil-3:before {
	content: "\e006";
}
.ico-quill:before {
	content: "\e007";
}
.ico-pen:before {
	content: "\e008";
}
.ico-blog:before {
	content: "\e009";
}
.ico-droplet:before {
	content: "\e00a";
}
.ico-paint-format:before {
	content: "\e00b";
}
.ico-image:before {
	content: "\e00c";
}
.ico-image-2:before {
	content: "\e00d";
}
.ico-images:before {
	content: "\e00e";
}
.ico-camera-2:before {
	content: "\e00f";
}
.ico-music-2:before {
	content: "\e010";
}
.ico-headphones-2:before {
	content: "\e011";
}
.ico-play-2:before {
	content: "\e012";
}
.ico-film-2:before {
	content: "\e013";
}
.ico-camera-3:before {
	content: "\e014";
}
.ico-dice:before {
	content: "\e015";
}
.ico-pacman:before {
	content: "\e016";
}
.ico-spades:before {
	content: "\e017";
}
.ico-clubs:before {
	content: "\e018";
}
.ico-diamonds:before {
	content: "\e019";
}
.ico-pawn:before {
	content: "\e01a";
}
.ico-bullhorn-2:before {
	content: "\e01b";
}
.ico-connection:before {
	content: "\e01c";
}
.ico-podcast:before {
	content: "\e01d";
}
.ico-feed:before {
	content: "\e01e";
}
.ico-book-2:before {
	content: "\e01f";
}
.ico-books:before {
	content: "\e020";
}
.ico-library:before {
	content: "\e021";
}
.ico-file-3:before {
	content: "\e022";
}
.ico-profile:before {
	content: "\e023";
}
.ico-file-4:before {
	content: "\e024";
}
.ico-file-5:before {
	content: "\e025";
}
.ico-file-6:before {
	content: "\e026";
}
.ico-copy-2:before {
	content: "\e027";
}
.ico-copy-3:before {
	content: "\e028";
}
.ico-copy-4:before {
	content: "\e029";
}
.ico-paste-2:before {
	content: "\e02a";
}
.ico-paste-3:before {
	content: "\e02b";
}
.ico-paste-4:before {
	content: "\e02c";
}
.ico-stack:before {
	content: "\e02d";
}
.ico-folder:before {
	content: "\e02e";
}
.ico-folder-open-2:before {
	content: "\e02f";
}
.ico-tag-2:before {
	content: "\e030";
}
.ico-tags-2:before {
	content: "\e031";
}
.ico-barcode-2:before {
	content: "\e032";
}
.ico-qrcode-2:before {
	content: "\e033";
}
.ico-ticket-2:before {
	content: "\e034";
}
.ico-cart:before {
	content: "\e035";
}
.ico-cart-2:before {
	content: "\e036";
}
.ico-cart-3:before {
	content: "\e037";
}
.ico-coin:before {
	content: "\e038";
}
.ico-credit-2:before {
	content: "\e039";
}
.ico-calculate:before {
	content: "\e03a";
}
.ico-support:before {
	content: "\e03b";
}
.ico-phone-2:before {
	content: "\e03c";
}
.ico-phone-hang-up:before {
	content: "\e03d";
}
.ico-address-book:before {
	content: "\e03e";
}
.ico-notebook:before {
	content: "\e03f";
}
.ico-envelop:before {
	content: "\e040";
}
.ico-pushpin-2:before {
	content: "\e041";
}
.ico-location:before {
	content: "\e042";
}
.ico-location-2:before {
	content: "\e043";
}
.ico-compass-2:before {
	content: "\e044";
}
.ico-map:before {
	content: "\e045";
}
.ico-map-2:before {
	content: "\e046";
}
.ico-history:before {
	content: "\e047";
}
.ico-clock:before {
	content: "\e048";
}
.ico-clock-2:before {
	content: "\e049";
}
.ico-alarm:before {
	content: "\e04a";
}
.ico-alarm-2:before {
	content: "\e04b";
}
.ico-bell-2:before {
	content: "\e04c";
}
.ico-stopwatch:before {
	content: "\e04d";
}
.ico-calendar-2:before {
	content: "\e04e";
}
.ico-calendar-3:before {
	content: "\e04f";
}
.ico-print-2:before {
	content: "\e050";
}
.ico-keyboard-2:before {
	content: "\e051";
}
.ico-screen:before {
	content: "\e052";
}
.ico-laptop-2:before {
	content: "\e053";
}
.ico-mobile-2:before {
	content: "\e054";
}
.ico-mobile-3:before {
	content: "\e055";
}
.ico-tablet-2:before {
	content: "\e056";
}
.ico-tv:before {
	content: "\e057";
}
.ico-cabinet:before {
	content: "\e058";
}
.ico-drawer:before {
	content: "\e059";
}
.ico-drawer-2:before {
	content: "\e05a";
}
.ico-drawer-3:before {
	content: "\e05b";
}
.ico-box-add:before {
	content: "\e05c";
}
.ico-box-remove:before {
	content: "\e05d";
}
.ico-download-2:before {
	content: "\e05e";
}
.ico-upload-2:before {
	content: "\e05f";
}
.ico-disk:before {
	content: "\e060";
}
.ico-storage:before {
	content: "\e061";
}
.ico-undo-2:before {
	content: "\e062";
}
.ico-redo:before {
	content: "\e063";
}
.ico-flip:before {
	content: "\e064";
}
.ico-flip-2:before {
	content: "\e065";
}
.ico-undo-3:before {
	content: "\e066";
}
.ico-redo-2:before {
	content: "\e067";
}
.ico-forward-2:before {
	content: "\e068";
}
.ico-reply-2:before {
	content: "\e069";
}
.ico-bubble:before {
	content: "\e06a";
}
.ico-bubbles:before {
	content: "\e06b";
}
.ico-bubbles-2:before {
	content: "\e06c";
}
.ico-bubble-2:before {
	content: "\e06d";
}
.ico-bubbles-3:before {
	content: "\e06e";
}
.ico-bubbles-4:before {
	content: "\e06f";
}
.ico-user-2:before {
	content: "\e070";
}
.ico-users:before {
	content: "\e071";
}
.ico-user-3:before {
	content: "\e072";
}
.ico-users-2:before {
	content: "\e073";
}
.ico-user-4:before {
	content: "\e074";
}
.ico-user-5:before {
	content: "\e075";
}
.ico-quotes-left:before {
	content: "\e076";
}
.ico-busy:before {
	content: "\e077";
}
.ico-spinner-2:before {
	content: "\e078";
}
.ico-spinner-3:before {
	content: "\e079";
}
.ico-spinner-4:before {
	content: "\e07a";
}
.ico-spinner-5:before {
	content: "\e07b";
}
.ico-spinner-6:before {
	content: "\e07c";
}
.ico-spinner-7:before {
	content: "\e07d";
}
.ico-binoculars:before {
	content: "\e07e";
}
.ico-search-2:before {
	content: "\e07f";
}
.ico-zoom-in-2:before {
	content: "\e080";
}
.ico-zoom-out-2:before {
	content: "\e081";
}
.ico-expand-2:before {
	content: "\e082";
}
.ico-contract:before {
	content: "\e083";
}
.ico-expand-3:before {
	content: "\e084";
}
.ico-contract-2:before {
	content: "\e085";
}
.ico-key-2:before {
	content: "\e086";
}
.ico-key-3:before {
	content: "\e087";
}
.ico-lock-2:before {
	content: "\e088";
}
.ico-lock-3:before {
	content: "\e089";
}
.ico-unlocked:before {
	content: "\e08a";
}
.ico-wrench-2:before {
	content: "\e08b";
}
.ico-settings:before {
	content: "\e08c";
}
.ico-equalizer:before {
	content: "\e08d";
}
.ico-cog-2:before {
	content: "\e08e";
}
.ico-cogs-2:before {
	content: "\e08f";
}
.ico-cog-3:before {
	content: "\e090";
}
.ico-hammer:before {
	content: "\e091";
}
.ico-wand:before {
	content: "\e092";
}
.ico-aid:before {
	content: "\e093";
}
.ico-bug-2:before {
	content: "\e094";
}
.ico-pie:before {
	content: "\e095";
}
.ico-stats:before {
	content: "\e096";
}
.ico-bars:before {
	content: "\e097";
}
.ico-bars-2:before {
	content: "\e098";
}
.ico-gift-2:before {
	content: "\e099";
}
.ico-trophy-2:before {
	content: "\e09a";
}
.ico-glass-2:before {
	content: "\e09b";
}
.ico-mug:before {
	content: "\e09c";
}
.ico-food-2:before {
	content: "\e09d";
}
.ico-leaf-2:before {
	content: "\e09e";
}
.ico-rocket-2:before {
	content: "\e09f";
}
.ico-meter:before {
	content: "\e0a0";
}
.ico-meter2:before {
	content: "\e0a1";
}
.ico-dashboard-2:before {
	content: "\e0a2";
}
.ico-hammer-2:before {
	content: "\e0a3";
}
.ico-fire-2:before {
	content: "\e0a4";
}
.ico-lab:before {
	content: "\e0a5";
}
.ico-magnet-2:before {
	content: "\e0a6";
}
.ico-remove-2:before {
	content: "\e0a7";
}
.ico-remove-3:before {
	content: "\e0a8";
}
.ico-briefcase-2:before {
	content: "\e0a9";
}
.ico-airplane:before {
	content: "\e0aa";
}
.ico-truck-2:before {
	content: "\e0ab";
}
.ico-road-2:before {
	content: "\e0ac";
}
.ico-accessibility:before {
	content: "\e0ad";
}
.ico-target:before {
	content: "\e0ae";
}
.ico-shield-2:before {
	content: "\e0af";
}
.ico-lightning:before {
	content: "\e0b0";
}
.ico-switch:before {
	content: "\e0b1";
}
.ico-power-cord:before {
	content: "\e0b2";
}
.ico-signup:before {
	content: "\e0b3";
}
.ico-list-2:before {
	content: "\e0b4";
}
.ico-list-3:before {
	content: "\e0b5";
}
.ico-numbered-list:before {
	content: "\e0b6";
}
.ico-menu:before {
	content: "\e0b7";
}
.ico-menu-2:before {
	content: "\e0b8";
}
.ico-tree:before {
	content: "\e0b9";
}
.ico-cloud-2:before {
	content: "\e0ba";
}
.ico-cloud-download-2:before {
	content: "\e0bb";
}
.ico-cloud-upload-2:before {
	content: "\e0bc";
}
.ico-download-3:before {
	content: "\e0bd";
}
.ico-upload-3:before {
	content: "\e0be";
}
.ico-download-4:before {
	content: "\e0bf";
}
.ico-upload-4:before {
	content: "\e0c0";
}
.ico-globe-2:before {
	content: "\e0c1";
}
.ico-earth:before {
	content: "\e0c2";
}
.ico-link-2:before {
	content: "\e0c3";
}
.ico-flag-2:before {
	content: "\e0c4";
}
.ico-attachment:before {
	content: "\e0c5";
}
.ico-eye:before {
	content: "\e0c6";
}
.ico-eye-blocked:before {
	content: "\e0c7";
}
.ico-eye-2:before {
	content: "\e0c8";
}
.ico-bookmark-2:before {
	content: "\e0c9";
}
.ico-bookmarks:before {
	content: "\e0ca";
}
.ico-brightness-medium:before {
	content: "\e0cb";
}
.ico-brightness-contrast:before {
	content: "\e0cc";
}
.ico-contrast:before {
	content: "\e0cd";
}
.ico-star-2:before {
	content: "\e0ce";
}
.ico-star-3:before {
	content: "\e0cf";
}
.ico-star-4:before {
	content: "\e0d0";
}
.ico-heart-2:before {
	content: "\e0d1";
}
.ico-heart-3:before {
	content: "\e0d2";
}
.ico-heart-broken:before {
	content: "\e0d3";
}
.ico-thumbs-up-3:before {
	content: "\e0d4";
}
.ico-thumbs-up-4:before {
	content: "\e0d5";
}
.ico-happy:before {
	content: "\e0d6";
}
.ico-happy-2:before {
	content: "\e0d7";
}
.ico-smiley:before {
	content: "\e0d8";
}
.ico-smiley-2:before {
	content: "\e0d9";
}
.ico-tongue:before {
	content: "\e0da";
}
.ico-tongue-2:before {
	content: "\e0db";
}
.ico-sad:before {
	content: "\e0dc";
}
.ico-sad-2:before {
	content: "\e0dd";
}
.ico-wink:before {
	content: "\e0de";
}
.ico-wink-2:before {
	content: "\e0df";
}
.ico-grin:before {
	content: "\e0e0";
}
.ico-grin-2:before {
	content: "\e0e1";
}
.ico-cool:before {
	content: "\e0e2";
}
.ico-cool-2:before {
	content: "\e0e3";
}
.ico-angry:before {
	content: "\e0e4";
}
.ico-angry-2:before {
	content: "\e0e5";
}
.ico-evil:before {
	content: "\e0e6";
}
.ico-evil-2:before {
	content: "\e0e7";
}
.ico-shocked:before {
	content: "\e0e8";
}
.ico-shocked-2:before {
	content: "\e0e9";
}
.ico-confused:before {
	content: "\e0ea";
}
.ico-confused-2:before {
	content: "\e0eb";
}
.ico-neutral:before {
	content: "\e0ec";
}
.ico-neutral-2:before {
	content: "\e0ed";
}
.ico-wondering:before {
	content: "\e0ee";
}
.ico-wondering-2:before {
	content: "\e0ef";
}
.ico-point-up:before {
	content: "\e0f0";
}
.ico-point-right:before {
	content: "\e0f1";
}
.ico-point-down:before {
	content: "\e0f2";
}
.ico-point-left:before {
	content: "\e0f3";
}
.ico-warning:before {
	content: "\e0f4";
}
.ico-notification:before {
	content: "\e0f5";
}
.ico-question-2:before {
	content: "\e0f6";
}
.ico-info-2:before {
	content: "\e0f7";
}
.ico-info-3:before {
	content: "\e0f8";
}
.ico-blocked:before {
	content: "\e0f9";
}
.ico-cancel-circle:before {
	content: "\e0fa";
}
.ico-checkmark-circle:before {
	content: "\e0fb";
}
.ico-spam:before {
	content: "\e0fc";
}
.ico-close:before {
	content: "\e0fd";
}
.ico-checkmark:before {
	content: "\e0fe";
}
.ico-checkmark-2:before {
	content: "\e0ff";
}
.ico-spell-check:before {
	content: "\e100";
}
.ico-minus-2:before {
	content: "\e101";
}
.ico-plus-2:before {
	content: "\e102";
}
.ico-enter:before {
	content: "\e103";
}
.ico-exit:before {
	content: "\e104";
}
.ico-play-3:before {
	content: "\e105";
}
.ico-pause-2:before {
	content: "\e106";
}
.ico-stop-2:before {
	content: "\e107";
}
.ico-backward-2:before {
	content: "\e108";
}
.ico-forward-3:before {
	content: "\e109";
}
.ico-play-4:before {
	content: "\e10a";
}
.ico-pause-3:before {
	content: "\e10b";
}
.ico-stop-3:before {
	content: "\e10c";
}
.ico-backward-3:before {
	content: "\e10d";
}
.ico-forward-4:before {
	content: "\e10e";
}
.ico-first:before {
	content: "\e10f";
}
.ico-last:before {
	content: "\e110";
}
.ico-previous:before {
	content: "\e111";
}
.ico-next:before {
	content: "\e112";
}
.ico-eject-2:before {
	content: "\e113";
}
.ico-volume-high:before {
	content: "\e114";
}
.ico-volume-medium:before {
	content: "\e115";
}
.ico-volume-low:before {
	content: "\e116";
}
.ico-volume-mute:before {
	content: "\e117";
}
.ico-volume-mute-2:before {
	content: "\e118";
}
.ico-volume-increase:before {
	content: "\e119";
}
.ico-volume-decrease:before {
	content: "\e11a";
}
.ico-loop:before {
	content: "\e11b";
}
.ico-loop-2:before {
	content: "\e11c";
}
.ico-loop-3:before {
	content: "\e11d";
}
.ico-shuffle:before {
	content: "\e11e";
}
.ico-arrow-up-left:before {
	content: "\e11f";
}
.ico-arrow-up-2:before {
	content: "\e120";
}
.ico-arrow-up-right:before {
	content: "\e121";
}
.ico-arrow-right-2:before {
	content: "\e122";
}
.ico-arrow-down-right:before {
	content: "\e123";
}
.ico-arrow-down-2:before {
	content: "\e124";
}
.ico-arrow-down-left:before {
	content: "\e125";
}
.ico-arrow-left-2:before {
	content: "\e126";
}
.ico-arrow-up-left-2:before {
	content: "\e127";
}
.ico-arrow-up-3:before {
	content: "\e128";
}
.ico-arrow-up-right-2:before {
	content: "\e129";
}
.ico-arrow-right-3:before {
	content: "\e12a";
}
.ico-arrow-down-right-2:before {
	content: "\e12b";
}
.ico-arrow-down-3:before {
	content: "\e12c";
}
.ico-arrow-down-left-2:before {
	content: "\e12d";
}
.ico-arrow-left-3:before {
	content: "\e12e";
}
.ico-arrow-up-left-3:before {
	content: "\e12f";
}
.ico-arrow-up-4:before {
	content: "\e130";
}
.ico-arrow-up-right-3:before {
	content: "\e131";
}
.ico-arrow-right-4:before {
	content: "\e132";
}
.ico-arrow-down-right-3:before {
	content: "\e133";
}
.ico-arrow-down-4:before {
	content: "\e134";
}
.ico-arrow-down-left-3:before {
	content: "\e135";
}
.ico-arrow-left-4:before {
	content: "\e136";
}
.ico-tab:before {
	content: "\e137";
}
.ico-checkbox-checked:before {
	content: "\e138";
}
.ico-checkbox-unchecked:before {
	content: "\e139";
}
.ico-checkbox-partial:before {
	content: "\e13a";
}
.ico-radio-checked:before {
	content: "\e13b";
}
.ico-radio-unchecked:before {
	content: "\e13c";
}
.ico-crop-2:before {
	content: "\e13d";
}
.ico-scissors:before {
	content: "\e13e";
}
.ico-filter-2:before {
	content: "\e13f";
}
.ico-filter-3:before {
	content: "\e140";
}
.ico-font-2:before {
	content: "\e141";
}
.ico-text-height-2:before {
	content: "\e142";
}
.ico-text-width-2:before {
	content: "\e143";
}
.ico-bold-2:before {
	content: "\e144";
}
.ico-underline-2:before {
	content: "\e145";
}
.ico-italic-2:before {
	content: "\e146";
}
.ico-strikethrough-2:before {
	content: "\e147";
}
.ico-omega:before {
	content: "\e148";
}
.ico-sigma:before {
	content: "\e149";
}
.ico-table-2:before {
	content: "\e14a";
}
.ico-table-3:before {
	content: "\e14b";
}
.ico-insert-template:before {
	content: "\e14c";
}
.ico-pilcrow:before {
	content: "\e14d";
}
.ico-left-to-right:before {
	content: "\e14e";
}
.ico-right-to-left:before {
	content: "\e14f";
}
.ico-paragraph-left:before {
	content: "\e150";
}
.ico-paragraph-center:before {
	content: "\e151";
}
.ico-paragraph-right:before {
	content: "\e152";
}
.ico-paragraph-justify:before {
	content: "\e153";
}
.ico-paragraph-left-2:before {
	content: "\e154";
}
.ico-paragraph-center-2:before {
	content: "\e155";
}
.ico-paragraph-right-2:before {
	content: "\e156";
}
.ico-paragraph-justify-2:before {
	content: "\e157";
}
.ico-indent-increase:before {
	content: "\e158";
}
.ico-indent-decrease:before {
	content: "\e159";
}
.ico-new-tab:before {
	content: "\e15a";
}
.ico-embed:before {
	content: "\e15b";
}
.ico-code-2:before {
	content: "\e15c";
}
.ico-console:before {
	content: "\e15d";
}
.ico-share-2:before {
	content: "\e15e";
}
.ico-mail:before {
	content: "\e15f";
}
.ico-mail-2:before {
	content: "\e160";
}
.ico-mail-3:before {
	content: "\e161";
}
.ico-mail-4:before {
	content: "\e162";
}
.ico-google:before {
	content: "\e163";
}
.ico-google-plus-2:before {
	content: "\e164";
}
.ico-google-plus-3:before {
	content: "\e165";
}
.ico-google-plus-4:before {
	content: "\e166";
}
.ico-google-plus-5:before {
	content: "\e167";
}
.ico-google-drive:before {
	content: "\e168";
}
.ico-facebook-2:before {
	content: "\e169";
}
.ico-facebook-3:before {
	content: "\e16a";
}
.ico-facebook-4:before {
	content: "\e16b";
}
.ico-instagram-2:before {
	content: "\e16c";
}
.ico-twitter-2:before {
	content: "\e16d";
}
.ico-twitter-3:before {
	content: "\e16e";
}
.ico-twitter-4:before {
	content: "\e16f";
}
.ico-feed-2:before {
	content: "\e170";
}
.ico-feed-3:before {
	content: "\e171";
}
.ico-feed-4:before {
	content: "\e172";
}
.ico-youtube-2:before {
	content: "\e173";
}
.ico-youtube-3:before {
	content: "\e174";
}
.ico-vimeo:before {
	content: "\e175";
}
.ico-vimeo2:before {
	content: "\e176";
}
.ico-vimeo-2:before {
	content: "\e177";
}
.ico-lanyrd:before {
	content: "\e178";
}
.ico-flickr-2:before {
	content: "\e179";
}
.ico-flickr-3:before {
	content: "\e17a";
}
.ico-flickr-4:before {
	content: "\e17b";
}
.ico-flickr-5:before {
	content: "\e17c";
}
.ico-picassa:before {
	content: "\e17d";
}
.ico-picassa-2:before {
	content: "\e17e";
}
.ico-dribbble-2:before {
	content: "\e17f";
}
.ico-dribbble-3:before {
	content: "\e180";
}
.ico-dribbble-4:before {
	content: "\e181";
}
.ico-forrst:before {
	content: "\e182";
}
.ico-forrst-2:before {
	content: "\e183";
}
.ico-deviantart:before {
	content: "\e184";
}
.ico-deviantart-2:before {
	content: "\e185";
}
.ico-steam:before {
	content: "\e186";
}
.ico-steam-2:before {
	content: "\e187";
}
.ico-github-2:before {
	content: "\e188";
}
.ico-github-3:before {
	content: "\e189";
}
.ico-github-4:before {
	content: "\e18a";
}
.ico-github-5:before {
	content: "\e18b";
}
.ico-github-6:before {
	content: "\e18c";
}
.ico-wordpress:before {
	content: "\e18d";
}
.ico-wordpress-2:before {
	content: "\e18e";
}
.ico-joomla:before {
	content: "\e18f";
}
.ico-blogger:before {
	content: "\e190";
}
.ico-blogger-2:before {
	content: "\e191";
}
.ico-tumblr-2:before {
	content: "\e192";
}
.ico-tumblr-3:before {
	content: "\e193";
}
.ico-yahoo:before {
	content: "\e194";
}
.ico-tux:before {
	content: "\e195";
}
.ico-apple-2:before {
	content: "\e196";
}
.ico-finder:before {
	content: "\e197";
}
.ico-android-2:before {
	content: "\e198";
}
.ico-windows-2:before {
	content: "\e199";
}
.ico-windows8:before {
	content: "\e19a";
}
.ico-soundcloud:before {
	content: "\e19b";
}
.ico-soundcloud-2:before {
	content: "\e19c";
}
.ico-skype-2:before {
	content: "\e19d";
}
.ico-reddit:before {
	content: "\e19e";
}
.ico-linkedin-2:before {
	content: "\e19f";
}
.ico-lastfm:before {
	content: "\e1a0";
}
.ico-lastfm-2:before {
	content: "\e1a1";
}
.ico-delicious:before {
	content: "\e1a2";
}
.ico-stumbleupon:before {
	content: "\e1a3";
}
.ico-stumbleupon-2:before {
	content: "\e1a4";
}
.ico-stackoverflow:before {
	content: "\e1a5";
}
.ico-pinterest-2:before {
	content: "\e1a6";
}
.ico-pinterest-3:before {
	content: "\e1a7";
}
.ico-xing-2:before {
	content: "\e1a8";
}
.ico-xing-3:before {
	content: "\e1a9";
}
.ico-flattr:before {
	content: "\e1aa";
}
.ico-foursquare-2:before {
	content: "\e1ab";
}
.ico-foursquare-3:before {
	content: "\e1ac";
}
.ico-paypal:before {
	content: "\e1ad";
}
.ico-paypal-2:before {
	content: "\e1ae";
}
.ico-paypal-3:before {
	content: "\e1af";
}
.ico-yelp:before {
	content: "\e1b0";
}
.ico-libreoffice:before {
	content: "\e1b1";
}
.ico-file-pdf:before {
	content: "\e1b2";
}
.ico-file-openoffice:before {
	content: "\e1b3";
}
.ico-file-word:before {
	content: "\e1b4";
}
.ico-file-excel:before {
	content: "\e1b5";
}
.ico-file-zip:before {
	content: "\e1b6";
}
.ico-file-powerpoint:before {
	content: "\e1b7";
}
.ico-file-xml:before {
	content: "\e1b8";
}
.ico-file-css:before {
	content: "\e1b9";
}
.ico-html5-2:before {
	content: "\e1ba";
}
.ico-html5-3:before {
	content: "\e1bb";
}
.ico-css3-2:before {
	content: "\e1bc";
}
.ico-chrome:before {
	content: "\e1bd";
}
.ico-firefox:before {
	content: "\e1be";
}
.ico-IE:before {
	content: "\e1bf";
}
.ico-opera:before {
	content: "\e1c0";
}
.ico-safari:before {
	content: "\e1c1";
}
.ico-IcoMoon:before {
	content: "\e1c2";
}
