<div class="help-title navbar navbar-fixed-top">
    <div class="container">

        <h1><i class="ico-question"></i> Центр помощи</h1>

        <div class="clearfix"></div>
    </div>
</div>


<div class="row help">
    <div class="container">

        <div class="col-lg-9 col help-content">

            <h1>О нас</h1>

            <p><strong>АпартКвартира.ру - современный ресурс на рынке аренды жилой недвижимости - реализующий свои услуги посредством системы моментального онлайн бронирования на собственном сайте.</strong></p>

            <h4 class="help-title-orange">Задачи, которые мы перед собой ставим:</h4>

            <div class="row">
                <div class="col-md-4 adv-item">
                    <div class="icon">1</div>
                    <!-- <div class="help-adv-title">Автоматизация процесса нахождения и выбора варианта аренды</div> -->
                    <p>Автоматизация процесса нахождения и выбора варианта аренды</p>
                </div>
                <div class="col-md-4 adv-item">
                    <div class="icon">2</div>
                    <p>Комплексное решение всех эксплуатационных вопросов, возникающих у обеих сторон в процессе аренды</p>
                </div>

                <div class="col-md-4 adv-item">
                    <div class="icon">3</div>
                    <p>Создание комфортной, эффективной и более дешевой альтернативы проживанию в гостиницах</p>
                </div>

            </div>

            <h4 class="help-title-orange">АпартКвартира.ру - это...</h4>

            <div class="row">

                <div class="col-md-4 adv-item">
                    <div class="help-adv-title">Отсутствие посредников</div>
                    <p>мы не являемся посредником и информационной площадкой - все объекты находятся в доверительном управлении нашей компании</p>
                </div>

                <div class="col-md-4 adv-item">
                    <div class="help-adv-title">полный комплекс услуг</div>
                    <p>мы осуществляем полный комплекс услуг, связанный с арендой жилья: бронирование, заселение и выселение арендаторов, их обслуживание в период проживания, взимание арендной платы, оплату коммунальных услуг и прочее</p>
                </div>

                <div class="col-md-4 adv-item">
                    <div class="help-adv-title">уплата налогов</div>
                    <p>мы осуществляем весь комплекс мероприятий по уплате налогов, страхованию объектов и юридическому сопровождению аренд</p>
                </div>

            </div>
            
            <h2>Срок аренды и виды размещения</h2>

            <div class="row">
                <div class="col-md-6 adv-item">
                    <div class="help-adv-title">разный срок аренды</div>
                    <p>
                    АпартКвартира.ру предлагает Арендаторам и Владельцам выбор между арендой на гибкий (от 2 суток) и длительный (от 6 мес) срок аренды
                    </p>
                </div>

                <div class="col-md-6 adv-item">
                    <div class="help-adv-title">2 варианта размещения</div>
                    <p>
                    АпартКвартира.ру предлагает два вида вариантов размещения: Апартаменты и Квартиры<br>
                    <strong>Апартаменты</strong> - предполагают любой срок аренды –от 2 суток и более, всегда полностью меблированы и оборудованы и включают в себя сервис по периодической уборке и замене белья (гостиничный сервис)<br><br>
                    <strong>Квартиры</strong> - арендуются на срок от 6 мес , в наличии объекты с мебелью и без.
                    </p>
                </div>

            </div>

            <a class="btn-big-orange" href="/intro/booklet-apartkvartira.pdf" target="_blank">Скачать наш буклет</a>

            <h1>Гостям</h1>

            <h2>Апартаменты</h2>

            <div class="well well-lg">
                Апартаменты - предполагают любой срок аренды –от 2 суток и более, всегда полностью меблированы и оборудованы и включают в себя сервис по периодической уборке и замене белья (гостиничный сервис)
            </div>

            <h2>Преимущества бронирования апартаментов</h2>

            <!-- ** row ************************************************************-->
            <div class="row">

                <!-- col-4 -->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-resize-horizontal"></span>
                    </div>
                    <div class="help-adv-title">Прямое бронирование</div>
                    <p>Мы не являемся посредниками- все апартаменты и квартиры находятся в нашем управлении</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->
                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">

                    <div class="icon">
                        <span class="ico-bolt"></span>
                    </div>
                    <div class="help-adv-title">Мгновенные бронирования</div>
                    <p>Бронирования делаются в реальном времени. Не нужно делать безрезультатных запросов и звонков: несколько кликов и жилье забронировано</p>

                </div>
                <!-- ** col-4 - END ************************************************************-->

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">

                    <div class="icon">
                        <span class="ico-money"></span>
                    </div>
                    <div class="help-adv-title">Авансовый платеж</div>
                    <p>Ваше жилье доступно для аренды и бронирования по всему миру благодаря нашей продвинутой платформе</p>

                </div>
                <!-- ** col-4 - END ************************************************************-->

            </div>
            <!-- ** row - END ************************************************************-->

            <!-- ** row ************************************************************-->
            <div class="row">

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-home-3"></span>
                    </div>
                    <div class="help-adv-title">Чувствуйте себя как дома</div>
                    <p>Наши апартаменты объединяют в себе преимущества отеля и приватной квартиры</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->
                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-comments-alt"></span>
                    </div>
                    <div class="help-adv-title">Система отзывов рейтинга</div>
                    <p>Отзывы предыдущих клиентов и рейтинговая оценка помогут вам в выборе варианта</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-search"></span>
                    </div>
                    <div class="help-adv-title">Современный и удобный поиск</div>
                    <p>Для Вашего удобства, Мы сгруппировали объекты в тематические смарт-фильтры</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->
            </div>
            <!-- ** row - END ************************************************************-->
            <!-- ** row ************************************************************-->
            <div class="row">

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-office"></span>
                    </div>
                    <div class="help-adv-title">современные здания</div>
                    <p>Наши апартаменты, расположены только в современных зданиях и жилых комплексах</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-paste-2"></span>
                    </div>
                    <div class="help-adv-title">Отчетные документы</div>
                    <p>Мы предоставляем полный пакет отчетных документов</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-asterisk"></span>
                    </div>
                    <div class="help-adv-title">обслуживание</div>
                    <p>Мы предоставляем услугу по уборке апартаментов и замене белья</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->

            </div>
            <!-- ** row - END ************************************************************-->


            <h2>Как бронировать апартаменты</h2>

            <div class="row help-book-steps-nav" role="tablist">
                <div class="col col-md-4">
                    <a class="help-book-step help-book-step-past" href="#book-apt-step1" role="tab" data-toggle="tab">1</a>
                    <span class="help-book-step-title">Решите, где Вы хотите остановиться</span>
                </div>

                <div class="col col-md-4">
                    <a class="help-book-step help-book-step-past"  href="#book-apt-step2" role="tab" data-toggle="tab">2</a>
                    <span class="help-book-step-title">Уточните параметры поиска</span>
                </div>

                <div class="col col-md-4">
                    <a class="help-book-step help-book-step-past"  href="#book-apt-step3" role="tab" data-toggle="tab">3</a>
                    <span class="help-book-step-title">Бронирование, оплата</span>
                </div>
            </div>

            <!-- Tab panes -->
            <div class="tab-content">

                <div class="tab-pane fade in active" id="book-apt-step1">

                    <div class="row help-steps-tab">
                        
                        <div class="col col-md-4 help-step-tab-def">
                            
                            <h5>Решите, где Вы хотите остановиться</h5>
                            <p>Выберите улицу, место или ориентир, даты пребывания, количество гостей.</p>
                            <p>Также Вы можете выбрать один из тематических смарт-фильтров</p>
                            <p>... или найти интересующий вас объект при помощи карты</p>

                        </div>

                        <div class="col col-md-8 help-step-tab-img help-step-img-1">

                        </div>
                        
                    </div>

                </div>

                <div class="tab-pane fade" id="book-apt-step2">
                    <div class="row help-steps-tab">
                        <div class="col col-md-4 help-step-tab-def">
                            <h5>Уточните параметры поиска</h5>
                            <p>Сортируйте результаты поиска по удобному вам принципу, выберете диапазон цен, необходимые удобства, примените необходимые фильтры для конкретизации желаемых параметров объекта.<p>

                            <p>Добавляйте в «ИЗБРАННОЕ» понравившиеся объекты для сравнения и последующего бронирования.</p>
                        </div>
                        <div class="col col-md-8 help-step-tab-img help-step-img-2"></div>
                    </div>
                </div>

            <div class="tab-pane fade" id="book-apt-step3">
                <div class="row help-steps-tab">

                    <div class="col col-md-4 help-step-tab-def">
                        <h5>Бронирование, оплата</h5>
                        <p>После того как Вы выбрали интересующий Вас апартамент. Вы можете легко забронировать его.</p>
                        <p>Забронировав выбранный апартамент и оплатив лишь небольшую часть от его стоимости, вы получите электронное письмо с подтверждением резерва.</p>

                        <p> Оплата бронирования производится по банковской карте. Оплата оставшейся части арендной платы производится при заселении банковской картой или наличными.</p>
                    </div>

                    <div class="col col-md-8 help-step-tab-img help-step-img-2">

                    </div>

                </div>
            </div>

        </div>
        <!-- Tab panes END -->


        <h2>Вопросы и ответы</h2>

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Как происходит процесс бронирования?</div></h4>
        <p>см. пункт <a href="">«Как бронировать»</a></p>
        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Как и когда оплачивать?</div></h4>
        <p>
        В момент бронирования на нашем сайте Вы оплачиваете только небольшую часть стоимости аренды апартаментов. Оплата производится в режиме «on-line» по банковской карте. Основная часть стоимости аренды оплачивается при заселении банковской картой либо наличными.
        </p>
        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Какую оплату необходимо внести, чтобы забронировать апартамент?</div></h4>
        <p>
        В момент бронирования Вы оплачиваете только 10% стоимости аренды апартаментов (но не более 500 рублей). В случае последующего отказа от забронированных апартаментов по инициативе Гостя, эта сумма не возвращается.
        </p>

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Что такое залог и депозит?</div></h4>
        <p>
        Залог или депозит – это сумма денег, которая служит гарантией бережного отношения и рационального использования предметов и оборудования в апартаменте ( информация о размере депозита указана в карточке объекта). Возврат депозита производится при выезде из апартамента, при условии отсутствия претензий.
        </p>
        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Как и где я получу ключи?</div></h4>
        <p>
        Ключи от апартаментов Вы получите у нашего сотрудника, который встретит Вас в указанное Вами время в день Вашего приезда.
        </p>

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Предоставляется ли в апартаментах постельное белье?</div></h4>
        <p>
        В наших апартаментах Вы всегда найдете чистое и свежее постельное белье, а так же комплект полотенец. Кроме того, при длительном проживании (более 7 суток), предусмотрена регулярная замена постельного белья и полотенец (входит в стоимость арендной платы).
        </p>

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> В какое время можно заселиться в апартамент и выехать из него?</div></h4>
        <p>
        Заселиться можно в любое удобное для Вас время после времени заезда, указанного в карточке апартамента. Выехать необходимо до времени выезда, указанного в карточке апартамента. Возможен поздний выезд за небольшую дополнительную плату. Конкретное время заезда и выезда Вы можете указать в комментарии к бронированию перед оплатой.
        </p>

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Что делать, если я хочу поменять или отменить бронирование?</div></h4>
        <p>
        Если у Вас изменились планы и Вы хотите изменить или отменить бронирование, отправьте нам письмо на электронную почту <strong>info@apartkvartira.ru</strong> и мы обязательно свяжемся с вами.
        </p>

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Какой порядок действий при аварийной ситуации?</div></h4>
        <p>
        В случае возникновения аварийной ситуации (проблемы с водоснабжением, канализацией, отоплением, электроснабжением) Вам необходимо позвонить в нашу службу поддержки клиентов. Наши специалисты устранят неисправность в кратчайшие сроки.
        </p>

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Какое количество человек может проживать в апартаменте?</div></h4>
        <p>
        Максимальное количество человек, которое может проживать в апартаменте, указано в карточке объекта.
        </p>

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Входит ли финальная уборка в стоимость?</div></h4>
        <p>
        Да, финальная уборка входит в стоимость.
        </p>

        <h2>Квартиры</h2>

        <div class="well well-lg">
            Квартиры - арендуются на срок от 6 мес , в наличии объекты с мебелью и без.
        </div>
        <h2>Преимущества бронирования квартир</h2>

        <!-- ** row ************************************************************-->
        <div class="row">

            <!-- col-4 -->
            <div class="col-md-4 adv-item">

                <div class="icon">
                    <span class="ico-resize-horizontal"></span>
                </div>
                <div class="help-adv-title">Прямое бронирование</div>
                <p>Мы не являемся посредниками- все апартаменты и квартиры находятся в нашем управлении</p>

            </div>
            <!-- ** col-4 - END ************************************************************-->

            <!-- ** col-4 ************************************************************-->
            <div class="col-md-4 adv-item">

                <div class="icon">
                    <span class="ico-bolt"></span>
                </div>
                <div class="help-adv-title">Мгновенные бронирования</div>
                <p>Бронирования делаются в реальном времени. Не нужно делать безрезультатных запросов и звонков: несколько кликов и жилье забронировано</p>

            </div>
            <!-- ** col-4 - END ************************************************************-->

            <!-- ** col-4 ************************************************************-->
            <div class="col-md-4 adv-item">
                <div class="icon">
                    <span class="ico-office"></span>
                </div>
                <div class="help-adv-title">современные здания</div>
                <p>Наши апартаменты, расположены только в современных зданиях и жилых комплексах</p>
            </div>
            <!-- ** col-4 - END ************************************************************-->

        </div>
        <!-- ** row - END ************************************************************-->
        <!-- ** row ************************************************************-->
        <div class="row">
            <!-- ** col-4 ************************************************************-->
            <div class="col-md-4 col-md-offset-4 adv-item">
                <div class="icon">
                    <span class="ico-move"></span>
                </div>
                <div class="help-adv-title">большой выбор</div>
                <p>Мы предлагаем большой выбор квартир на любой вкус и бюджет</p>
            </div>
            <!-- ** col-4 - END ************************************************************-->
        </div>
        <!-- ** row - END ************************************************************-->

        <h2>Вопросы и ответы</h2>

<!--         <div class="panel panel-success">

            <div class="panel-heading">
                <h5 class="panel-title"><i class="ico-question-sign"></i> Какую оплату необходимо внести, чтобы забронировать квартиру?</h5>
            </div>
            <div class="panel-body">
                Бронирование квартиры осуществляется бесплатно. Оплата производится после подписания договора аренды.
            </div>

        </div>
 -->
         <!-- question - END -->

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Какую оплату необходимо внести, чтобы забронировать квартиру?</div></h4>
        <p>Бронирование квартиры осуществляется бесплатно. Оплата производится после подписания договора аренды.</p>

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Можно ли авансовый платеж, если я хочу аннулировать бронь?</div></h4>
        <p>Да, такая процедура предусмотрена. Если вы сообщаете об аннулировании брони в первые 5 дней после ее оформления то деньги возвращаются в полном объеме. Если позже - то за вычетом 3%. Если за 3 дня до заселения - средства не возвращаются.</p>

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Нужен ли депозит и каков его размер?</div></h4>
        <p>Обычно депозит за квартиру не берется. При заселении Вы вносите арендную плату за первый и последний месяц проживания.</p>

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Как и где я получу ключи от квартиры?</div></h4>
        <p>Ключи от квартиры Вы получите у нашего сотрудника, который встретит Вас в указанное Вами время в день Вашего приезда.</p>
        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Нужно ли мне приезжать заранее, чтобы подписать договор, или посмотреть квартиру?</div></h4>
        <p>Если квартира свободна, Вы, при желании, можете приехать заранее и посмотреть ее. Однако в этом нет необходимости. ООО «Апартквартира.ру» гарантирует соответствие описания и фото на сайте реальным объектам.</p>
        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Кто оплачивает коммунальные услуги?</div></h4>
        <p>Коммунальные услуги Вы оплачиваете отдельно (сверх арендной платы) в соответствии с квитанциями.</p>

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Кроме оплаты квартиры, будут ли еще дополнительные расходы?</div></h4>
        <p>Кроме арендной платы и оплаты коммунальных услуг других расходов не предусмотрено.</p>

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Какой порядок действий при аварийной ситуации?</div></h4>
        <p>При любой аварийной ситуации (водопровод, отопление, канализация и т.д.) Вам нужно только позвонить в нашу сервисную службу. Наши специалисты в кратчайшие сроки устранят неисправность.</p>

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Могу ли я освободить квартиру раньше окончания договора?</div></h4>
        <p>Да, Вы можете освободить квартиру раньше окончания договора. Однако в этом случае оплата за последний месяц проживания не возвращается.</p>

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Могу ли я в дальнейшем подключать/отключать услуги интернета/телевидения?</div></h4>
        <p>Да, по Вашему желанию Вы можете подключать/отключать дополнительные услуги (интернет, IP-TV и т.д.)</p>

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Как в дальнейшем будет происходить оплата? Возможна ли оплата по кредитной карте?</div></h4>
        <p>Оплата за квартиру производится ежемесячно в соответствии с договором аренды. Оплата может производиться как банковским переводом, так и по кредитной карте.</p>

        <h4><div class="alert alert-success" role="alert"><i class="ico-question-sign"></i> Какое количество человек может проживать в квартире?</div></h4>
        <p>В квартире может проживать такое количество человек, которое указано в договоре аренды.</p>


    </div>
    <div class="col-lg-3 col help-sidebar">
        <div id="help-toc"></div>
    </div>

</div>
</div>