/***** Main Menu items ***************************************************/
.gn-menu-main, .gn-menu-main ul { margin: 0; padding: 0; list-style: none; text-transform: none; font-weight: normal;}
.gn-menu-main { position: fixed; top: 0; left: 0; width: 40px; height: 35px; }
.gn-menu-main a { display: block; height: 100%; text-decoration: none; cursor: pointer; }
.no-touch .gn-menu-main a:hover { background: #dedede; color: white; }
.gn-menu-main > li { display: block; float: left; height: 100%; text-align: center; }

.gn-menu-main li.gn-trigger {
    width: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li.gn-trigger .gn-icon-menu {padding-top: 8px;}

.gn-menu-main > li > a {
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: normal;
    color: #fff;
}

.gn-menu-main:after {
    display: table;
    clear: both;
    content: "";
}

/****** Dropdown Menu ***************************************************/
.gn-menu-wrapper {
    position: fixed;
    top: 35px; /* 35px + 1px */
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 40px;

    background: #414751;

    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    transform: translateX(-40px);
    -webkit-transition: -webkit-transform 0.3s, width 0.3s;
    -moz-transition: -moz-transform 0.3s, width 0.3s;
    transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
    position: absolute;
    overflow-y: scroll;
    width: 370px;
    height: 100%;
}

.gn-menu {text-align: left;}


/***** Styles for 1-st level menu ***************************************************/
.gn-menu > li > a span, .gn-menu > li > li > a span  {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
}

.gn-menu > li > a {
    height: 40px;
    padding-top: 8px;
    color: #e5e5e5;
    font-size: 14px;

}

.gn-menu > li > a:hover, .gn-menu > li > a:active {

    color: #fff;

    background: #414751;
    text-shadow: 0px 1px rgba(43, 43, 43, 0.5);
    box-shadow: none;
}



.gn-icon::before {
    display: inline-block;
    width: 40px;
    text-align: center;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 18px;
    speak: none;
    font-size: 18px;
}


/***** Styles for 2-nd level menu ***************************************************/
.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);

}

.gn-menu-wrapper.gn-open-all {
    width: 340px;
}

.gn-menu-wrapper.gn-open-all .gn-menu > li ul, .gn-menu > li ul {
    background: #343941;
}


.gn-menu-wrapper.gn-open-all .gn-menu > li li a, .gn-menu > li li a {
    height: 40px;
    padding-top: 8px;
    color: #e5e5e5;
    text-shadow: 0px 1px rgba(43, 43, 43, 0.5);

}
.gn-menu-wrapper.gn-open-all .gn-menu > li li a span, .gn-menu > li li a span {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    text-shadow: 0px 1px rgba(43, 43, 43, 0.5);
    padding-left: 22px;
    background: url(../images/mdash-white.png) 0 8px no-repeat;
}


.gn-menu-wrapper.gn-open-all .gn-menu li li > a:hover {
    color: #fff;
    text-shadow: 0px 1px rgba(43, 43, 43, 0.5);
    background: none;
    box-shadow: none;
}


/***** Bootstrap styles ************************************************/


/***** Caret Style ***************************************************/
.gn-menu .ico-chevron-down
{
    margin-right: 20px;
    top: 5px;
    float: right;
    font-size: 12px;
}

/***** Mobile screen ***************************************************/
@media screen and (max-width: 422px)
{
    .gn-menu-wrapper.gn-open-all {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
        width: 100%;
    }

    .gn-menu-wrapper.gn-open-all .gn-scroller {
        width: 130%
    }
}


