body
{
    font-family: 'PT Sans Narrow', sans-serif;

    margin: 0;
    padding: 0;

    color: #333;
    background-color: #fff;
}

body#main-page
{
    background-color: #f1f1f1;
}

.container
{
    width: 1200px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;

    border: 0 solid green;
}
a.white,
a.white:visited,
a.white:active
{
    text-decoration: none;

    color: #fff;
    border-color: #fff;
}
a.inner-link
{
    text-decoration: none;

    border-bottom: 1px dashed #fff;
}
a.inner-link:hover
{
    text-decoration: none;

    border: none;
}
a
{
    text-decoration: underline;
}
a:hover
{
    text-decoration: none;
}
.rouble
{
    font-family: 'als_rublregular';
}
i.big
{
    font-size: 22px;

    position: relative;
    top: 3px;
}
.hide-me
{
    display: none;
}
.pull-center
{
    margin: 0 auto;

    text-align: center;
}
.al-left
{
    text-align: left;
}
.al-right
{
    text-align: right;
}

.col
{
    float: left;
}

.clear
{
    clear: both;
}

.alert
{
    font-size: 18px;
}
/***************************************************************** Top Navbar */
.navbar-default
{
    height: 55px;
    padding: 0;

    background: #fff;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 0 0 #898989;
       -moz-box-shadow: 0 4px 0 0 #898989;
            box-shadow: 0 4px 0 0 #898989;
}
.navbar-fixed-top
{
    z-index: 1030;
    top: 0;
}
.navbar
{
    position: relative;
    z-index: 999;

    min-height: 55px;
    margin: 0;
    padding: 0;

    border: none;
}
.navbar-fixed-top,
.navbar-fixed-bottom
{
    position: fixed;
    right: 0;
    /*     border-width:none; */
    left: 0;

    padding: 0;
}
.navbar .container
{
    width: 1200px;
    height: 45px;
    margin: 0 auto;
    padding: 0;

    border: 0 solid red;
}
.navbar-default .navbar-brand
{
    width: 146px;
    height: 39px;
    margin: -3px 25px 0 0;
    padding: 0;

    background: url(../images/ui/logo.png);
}
.navbar-default a.navbar-brand
{
    text-decoration: none;
}
.navbar-default .navbar-header
{
    padding: 12px 0 0 0;

    border: 0 solid red;
}
.navbar-default .navbar-nav > li > a
{
    color: #333;
}
.nav > li > a
{
    font-size: 18px;
    /*font-family:'PT Sans';*/
    /*font-family:'Trebuchet MS', Helvetica, sans-serif;*/
    font-weight: 400;
    line-height: 20px;

    position: relative;

    display: block;

    height: 55px;
    padding: 19px 18px 20px 15px;
    margin: 0 0 0 4px;

    text-decoration: none;
}
.i-map-3
{
    position: relative;
    top: -5px;

    display: inline-block;
    float: left;

    width: 30px;
    height: 30px;
    margin: 0 4px 0 0;

    background: url(../images/icons/ico-map-3.png) 0 0 no-repeat;
}
.nav > li > a i[class*='ico-']
{
    font-size: 22px;
    line-height: 12px;

    position: relative;
    top: 3px;

    padding: 0 4px 0 0;
}
.nav > li > a.inner-link,
.navbar-nav > li.active > a
{
    border: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
{
    -webkit-user-select: none;

    color: #fff;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background-color: #5cb85c;
    -webkit-box-shadow: inset 0 5px 0 0 #226a25;
       -moz-box-shadow: 0 5px 0 0 #226a25;
            box-shadow: 0 5px 0 0 #226a25;
            text-shadow: 1px 1px 0 #353535;

    -webkit-text-shadow: 1px 1px 0 #353535;
       -moz-text-shadow: 1px 1px 0 #353535;
}
.navbar-right li
{
    padding: 10px 0 0 0;
}
.navbar-right .oror
{
    position: relative;
    top: 3px;

    margin: 0 10px 0 10px;
}

/***************************************************************** levels */
.level
{
    margin-top: -1px;
}
.facade
{
    position: relative;

    width: 1200px;
    margin: 0 auto;

    pointer-events: none;
}
.content
{
    position: relative;

    width: 1200px;
    margin: 0 auto;
}
.windows
{
    position: relative;

    width: 1200px;
    margin: 0 auto;

    background: red;
}
/***************************************************************** Level Ribbon */
.level-ribbon
{
    position: absolute;
    z-index: 501;
    left: 470px;

    display: inline-block;

    height: 67px;
    margin: 0 auto;
}
.level-ribbon .left
{
    display: table-cell;

    width: 62px;
    height: 67px;

    background: url(../images/ui/ribbon-left.png) 0 0 no-repeat;
}
.level-ribbon .right
{
    display: table-cell;

    width: 62px;
    height: 67px;

    background: url(../images/ui/ribbon-right.png) 0 0 no-repeat;
}
.level-ribbon .content
{
    font-family: 'PT Sans';
    font-size: 20px;
    line-height: 20px;

    display: table-cell;

    width: 120px;
    padding: 15px 0;

    text-align: center;
    vertical-align: top;

    color: #fff;
    background: url(../images/ui/ribbon-content.png) 0 0 repeat-x;
}
/***************************************************************** Level Title */
.level-title
{
    /*font-family:'Trebuchet MS', Helvetica, sans-serif;*/
    font-size: 22px;
    line-height: 22px;

    position: absolute;
    /*cursor: pointer;*/
    z-index: 10;
    top: 4px;
    left: 506px;

    display: inline;

    width: 188px;
    height: 56px;
    padding: 8px 0 0 0;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border: none;
    outline: none;
    background: url(../images/ui/level-title.png) 0 0 no-repeat;
}
/*.level-title:hover {
    background: url(../images/ui/level-title-hover.png) 0 4px no-repeat;
    padding: 16px 0 0 0;
    color: #fff;
}
.level-title:active, .level-title:visited {
    color: #fff;
    outline: none;
}
*/
.level-title i[class*='ico-']
{
    font-size: 24px;
    line-height: 24px;

    position: relative;
    top: 0;

    padding: 0;
}
/***************************************************************** 0 - Search */
.level-0
{
    background: #51b64f;
    /*    box-shadow: 0px 5px 0px 0px #82746a;
    -webkit-box-shadow: 0px 5px 0px 0px #82746a;
    -moz-box-shadow: 0px 5px 0px 0px #82746a;
    */
}
.level-0-1
{
    background: #5cb85c;
}
#level-search
{
    position: relative;
    padding: 55px 0 20px 0;
    border: 0 solid red;
}
#level-search .content
{
    border: 0 solid red;
}
#level-search h1
{
    font-family: 'PT Sans';
    font-size: 36px;
    font-weight: normal;
    line-height: 30px;

    margin: 25px 0 0 0;
    padding: 0;

    text-align: center;
    letter-spacing: -1px;

    color: #fff;
            text-shadow: 1px 1px 0 #353535;

    -webkit-text-shadow: 1px 1px 0 #353535;
       -moz-text-shadow: 1px 1px 0 #353535;
}
#level-search h3
{
    font-family: 'PT Sans';
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;

    margin: 0 0 0 0;
    padding: 0;

    text-align: center;
    letter-spacing: -1px;

    color: #fff;
            text-shadow: 1px 1px 0 #353535;

    -webkit-text-shadow: 1px 1px 0 #353535;
       -moz-text-shadow: 1px 1px 0 #353535;
}
#level-search h3.slogan
{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 20px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 460px;

    display: inline-block;

    margin: 0;
    padding: 12px 27px;

    letter-spacing: .8px;

    color: #fff;
    border: 1px solid #ff6e31;
    border-radius: 25px;
    background: #ff6e31;
    -webkit-box-shadow: 0 4px 0 0 #973a12;
       -moz-box-shadow: 0 4px 0 0 #973a12;
            box-shadow: 0 4px 0 0 #973a12;
    text-shadow: none;
}
h3.slogan i
{
    position: relative;
    top: 2px;
}
#level-search h3.slogan:hover
{
    margin: 4px 0 0 0;

    cursor: pointer;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
#level-search h3.slogan a
{
    text-decoration: none;

    color: #fff;
    border: none;
}
#level-search h1 a
{
    text-decoration: none;

    color: #ff3;
    border-bottom: 1px dashed #ff3;
}
#level-search h1 a:hover
{
    border: none;
}
/***************************************************************** Search Form */
.main-search-form
{
    margin: 20px 0 20px 0;
    /*border: 1px solid red;*/
    padding-left: 15px;
}
.main-search-form .input
{
    font-size: 16px;
    line-height: 1.428571429;

    display: block;
    float: left;

    height: 50px;
    margin: 0;
    padding: 0 15px;
    /*
    box-shadow: 0px 4px 0px 0px #3e3e3e;
    -webkit-box-shadow: 0px 4px 0px 0px #3e3e3e;
    -moz-box-shadow: 0px 4px 0px 0px #3e3e3e;
*/

    color: #041928;
    border: none;
    background-color: #fff;
}
.main-search-form  .input-f-street
{
    width: 346px;
    margin: 0;

    border-right: 1px solid #51b64f;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.main-search-form  .input-f-arrdate
{
    width: 149px;
    margin: 0;

    border-right: 1px solid #FFF;
    border-radius: 0;
}
.main-search-form  .input-range.active
{
    background: #53D4FE;
    color: #fff;
}
.main-search-form  .input-f-depdate
{
    width: 149px;
    margin: 0;

    border-right: 1px solid #51b64f;
    border-radius: 0;
}
.main-search-form  .input-f-guests
{
    width: 110px;
    margin: 0;
    padding: 0;

    border-right: 0 solid #51b64f;
    border-radius: 0;
}
.main-search-form  .input-f-smart
{
    width: 346px;
    margin: 0;
    padding: 0;

    border-right: 1px solid #51b64f;
    border-radius: 0;
}
.main-search-form  .input-f-submit
{
    font-size: 20px;

    width: 100px;
    margin: 0;
    padding: 0;

    color: #fff;
    border-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #ff6e31;
}



#level-search-form #search-help
{
    width: 1060px;

    border-right: 1px solid #041928;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#level-search-form #search_place
{
    width: 380px;

    border-right: 1px solid #041928;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#level-search-form #f_arrdate,
#level-search-form #f_depdate
{
    width: 180px;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#level-search-form #f_arrdate
{
    border-right: none;
}
#level-search-form #f_depdate
{
    border-right: 1px solid #041928;
}


#level-search-form #f_guests,
#level-search-form #f_smart
{
    width: 180px;
    padding: 13px 10px;

    border-right: 1px solid #041928;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#level-search-form #f_guests
{
    border-right: 0;
}
#level-search-form .btn-default
{
    font-size: 18px;

    position: relative;

    width: 99px;

    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #ff6e31;
    
    /*-webkit-box-shadow: 0 4px 0 0 #973a12;
       -moz-box-shadow: 0 4px 0 0 #973a12;
            box-shadow: 0 4px 0 0 #973a12;
    text-shadow: 0 1px 1px #353535;
*/

}
#level-search-form a.btn-default:hover
{
    top: 4px;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
#level-search-form
{
    margin: 20px 0 0 0;
}
#extra-search
{
    height: 200px;
}
.adv-search-link
{
    position: relative;
    top: 25px;
}
#level-search .jumbo-slogan
{
    font-family: 'PT Sans';
    font-size: 180px;
    line-height: 180px;

    position: absolute;
    top: 105px;
    left: 0;

    width: 100%;
    margin: 0;
    padding: 0;

    text-align: center;
    letter-spacing: -6px;
    text-transform: uppercase;

    opacity: .6;
    /* color: #fff; */
}
/***************************************************************** Windows geometry */
.box
{
    position: relative;

    width: 1200px;
    margin: 0 auto;

/*    -moz-box-shadow:0 0 16px 0 #555;
    -webkit-box-shadow:0 0 16px 0 #555;
    box-shadow:0 0 16px 0 #555;
*/

}
.box-roof
{
    height: 66px;

    background: url(../images/ui/bld-roof.png) 0 0 no-repeat;
}
.box-3-3-3
{
    height: 254px;

    background: url(../images/ui/bld-3-3-3.png) 0 0 no-repeat;
}
.box-3-3-3 img
{
    width: 319px;
    height: 198px;
}
.box-3-3-3 .w01
{
    position: absolute;
    top: 32px;
    left: 95px;

    width: 319px;
    height: 198px;

    background: #f8f8f8;
}
.box-3-3-3 .w02
{
    position: absolute;
    top: 32px;
    left: 440px;

    width: 319px;
    height: 198px;

    background: #f8f8f8;
}
.box-3-3-3 .w03
{
    position: absolute;
    top: 32px;
    left: 786px;

    width: 319px;
    height: 198px;

    background: #f8f8f8;
}
.box-4-4-4-4
{
    height: 254px;

    background: url(../images/ui/bld-4-4-4-4.png) 0 0 no-repeat;
}
.box-4-4-4-4 img
{
    width: 233px;
    height: 198px;
}
.box-4-4-4-4 .w01
{
    position: absolute;
    top: 32px;
    left: 95px;

    width: 233px;
    height: 198px;

    background: #f8f8f8;
}
.box-4-4-4-4 .w02
{
    position: absolute;
    top: 32px;
    left: 354px;

    width: 233px;
    height: 198px;

    background: #f8f8f8;
}
.box-4-4-4-4 .w03
{
    position: absolute;
    top: 32px;
    left: 613px;

    width: 233px;
    height: 198px;

    background: #f8f8f8;
}
.box-4-4-4-4 .w04
{
    position: absolute;
    top: 32px;
    left: 872px;

    width: 233px;
    height: 198px;

    background: #f8f8f8;
}
.box-2-2
{
    height: 254px;

    background: url(../images/ui/bld-2-2.png) 0 0 no-repeat;
}
.box-2-2 img
{
    width: 492px;
    height: 198px;
}
.box-2-2 .w01
{
    position: absolute;
    top: 32px;
    left: 95px;

    width: 492px;
    height: 198px;

    background: #f8f8f8;
}
.box-2-2 .w02
{
    position: absolute;
    top: 32px;
    left: 613px;

    width: 492px;
    height: 198px;

    background: #f8f8f8;
}
.box-4-2-4
{
    height: 254px;

    background: url(../images/ui/bld-4-2-4.png) 0 0 no-repeat;
}
.box-4-2-4 .w02 img
{
    width: 492px;
    height: 198px;
}
.box-4-2-4 .w01 img,
.box-2-2 .w03 img
{
    width: 233px;
    height: 198px;
}
.box-4-2-4 .w01
{
    position: absolute;
    top: 32px;
    left: 95px;

    width: 233px;
    height: 198px;

    background: #f8f8f8;
}
.box-4-2-4 .w02
{
    position: absolute;
    top: 32px;
    left: 354px;

    width: 492px;
    height: 198px;

    background: #f8f8f8;
}
.box-4-2-4 .w03
{
    position: absolute;
    top: 32px;
    left: 872px;

    width: 233px;
    height: 198px;

    background: #f8f8f8;
}
.box-1
{
    height: 254px;

    background: url(../images/ui/bld-1.png) 0 0 no-repeat;
}
.box-1 img
{
    width: 1010px;
    height: 198px;
}
.box-1 .w01
{
    position: absolute;
    top: 32px;
    left: 95px;

    width: 1010px;
    height: 198px;

    background: #f8f8f8;
}
.box-1x2
{
    height: 507px;

    background: url(../images/ui/bld-1x2.png) 0 0 no-repeat;
}
.box-1x2 .w01
{
    position: absolute;
    top: 32px;
    left: 95px;

    width: 1010px;
    height: 451px;

    background: #f8f8f8;
}
.box-footer
{
    height: 507px;
    font-size: 14px;

    background: url(../images/ui/bld-footer.png) 0 0 no-repeat;
}
.box-footer .w01
{
    position: absolute;
    top: 171px;
    left: 95px;

    width: 319px;
    height: 312px;
}
.box-footer .w02
{
    position: absolute;
    top: 171px;
    left: 440px;

    width: 319px;
    height: 312px;
}
.box-footer .w03
{
    position: absolute;
    top: 171px;
    left: 786px;

    width: 319px;
    height: 312px;
}
.box-footer hr
{
    background: gray;
    height: 1px;
}
.box-footer .inner p
{
    font-size: 14px;
}

.box h2.round a
{
    text-decoration: none;

    color: #000;
}
.box h2.round:hover
{
    color: #000;
    border-color: #fff;
    background: #fff;
}
.box .box-ad h2
{
    font-family: 'PT Sans';
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;

    padding: 10px 0 0 0;

    text-align: center;
}
.box .box-ad p
{
    font-size: 16px;

    padding: 10px 20px;

    text-align: center;
}
.box .box-ad h2 a
{
    color: #000;
}
.box .win-plain-1
{
    font-family: 'PT Sans';
    font-weight: normal;

    padding: 0;

    text-align: center;
}
.box .pattern-1
{
    background: url(../images/ui/pattern-1.png) 0 0;
}
.box .pattern-2
{
    background: url(../images/ui/pattern-2.png) 0 0;
}
.box .pattern-3
{
    background: url(../images/ui/pattern-3.png) 0 0;
}
.box .pattern-4
{
    background: url(../images/ui/pattern-4.png) 0 0;
}
.box .win-plain-1 h2
{
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;

    display: inline-block;

    padding: 7px 18px;

    color: #fff;
    border: 1px solid #000;
    border-radius: 25px;
    background: none;
}
.box .win-plain-1 h2 a
{
    text-decoration: none;

    color: #000;
}
.box .win-plain-1 h2:hover
{
    border-color: #fff;
    background: #fff;
}
.box .win-plain-1 h2 a:hover
{
    color: #000;
}
.box .win-plain-1 p
{
    font-size: 16px;
    font-weight: bold;

    padding: 0 20px;

    color: #000;
}
.box .win-plain-1 .inner
{
    padding: 48px 0 0 0;
}
.box .win-closed
{
    text-align: center;
}
/***************************************************************** Апартамент или квартира */
.cons-pros
{
    margin: 40px 0 50px 0;
}
.cons-pros td
{
    font-size: 20px;

    padding: 20px 25px;

    text-align: center;

    border-bottom: 1px solid #439741;
}
.cons-pros th
{
    font-size: 60px;

    padding: 15px 20px;

    text-align: center;

    border-bottom: 1px solid #439741;
}
.cons-pros th img
{
    position: relative;
    top: -10px;
}
.cons-pros .title
{
    color: #fff;
    background: #fcd338;
}
.cons-pros .title h2
{
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    margin: 0;
    padding: 0;

    text-transform: capitalize;

    color: #000;
}
.cons-pros .color-1
{
    background: #58c556;
}
.cons-pros .color-2
{
    background: #4ba849;
}
.cons-pros .arrow
{
    background: url(../images/icons/arrow-right-yellow.png) #58c556 left center no-repeat;
}
/***************************************************************** levels */
#level-roof
{
    margin: 40px 0 0 0;
}
#level-footer
{
    margin: -1px 0 0 0;
}
/***************************************************************** Button (Default size) */
.btn, .nav > li > a.btn
{
    font-family: 'PT Sans';
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;

    padding: 0px 20px;
    height: 30px;

    text-align: center;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.btn-success, .nav > li > a.btn-success
{
    background: #51B64F;
    border-width: 2px;
    color: #FFF;
    border-color: #51B64F;
}
.btn-success:hover, .nav > li > a.btn-success:hover
{
    background: #fff;
    border-color: #51B64F;
    color: #51B64F;
}


.btn-danger, .nav > li > a.btn-danger
{
    background: #FF6E31;
    border-width: 2px;
    color: #FFF;
    border-color: #FF6E31;
}
.btn-danger:hover, .nav > li > a.btn-danger:hover
{
    background: #FFF;
    border-color: #FF6E31;
    color: #FF6E31;
}

.btn-lg
{
    font-size: 22px;
    padding: 3px 20px 0px 20px;
    height: 40px;
    border-radius: 20px;
}

.nav > li > a.btn
{
    margin-top: 5px;
    padding: 4px 12px;
}
.nav > li > a.btn i
{
    font-size: 16px;
    position: relative;
    top: 3px;
}

.btn-default
{
    border-color: #545454;
/*    
    -webkit-box-shadow: 0 3px 0 0 #545454;
       -moz-box-shadow: 0 3px 0 0 #545454;
            box-shadow: 0 3px 0 0 #545454;
*/
}
.list-group
{
    margin-top: 20px;

    text-decoration: none;
}
.list-group a
{
    text-decoration: none;
}
.label-border
{
    margin-right: 10px;
    padding-top: 7px;

    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
}
/***************************************************************** Footer */
.box-footer h3
{
    font-family: 'PT Sans';
    font-size: 22px;
    font-weight: bold;

    margin: 0 0 6px 0;
    padding: 0;

    letter-spacing: -1px;

    color: #013960;
}
.box-footer p
{
    font-family: 'PT Sans';
    font-size: 16px;

    margin: 0 0 12px 0;

    color: #013960;
}
.box-footer a
{
    color: #013960;
}
.box-footer ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}
.box-footer li
{
    line-height: 24px;

    margin: 0;
    padding: 0;
}
.box-footer .inner
{
    padding: 16px 22px;
}
p.social-links
{
    margin: 15px 0 0 0;
    padding: 15px 0 0 0;

    border-top: 1px solid gray;
}
.social-links i
{
    font-size: 36px;

    margin: 0 10px 0 0;
}
/***************************************************************** Window Closed */
.win-closed
{
    position: relative;

    float: left;
    overflow: hidden;

    width: 100%;
    margin: 0;

    cursor: pointer;
    text-align: center;

    border: none;
}
.box .win-closed p
{
    font-size: 18px;

    margin: 10px 0 0 0;
    padding: 0 20px;
}
.win-closed .screen-off
{
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 200px;

    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
    /* Position */
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);

    background: url(../images/ui/bld-3-3-3-closed.png) center top no-repeat;
}
.win-closed h2.round
{
    font-size: 20px;

    display: inline-block;

    padding: 7px 25px;

    color: #000;
    border: 1px solid #000;
    border-radius: 25px;
    background: none;
}
.win-closed:hover .screen-off
{
    -webkit-transform: translateY(-200px);
       -moz-transform: translateY(-200px);
        -ms-transform: translateY(-200px);
         -o-transform: translateY(-200px);
            transform: translateY(-200px);
}
.win-closed .screen-on
{
    position: absolute;
    z-index: 199;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 200px;

    background: #f0f3f5;
}

.win-closed .title-icon
{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
/***************************************************************** Window Mask */
.window-mask
{
    position: relative;

    float: left;
    overflow: hidden;

    width: 100%;
    margin: 0;

    cursor: pointer;
    text-align: center;

    border: none;
}
.window-mask .mask,
.window-mask .content
{
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 200px;
}
.window-mask img
{
    position: relative;
    top: 0;

    display: block;
}
.window-mask h2
{
    /* text-transform: uppercase; */
    /* font-family: 'Trebuchet MS', Helvetica, sans-serif; */
    /*font-family:'PT Sans';*/
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 24px;
    font-weight: normal;

    position: relative;

    margin: 20px 0 0 0;
    padding: 10px;

    text-align: center;

    color: #fff;
    background: rgba(0, 0, 0, .0);
}
.window-mask h3
{
    /* text-transform: uppercase; */
    font-family: 'PT Sans';
    font-size: 22px;
    /*font-family:'PT Sans Narrow', sans-serif;*/
    font-weight: normal;
    line-height: 22px;

    position: relative;
    bottom: 70px;

    margin: 0;
    padding: 15px 10px;

    text-align: center;
    letter-spacing: 0;

    color: #fff;
    border: none;
    border-radius: 0;
    background: rgba(0, 0, 0, .4);
}
.window-mask h3.line-1
{
    bottom: 50px;

    padding: 15px 10px;
}
.window-mask .obj-info
{
    font-size: 16px;
    /*font-family:'PT Sans';*/
    font-style: normal;

    position: relative;

    display: inline-block;

    padding: 10px 20px 20px;

    text-align: center;

    color: #fff;
}
.window-mask .obj-amount
{
    font-size: 16px;
    font-weight: bold;

    margin-bottom: 12px;
}
.window-mask .price
{
    font-size: 16px;

    margin: 12px 0;
    padding: 5px 20px;

    color: #000;
    border: 1px solid #fff;
    border-radius: 25px;
    background: #fff;
}
.window-mask .big
{
    font-size: 24px;
}
.window-mask img
{
    -webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
         -o-transition: all .2s linear;
            transition: all .2s linear;
}
.window-mask .mask
{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;

    opacity: 0;
    background-color: rgba(0, 0, 0, .5);

    -ms-filter: 'progid: DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
}
.window-mask .mask.mask-blue
{
    background-color: rgba(0, 0, 0, .6);
}
.window-mask h2
{
    /* Speed */
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
    /* Position */
    -webkit-transform: translateY(-100px);
       -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
         -o-transform: translateY(-100px);
            transform: translateY(-100px);

    opacity: 0;
    /* Opacity */

    -ms-filter: 'progid: DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
}
.window-mask h3
{
    /* Position */
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);

    opacity: 1;
    /* Opacity */

    -ms-filter: 'progid: DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}
.window-mask .obj-info
{
    -webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
         -o-transition: all .2s linear;
            transition: all .2s linear;
    -webkit-transform: translateY(100px);
       -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
         -o-transform: translateY(100px);
            transform: translateY(100px);

    opacity: 0;

    -ms-filter: 'progid: DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
}
.window-mask:hover img
{
    -webkit-transform: scale(1.1, 1.1);
       -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
         -o-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
}
.window-mask:hover .mask
{
    opacity: 1;

    -ms-filter: 'progid: DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}
.window-mask:hover h2,
.window-mask:hover .obj-info
{
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);

    opacity: 1;

    -ms-filter: 'progid: DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}
.window-mask:hover h3
{
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
    -webkit-transform: translateY(30px);
       -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
         -o-transform: translateY(30px);
            transform: translateY(30px);

    opacity: 0;

    -ms-filter: 'progid: DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
}
.window-mask:hover .obj-info
{
    -webkit-transition-delay: .1s;
       -moz-transition-delay: .1s;
        -ms-transition-delay: .1s;
         -o-transition-delay: .1s;
            transition-delay: .1s;
}
.window-mask a
{
    text-decoration: none;
}
/***************************************************************** Objects Page */
.map-container
{
    position: relative;

    overflow: hidden;

    height: 0;
    padding: 0;
}
.map-container iframe,
.map-container object,
.map-container embed
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
#objects-box .col-xs-5,
#objects-box .col-xs-7
{
    margin: 0;
    padding: 0;
}
#objects-map,
#objects-list
{
    margin: 0;
    padding: 0;
}
#objects-map
{
    position: relative;

    background: url(../images/ui/transparent.png);
}
#map-canvas
{
    position: absolute;
    left: 15px;

    margin: 0;
    /*width: 100%;*/
    padding: 0;
    /*z-index: 2;*/
}
#objects-list
{
    padding: 0 0 0 10px;
    position: relative;
    background: #f6f5f3;
}
#objects-page
{
    overflow: hidden;

    margin: 59px 0 0 0;
}
#objects-list .wrapper
{
    overflow: auto;
    height: 100%;
    position: relative;
}
#objects-list .col-sm-6,
#objects-list .col-md-4
{
    margin: 0;
    padding: 0;
}
#objects-list .col-sm-6 .obj-item-wrap,
#objects-list .col-md-4 .obj-item-wrap
{
    padding: 0 10px 10px 0;
}
/***************************************************************** Thumbnail */
.thumbnail
{
    font-size: 16px;

    padding: 0;
}
.thumbnail .caption
{
    padding: 0;
}
/*********************************** Thumbnail - Price *****************/
.thumbnail .caption .obj-price
{
    height: 66px;
    padding: 10px 0 0 0;
}
.thumbnail .obj-price .price-main
{
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;

    margin: 0;

    letter-spacing: -1px;
}
.thumbnail .object-price .price-small
{
    font-size: 13px;
    line-height: 13px;
}
/*********************************** Thumbnail - Location *****************/

.thumbnail .obj-location-title .inner
{
    height: 33px;
    padding: 7px 0 0 5px;
    /*border-bottom: 1px solid #ddd;*/

    color: #f00;
}
.thumbnail .obj-location-title a
{
    font-weight: bold;

    text-decoration: none;
    letter-spacing: 1px;
}
/*********************************** Thumbnail - Specification *****************/
.thumbnail .obj-spec .inner
{
    /*padding: 5px 0 0 5px;*/
    height: 34px;
}
.thumbnail .obj-spec-block
{
    padding: 6px 12px;
}
/*********************************** Thumbnail - More details *****************/
.thumbnail .more-details
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;

    display: block;

    width: 100%;
    height: 34px;
    padding: 7px 0;

    text-decoration: none;

    color: #fff;
    background: #ff6e28;
}
.thumbnail .more-details:hover
{
    color: #ff6e28;
    border-top: 2px solid #ff6e28;
    background: #fff;
}
/*********************************** Thumbnail - Streetview *****************/
.thumbnail .obj-streetview .inner
{
    padding: 5px 8px;

    border: none;
}
.thumbnail .obj-streetview a
{
    text-decoration: none;
}
/*********************************** Thumbnail -Image *****************/
.thumbnail .caption div
{
    margin: 0;
    padding: 0;
}
.thumbnail.selected
{
    background: #3C495E;
}
.thumbnail .thumb_image .no-image
{
    font-size: 60px;

    position: relative;

    color: #ddd;
    border-bottom: 1px solid #ddd;
}
.thumbnail .thumb_image .no-image i
{
    position: absolute;
    top: 40%;
    left: 40%;
}
/*********************************** Thumbnail - Rating *****************/
.thumbnail .thumb_image .obj_rating
{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;

    padding: 4px 10px 3px 10px;

    /*cursor: pointer;*/
    /*opacity: .8;*/
    color: #51b64f;
    border-radius: 15px;
    background: #fff;
}
.thumbnail .thumb_image .obj_rating:hover
{
    opacity: 1;
}
.thumbnail .thumb_image .obj_rating span
{
    font-size: 18px;
    font-weight: bold;
}
#objects-list .col-lg-9,
#objects-list .col-lg-3,
.overlay-caption .col-lg-9,
.overlay-caption .col-lg-3
{
    height: 100px;
    margin: 0;
    padding: 0;
}
.thumbnail .caption h3
{
    font-size: 16px;

    margin: 0;
    padding: 0 0 5px 0;
}
#objects-list .col-lg-3,
.overlay-caption .col-lg-3
{
    text-align: center;

    border-left: 1px solid #ddd;
}
#objects-list .col-lg-9 .inner,
.overlay-caption .col-lg-9
{
    border-bottom: 1px solid #ddd;
}
#objects-list .selected .col-lg-9 .inner,
#objects-list .selected .col-lg-3,
#objects-list .selected .obj-spec-block
{
    border-color: #737A84;
    /*border-bottom: none;*/
    color: #fff;
    font-weight: normal;
}
#objects-list .selected .obj-price
{
    background: #47CAE0;
    color: #fff;
    font-weight: normal;
    border-left: none;
}
#objects-list .selected .obj-price
{
    border-left: 1px solid #47CAE0;
}
#objects-list .selected a
{
    color: #fff;
    /*text-decoration: underline;*/
}

/*********************************** StreetView Panorama *****************/
#panorama-box
{
    position: relative;
}
#panorama-box-close,
#panorama-box-open
{
    position: absolute;
    z-index: 2;
    right: 0;

    width: 100px;
    height: 50px;
}
#panorama-box-close .btn,
#panorama-box-open .btn
{
    position: relative;
    top: 15px;
    right: 10px;

    color: #fff;
    border: none;
    border-radius: 0;
    background: #ff6e28;
}
#panorama-box-close .btn:hover,
#panorama-box-open .btn:hover
{
    color: #ff6e28;
    background: #fff;
}
#panorama-box-close .btn i,
#panorama-box-open .btn i
{
    font-size: 17px;

    position: relative;
    top: 3px;
}
/*********************************** bxSlider *****************/
.bxslider li
{
    width: 100%;
    /*height: 200px;*/

    text-align: center;
}
.bxslider li a
{
    text-decoration: none;
}
.bxslider li div.img
{
    /*height: 200px;*/
    position: relative;

    margin: 0 0 0 0;
}
.bxslider li div.img img
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*max-height: 200px;*/

    max-width: 100%;
    margin: auto;
}
/***************************************************************** Gmaps Overlay */
.overlay
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 13px;

    position: relative;
    top: -40px;
    left: 5px;

    display: block;

    width: 433px;
    /*border: 1px solid red;*/
    /*box-shadow:2px 2px 10px #333;*/
    padding: 0;

    border-radius: 0;
    background: #fff;
}
.overlay .col-lg-4,
.overlay .col-lg-5,
.overlay .col-lg-3,
.overlay .row
{
    margin: 0;
    padding: 0;
}
/*********************************** Overlay - Image *****************/
.overlay-image
{
    position: relative;

    overflow: hidden;

    width: 133px;
    height: 100px;
}
.overlay-image .no-image
{
    font-size: 60px;

    position: relative;

    color: #ddd;
    border-bottom: 1px solid #ddd;
}
.overlay-image .no-image i
{
    position: absolute;
    top: 40%;
    left: 40%;
}
.overlay-image img
{
    width: 133px;
    height: 100px;
}
.overlay-image .overlay-box-close
{
    font-size: 14px;

    position: absolute;
    z-index: 400;
    top: 0;
    left: 0;

    width: 25px;
    height: 25px;

    cursor: pointer;

    color: #fff;
    background: #ff6e28;
}
.overlay-image .overlay-box-close i
{
    position: relative;
    top: 5px;
    left: 5px;
}
.overlay-image .overlay-box-close:hover
{
    color: #ff6e28;
    background: #fff;
}
/*********************************** Overlay - Description *****************/
.overlay-desc
{
    width: 200px;
    height: 100px;
    /*border: 1px solid purple;*/
    padding: 0;
}
/*********************************** Overlay - Location *****************/
.obj-location-title .inner
{
    height: 33px;
    padding: 9px 0 0 5px;

    color: #f00;
    border-bottom: 1px solid #ddd;
}
.obj-location-title a
{
    font-weight: bold;

    text-decoration: none;
    letter-spacing: 1px;
}
/*********************************** Overlay - Specification *****************/
.obj-spec .inner
{
    height: 34px;
    padding: 0;

    border-bottom: 1px solid #ddd;
}
.obj-spec-block
{
    font-weight: bold;

    display: inline-block;

    height: 34px;
    margin: 0;
    padding: 9px 12px 0 9px;

    border-right: 1px solid #ddd;
}
/*********************************** Overlay - More details *****************/
.obj-more-details
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;

    display: block;

    width: 100%;
    height: 34px;
    padding: 7px 0;

    text-decoration: none;

    color: #fff;
    background: #ff6e28;
}
.obj-more-details:hover
{
    color: #ff6e28;
    border-top: 2px solid #ff6e28;
    background: #fff;
}
/*********************************** Overlay - Price *****************/
.overlay-price
{
    width: 100px;
    margin: 0;
    padding: 0;

    text-align: center;
    /*border: 1px solid green;*/

    border-left: 1px solid #ddd;
}
.obj-price
{
    height: 66px;
    padding: 15px 0 0 0;
}
.obj-price .price-main
{
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;

    margin: 0;

    letter-spacing: -1px;
}
.object-price .price-small
{
    font-size: 13px;
    line-height: 13px;
}
/*********************************** Overlay - Streetview *****************/
.obj-streetview .inner
{
    padding: 7px 8px;

    color: #f00;
}
.obj-streetview a
{
    text-decoration: none;
}
/********************************************************************/
.overlay_arrow
{
    position: absolute;
    left: 50%;

    width: 0;
    height: 0;
    margin-left: -16px;
}
.overlay_arrow.above
{
    bottom: -9px;

    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.overlay_arrow.below
{
    top: -9px;

    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
}


/***************************************************************** Filters Panel */
.input-round .form-control
{
    font-size: 16px;
    font-weight: normal;

    height: 30px;
    padding: 2px 15px 0 15px;

    text-decoration: none;

    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: none;
}
.btn-round
{
    font-size: 16px;
    font-weight: normal;

    margin-right: 5px;
    padding: 5px 7px;

    text-decoration: none;

    border: 1px solid #fff;
    border-radius: 15px;
}
.btn-round.inner-link
{
    border-style: dashed;
}
.btn-round .padd
{
    padding: 0 5px;
}
.btn-round i
{
    position: relative;
    top: 2px;
}
.btn-round.active
{
    color: #ff6e28;
    border-color: #fff;
    background: #fff;
}

.btn-orange
{
    color: #fff;
    border: 1px solid #ff6e28;
    background: #ff6e28;
}
.btn-orange:hover
{
    color: #ff6e28;
    border-color: #fff;
    background: #fff;
}
.btn-transp
{
    color: #fff;
    border: 1px solid #fff;
    background: none;
}
.btn-transp:hover
{
    color: #ff6e28;
    border-color: #fff;
    background: #fff;
}
.btn-white
{
    color: #ff6e28;
    border-color: #fff;
    background: #fff;
}

.btn-warn
{
    color: #000;
    border: 1px solid #ffe63f;
    background: #ffe63f;
}



.label-line
{
    font-size: 16px;
    font-weight: normal;

    padding: 5px 15px;

    border: 1px solid #fff;
    border-radius: 15px;
}
.label-line i
{
    padding-right: 5px;
}

/***************************************************************** Sorting Buttons */
.btn-sort
{
    height: 30px;
}
.btn-sort .btn-default
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    line-height: 16px;

    height: 30px;
    margin: 0;
    padding: 6px 14px;

    vertical-align: top;
    /*box-shadow: none;*/

    border: 1px solid #fff;
    /*background: none;*/
    border-radius: 15px;
}
.btn-sort .btn-default i
{
    font-size: 11px;
    line-height: 11px;

    padding: 6px 0;
}


/***************************************************************** Apart or Not - help block */
#apart-or-not
{
    padding: 0 0 40px 0;

    text-align: center;

    color: #fff;
}
#apart-or-not h1
{
    font-size: 48px;

    margin: 0 0 0px 0;
}
#apart-or-not h3
{
    font-size: 30px;

    margin: 5px 0 10px 0;
}
#apart-or-not .row
{
    margin: 0 0 10px 0;

    text-align: center;
}
#apart-or-not p
{
    font-size: 22px;

    padding: 0 10px;
}
#apart-or-not .middle
{
    font-size: 24px;
    font-style: italic;

    padding: 20px 0 0 0;
}

/**************************************************************************** Orange Button **/
.orange-btn
{
    font-size: 20px;
    line-height: 20px;

    display: inline-block;

    margin: 0;
    padding: 12px 27px;

    text-decoration: none;
    letter-spacing: .8px;

    color: #fff;
    color: #fff;
    border: 1px solid #ff6e31;
    border: none;
    border-radius: 25px;
    background: #ff6e31;
    -webkit-box-shadow: 0 4px 0 0 #973a12;
       -moz-box-shadow: 0 4px 0 0 #973a12;
            box-shadow: 0 4px 0 0 #973a12;
    text-shadow: none;
}
.orange-btn:hover
{
    position: relative;
    top: 4px;

    cursor: pointer;

    color: #fff;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

/**************************************************************************** Regular Button **/
.regular-btn
{
    font-size: 16px;
    line-height: 16px;

    display: inline-block;

    height: 30px;
    margin: 0;
    /*height: 20px;*/
    padding: 0 15px;

    text-decoration: none;
    letter-spacing: .8px;

    color: #fff;
    border: 1px solid #ff6e31;
    border-radius: 15px;
    background: #ff6e31;
    -webkit-box-shadow: 0 4px 0 0 #973a12;
       -moz-box-shadow: 0 4px 0 0 #973a12;
            box-shadow: 0 4px 0 0 #973a12;
    text-shadow: none;
}
.regular-btn:hover
{
    position: relative;
    top: 4px;

    cursor: pointer;

    color: #fff;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}


/**************************************************************************** BlueImp Gallery **/
#blueimp-gallery
{
    z-index: 10;
}
/**************************************************************************** Dropdown Menu **/
.dropdown-menu
{
    min-width: 600px;

    background: #f0f3f5;
    z-index: 1500;
}
.dropdown-menu li a .badge
{
    background: #ff6e31;
}
.dropdown-menu > li > a:hover
{
    background: #51b64f;
}
.dropdown-menu > li > a
{
    height: 35px;
    padding-top: 8px;

    border: none;
    border-radius: 0;
}
.dropdown-menu > li > a .smartfilter_name
{
    /*border: 1px solid red;*/
    display: inline-block;

    width: 400px;
}
/***********************************************************************  Preloader (zindex 5) *******************************/
#preloader
{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #51b64f;
    /* change if the mask should have another color then white */
}
#status
{
    position: absolute;
    top: 350px;
    left: 50%;

    width: 500px;
    height: 500px;
    margin: -250px 0 0 -250px;

    background-image: url(../images/loader-ui.gif);
    background-repeat: no-repeat;
    background-position: center;
    /* is width and height divided by two */
}
.preloader-logo
{
    width: 250px;
    height: 68px;
    margin: 250px auto 0 auto;

    background: url(../images/ui/logo-mid-white.png) #51b64f 0 0 no-repeat;
}
/***********************************************************************  Tooltips *******************************/
.tooltip-inner
{
    font-weight: normal;

    max-width: 350px;
    padding: 10px 15px;

    color: #fff;
    background-color: #ff6e31;
}
.tooltip.bottom .tooltip-arrow
{
    border-bottom-color: #ff6e31;
}
.tooltip.top .tooltip-arrow
{
    border-top-color: #ff6e31;
}


/********************************************************************************** Under Construction page */
.under-construction
{
    position: fixed;
    z-index: 300;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 100px 0 0 0;

    text-align: center;

    color: #fff;
    background-color: #51b64f;
}
.under-construction .bordered
{
    width: 500px;
    margin: 0 auto;
    padding: 15px;

    border: 1px solid #fff;
    border-radius: 15px;
}
.under-construction h1,
.under-construction h2
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;

    margin: 0;
    padding: 0;
}
.under-construction h1
{
    margin: 0 0 12px 0;
}
.under-construction h2
{
    font-size: 22px;
}

.under-construction-logo
{
    width: 250px;
    height: 68px;
    margin: 200px auto 20px auto;

    background: url(../images/ui/logo-mid-white.png) #51b64f 0 0 no-repeat;
}


/********************************************************************************* TypeHead */
.typeahead,
.tt-query,
.tt-hint
{
    font-size: 24px;
    line-height: 30px;

    width: 396px;
    height: 30px;
    padding: 8px 12px;
    /*border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  */

    outline: none;
}

.tt-input
{
    border: 1px solid red;
}

.typeahead
{
    background-color: #fff;
}

.typeahead:focus
{
    border: 2px solid #0097cf;
}

.tt-query
{
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

}

.tt-hint
{
    color: #999;
}

.tt-dropdown-menu
{
    overflow-y: auto;

    width: 422px;
    /*border-top-left-radius: 0;*/
    /*  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
*/
    max-height: 250px;
    margin-top: 0;
    padding: 8px 0;

    border-radius: 25px;
    background-color: #fff;
}

.tt-suggestion
{
    font-size: 18px;
    line-height: 24px;

    padding: 3px 20px;
}

.tt-suggestion.tt-cursor
{
    color: #fff;
    background-color: #ff6e31;
}
.tt-suggestion.tt-cursor .tt-highlight
{
    color: #000;
}

.tt-suggestion p
{
    margin: 0;
}
.tty-empty-message
{
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.tt-highlight
{
    background: #FFFF33;

}
.tty-district
{
    font-size: 14px;
    color: #ccc;
}
.gist
{
    font-size: 14px;
}
.twitter-typeahead
{
    float: left;
}
/********************************************************************************* TypeHead - END */




/********************************************************************************* Help & Content pages */
.help
{
    margin: 114px 0 0 0;
    /*padding: 114px 0 0 0;*/
    font-size: 18px;
}
.help .adv-item
{
    text-align: center;
}
.help .adv-item .icon
{
    font-size: 52px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.help .adv-item .help-adv-title
{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1ABC9C;
}
.help .adv-item p
{
    color: #96A6A7;
}


.help-content 
{
    /*border: 1px solid red;*/
    font-size: 18px;
}
.help-content h1, .help-content h2, .help-content h3, .help-content h4
{
    font-family: 'PT Sans';
    /*color: #5CB85C;*/
    color: #2C3E50;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 20px 0;
}
.help-content .panel-title
{
    font-weight: bold;
    padding: 10px;
}
.help-content h1
{
    font-size: 55px;
}

.help-content  p
{
    font-size: 20px;
    margin-bottom: 30px;
}
.help-content .alert
{
    text-align: left;
    font-size: 22px;
}
.help .col
{
    /*border: 1px solid red;*/
    padding: 0;
    margin: 0;
}

.help-title
{
/*  position: relative;
    padding: 55px 0 20px 0;
    border: 0 solid red;
*/
    margin: 59px 0 0 0;
    padding: 0;
    background:  #5cb85c;
    color: #FFF;
    font-weight: normal;
    height: 50px;
    /*position: relative;*/
    z-index: 500;
}
.help-title h1
{
    font-weight: normal;
    font-family: 'PT Sans';
    font-size: 24px;
    line-height: 24px;
    position: relative;
    top: -6px;
}

.help-tasks .col
{
    text-align: center;
}
 .help-tasks .task-num
 {
    font-size: 36px;
    color: #ccc;
 }
 h4.help-title-orange
 {
    font-size: 32px;
    color: #FF6224;
    margin: 30px 0 40px 0;
 }
 .btn-big-orange
 {
    font-family: 'PT Sans';
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #FFF;
    background: #FE6C30;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    padding: 20px 35px 20px 35px;
    margin: 0 auto;
    width: 280px;
 }
.btn-big-orange:hover
 {
    color: #fff;
    background: #25C4D3;

 }

/********************************************************************************* Object - Booking - Steps */
.help-book-steps-nav
{
    margin: 20px 0;
    /*border: 1px solid red;*/

}
.help-book-step
{
    font-family: 'PT Sans';
    font-size: 30px;
    line-height: 30px;

    display: block;

    width: 50px;
    height: 50px;
    margin: 0 auto 20px auto;
    padding: 10px 0 0 0;


    text-decoration: none;

    border-radius: 25px;
}
.help-book-step.active
{
    background: red;
}
.help-book-step-title
{
    font-size: 18px;
    width: 150px;
    display: block;
    margin: 0 auto;
    color: #96A6A7;
}
.help-book-step-current
{
    border: 1px solid #FF6E31;    
    color: #FFF;
    background: #FF6E31;
    
}
.help-book-step-past
{
    border: 1px solid #FF6E31;    
    color: #FF6E31;
    background: none;
}
.help-book-step-past:hover
{
    color: #fff;
    background: #FF6E31;
}
.help-book-step-future
{
    border: 1px solid #898989;    
    color: #898989;
}

.help-book-steps-nav .col
{
    text-align: center;
    padding: 0;
    margin: 0;
}

.help-step-tab-img
{
    border: 1px solid #ccc;
}

.help-step-img-1
{
    background: url(../../../images/ui/help/help-step-1.jpg) 0 0 no-repeat;
    height: 461px;
}

