<form method="post" action="<?=$this->url(array('action' => 'multiupdate', ));?>" enctype="multipart/form-data" id="sub-action-form">

    <? if($this->qty): ?>

        <table class="table table-hover sortable" id="watable">
            <thead>
                <tr>
                    <th width="30" class="do-not-sort">&nbsp;</th>
                    <th><?=$this->translate('City ID');?></th>
                    <th><?=$this->translate('Key ID');?></th>
                    <th><?=$this->translate('OKATO');?></th>
                    <th><?=$this->translate('Name');?></th>
                    <th><?=$this->translate('District');?></th>
                    <th><?=$this->translate('ZIP');?></th>
                    <th><?=$this->translate('Type');?></th>
                    <th><?=$this->translate('2GIS Name');?></th>
                    <th><?=$this->translate('Objects');?></th>
                </tr>
            </thead>
            <tbody>
                <? echo $this->partialLoop('kladr/index-row.phtml', $this->items); ?>
            </tbody>
        </table>

        <? else: ?>

        <div class="alert alert-info"><?=$this->translate("Section is empty");?></div>

        <? endif; ?>



    <input type="hidden" name="mode">


    <div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="dataConfirmLabel"><i class="ico-trash"></i> <?=$this->translate("Delete Confirm");?></h4>
                </div>

                <div class="modal-body">
                    <div class="control-group">

                        <p><span class="label label-warning">ВНИМАНИЕ</span> Это действие не может быть отменено. Вы уверены что хотите удалить этот элемент ?</p>
                    </div>
                </div>

                <div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true"><?=$this->translate("Cancel");?></button><button type="submit" class="btn btn-danger" action-form="sub-action-form"><?=$this->translate("Delete");?></button></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <div class="modal fade" id="import-data" tabindex="-1" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="dataConfirmLabel"><i class="ico-download-alt"></i> <?=$this->translate("Import data");?></h4>
                </div>

                <div class="modal-body">
                    <div class="control-group">
                        <p>
                            <span class="label label-warning">ВНИМАНИЕ</span><br>
                            Формат импортируемых данных: построчный, разделенный символом "|".<br><br>
                            <span class="label label-info">ПРИМЕР</span><br>
                            1|UID|name_en|description_en|name_ru|description_ru<br>
                            <ul>
                                <li>1 - порядок сортировки, целове число</li>
                                <li>UID - универсальный ID поля, слово на латинице</li>
                                <li>name_en - название, англ.</li>
                                <li>description_en - описание, англ.</li>
                                <li>name_ru - название, рус.</li>
                                <li>description_ru - описание, рус.</li>
                            </ul>
                        </p>

                        <div class="form-group">
                            <label for=""><?=$this->translate("Data");?></label>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea name="import_data" id="import_data" helper="formTextarea" class="form-control" placeholder="" rows="16" cols="80"></textarea>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.form-group -->

                    </div>
                </div>


                <div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true"><?=$this->translate("Cancel");?></button><button type="submit" class="btn btn-primary">OK</button></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



</form>

