<div class="navbar navbar-subnavbar navbar-fixed-top" role="navigation">
    <div class="container">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse-ex2">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h3 class="navbar-brand"><i class="ico-location-2"></i> <?=$this->translate("KLADR");?></h3>
        </div>

        <div class="navbar-collapse collapse collapse-ex2">
            <ul class="nav navbar-nav">

                <li>
                    <div class="btn-group btn-group-sm">

                        <? if($this->getHelper('Partial')->view->qty > 0): ?>

                        <a href="<?=$this->url(array('action' => 'recalc'));?>" class="btn btn-sm btn-success"><i class="ico-numbered-list"></i> <?=$this->translate("Calculate objects");?></a>

                        <? endif; ?>

                    </div><!--/.btn-group-->
                </li>

                <li>
                    <div class="btn-group btn-group-sm">

                        <a href="<?=$this->url(array('action' => 'install'));?>" class="btn btn-sm btn-warning"><i class="ico-download-4"></i> <?=$this->translate("Install");?></a>

                        <? if($this->getHelper('Partial')->view->qty > 0): ?>

                        <a href="<?=$this->url(array('action' => 'rebuild'));?>" class="btn btn-sm btn-primary"><i class="ico-refresh"></i> <?=$this->translate("Rebuild");?></a>

                        <? endif; ?>

                    </div><!--/.btn-group-->
                </li>

            </ul><!--/.nav navbar-nav-->
        </div><!--/.navbar-collapse-->


    </div><!--/.container-->
</div><!--/.navbar navbar-subnavbar navbar-fixed-top-->

