<form method="<?php echo $this->form->getMethod() ?>" action="<?php echo $this->form->getAction() ?>" role="form">


    <fieldset id="fieldset-ab_group2"><legend><?=$this->translate("Main content");?></legend>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label for=""><?=$this->translate("City ID");?></label>
                    <?=$this->form->kl_city;?>
                </div>

                <div class="col-md-3">
                    <label for=""><?=$this->translate("Key ID");?></label>
                    <?=$this->form->kl_keyid;?>
                </div>

                <div class="col-md-3">
                    <label for=""><?=$this->translate("OKATO");?></label>
                    <?=$this->form->kl_okato;?>
                </div>

                <div class="col-md-3">
                    <label for=""><?=$this->translate("Distrct");?></label>
                    <?=$this->form->kl_district;?>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label for=""><?=$this->translate("ZIP");?></label>
                    <?=$this->form->kl_zip;?>
                </div>

                <div class="col-md-1">
                    <label for=""><?=$this->translate("Type short");?></label>
                    <?=$this->form->kl_type_short;?>
                </div>

                <div class="col-md-2">
                    <label for=""><?=$this->translate("Type");?></label>
                    <?=$this->form->kl_type;?>
                </div>

                <div class="col-md-3">
                    <label for=""><?=$this->translate("Name");?></label>
                    <?=$this->form->kl_name;?>
                </div>

                <div class="col-md-3">
                    <label for=""><?=$this->translate("2GIS Name");?></label>
                    <?=$this->form->kl_2gis;?>
                </div>

            </div>
        </div>

    </fieldset>

    <?=$this->form->kl_id;?>

    <div class="btn-group btn-group-sm">
        <button type="submit" class="btn btn-sm btn-primary"><i class="ico-ok"></i> <?=$this->translate("Save changes");?></button>
        <a type="button" class="btn btn-sm btn-danger" href="<?=$this->url(array('action' => 'index'));?>"><i class="ico-close"></i> <?=$this->translate("Cancel");?></a>
    </div>


</form>
