@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-antique20:before {
	content: "\e000";
}
.flaticon-armchair1:before {
	content: "\e001";
}
.flaticon-audio39:before {
	content: "\e002";
}
.flaticon-baby139:before {
	content: "\e003";
}
.flaticon-bathroom10:before {
	content: "\e004";
}
.flaticon-bathroom11:before {
	content: "\e005";
}
.flaticon-bathroom12:before {
	content: "\e006";
}
.flaticon-bathroom13:before {
	content: "\e007";
}
.flaticon-bathroom14:before {
	content: "\e008";
}
.flaticon-bathroom15:before {
	content: "\e009";
}
.flaticon-bathroom16:before {
	content: "\e00a";
}
.flaticon-bathroom17:before {
	content: "\e00b";
}
.flaticon-bathroom18:before {
	content: "\e00c";
}
.flaticon-bathroom19:before {
	content: "\e00d";
}
.flaticon-bathroom20:before {
	content: "\e00e";
}
.flaticon-bathroom21:before {
	content: "\e00f";
}
.flaticon-bathroom22:before {
	content: "\e010";
}
.flaticon-bathroom23:before {
	content: "\e011";
}
.flaticon-bathroom2:before {
	content: "\e012";
}
.flaticon-bathroom3:before {
	content: "\e013";
}
.flaticon-bathroom4:before {
	content: "\e014";
}
.flaticon-bathroom5:before {
	content: "\e015";
}
.flaticon-bathroom6:before {
	content: "\e016";
}
.flaticon-bathroom7:before {
	content: "\e017";
}
.flaticon-bathroom8:before {
	content: "\e018";
}
.flaticon-bathroom9:before {
	content: "\e019";
}
.flaticon-bathtub3:before {
	content: "\e01a";
}
.flaticon-bed16:before {
	content: "\e01b";
}
.flaticon-bed17:before {
	content: "\e01c";
}
.flaticon-bedromm:before {
	content: "\e01d";
}
.flaticon-bedroom10:before {
	content: "\e01e";
}
.flaticon-bedroom11:before {
	content: "\e01f";
}
.flaticon-bedroom12:before {
	content: "\e020";
}
.flaticon-bedroom13:before {
	content: "\e021";
}
.flaticon-bedroom14:before {
	content: "\e022";
}
.flaticon-bedroom15:before {
	content: "\e023";
}
.flaticon-bedroom16:before {
	content: "\e024";
}
.flaticon-bedroom17:before {
	content: "\e025";
}
.flaticon-bedroom2:before {
	content: "\e026";
}
.flaticon-bedroom3:before {
	content: "\e027";
}
.flaticon-bedroom4:before {
	content: "\e028";
}
.flaticon-bedroom5:before {
	content: "\e029";
}
.flaticon-bedroom6:before {
	content: "\e02a";
}
.flaticon-bedroom7:before {
	content: "\e02b";
}
.flaticon-bedroom8:before {
	content: "\e02c";
}
.flaticon-bedroom9:before {
	content: "\e02d";
}
.flaticon-big99:before {
	content: "\e02e";
}
.flaticon-black335:before {
	content: "\e02f";
}
.flaticon-black336:before {
	content: "\e030";
}
.flaticon-black337:before {
	content: "\e031";
}
.flaticon-black338:before {
	content: "\e032";
}
.flaticon-black339:before {
	content: "\e033";
}
.flaticon-black340:before {
	content: "\e034";
}
.flaticon-bottle27:before {
	content: "\e035";
}
.flaticon-box50:before {
	content: "\e036";
}
.flaticon-bricks5:before {
	content: "\e037";
}
.flaticon-bubbles3:before {
	content: "\e038";
}
.flaticon-building28:before {
	content: "\e039";
}
.flaticon-bunk1:before {
	content: "\e03a";
}
.flaticon-candle6:before {
	content: "\e03b";
}
.flaticon-chair11:before {
	content: "\e03c";
}
.flaticon-children1:before {
	content: "\e03d";
}
.flaticon-circular157:before {
	content: "\e03e";
}
.flaticon-circular158:before {
	content: "\e03f";
}
.flaticon-cleaning10:before {
	content: "\e040";
}
.flaticon-cleaning11:before {
	content: "\e041";
}
.flaticon-cleaning12:before {
	content: "\e042";
}
.flaticon-cleaning13:before {
	content: "\e043";
}
.flaticon-cleaning14:before {
	content: "\e044";
}
.flaticon-cleaning15:before {
	content: "\e045";
}
.flaticon-cleaning7:before {
	content: "\e046";
}
.flaticon-cleaning8:before {
	content: "\e047";
}
.flaticon-cleaning9:before {
	content: "\e048";
}
.flaticon-closed51:before {
	content: "\e049";
}
.flaticon-clothes16:before {
	content: "\e04a";
}
.flaticon-clothes17:before {
	content: "\e04b";
}
.flaticon-clothespin1:before {
	content: "\e04c";
}
.flaticon-coat3:before {
	content: "\e04d";
}
.flaticon-corkscrew3:before {
	content: "\e04e";
}
.flaticon-covered20:before {
	content: "\e04f";
}
.flaticon-cream:before {
	content: "\e050";
}
.flaticon-cutting8:before {
	content: "\e051";
}
.flaticon-dark48:before {
	content: "\e052";
}
.flaticon-desk7:before {
	content: "\e053";
}
.flaticon-dining1:before {
	content: "\e054";
}
.flaticon-dining2:before {
	content: "\e055";
}
.flaticon-dining3:before {
	content: "\e056";
}
.flaticon-dining4:before {
	content: "\e057";
}
.flaticon-dining5:before {
	content: "\e058";
}
.flaticon-dining6:before {
	content: "\e059";
}
.flaticon-dining7:before {
	content: "\e05a";
}
.flaticon-dining8:before {
	content: "\e05b";
}
.flaticon-dining9:before {
	content: "\e05c";
}
.flaticon-door14:before {
	content: "\e05d";
}
.flaticon-door15:before {
	content: "\e05e";
}
.flaticon-door16:before {
	content: "\e05f";
}
.flaticon-door17:before {
	content: "\e060";
}
.flaticon-door18:before {
	content: "\e061";
}
.flaticon-drawer6:before {
	content: "\e062";
}
.flaticon-dvd5:before {
	content: "\e063";
}
.flaticon-economic:before {
	content: "\e064";
}
.flaticon-electric43:before {
	content: "\e065";
}
.flaticon-electric44:before {
	content: "\e066";
}
.flaticon-electric45:before {
	content: "\e067";
}
.flaticon-electric46:before {
	content: "\e068";
}
.flaticon-electric47:before {
	content: "\e069";
}
.flaticon-electric48:before {
	content: "\e06a";
}
.flaticon-electric49:before {
	content: "\e06b";
}
.flaticon-electric50:before {
	content: "\e06c";
}
.flaticon-electric51:before {
	content: "\e06d";
}
.flaticon-electrical10:before {
	content: "\e06e";
}
.flaticon-electrical11:before {
	content: "\e06f";
}
.flaticon-electronic55:before {
	content: "\e070";
}
.flaticon-electronic56:before {
	content: "\e071";
}
.flaticon-elegant22:before {
	content: "\e072";
}
.flaticon-elegant23:before {
	content: "\e073";
}
.flaticon-fan12:before {
	content: "\e074";
}
.flaticon-fire33:before {
	content: "\e075";
}
.flaticon-fireplace1:before {
	content: "\e076";
}
.flaticon-flowers12:before {
	content: "\e077";
}
.flaticon-fluffy2:before {
	content: "\e078";
}
.flaticon-frying1:before {
	content: "\e079";
}
.flaticon-garage10:before {
	content: "\e07a";
}
.flaticon-garage3:before {
	content: "\e07b";
}
.flaticon-garage4:before {
	content: "\e07c";
}
.flaticon-garage5:before {
	content: "\e07d";
}
.flaticon-garage6:before {
	content: "\e07e";
}
.flaticon-garage7:before {
	content: "\e07f";
}
.flaticon-garage8:before {
	content: "\e080";
}
.flaticon-garage9:before {
	content: "\e081";
}
.flaticon-gardening1:before {
	content: "\e082";
}
.flaticon-glass42:before {
	content: "\e083";
}
.flaticon-grass:before {
	content: "\e084";
}
.flaticon-hairdryer8:before {
	content: "\e085";
}
.flaticon-hammer44:before {
	content: "\e086";
}
.flaticon-hand127:before {
	content: "\e087";
}
.flaticon-hanging11:before {
	content: "\e088";
}
.flaticon-home114:before {
	content: "\e089";
}
.flaticon-home115:before {
	content: "\e08a";
}
.flaticon-hose:before {
	content: "\e08b";
}
.flaticon-house100:before {
	content: "\e08c";
}
.flaticon-house101:before {
	content: "\e08d";
}
.flaticon-house102:before {
	content: "\e08e";
}
.flaticon-house103:before {
	content: "\e08f";
}
.flaticon-house104:before {
	content: "\e090";
}
.flaticon-house105:before {
	content: "\e091";
}
.flaticon-house106:before {
	content: "\e092";
}
.flaticon-house107:before {
	content: "\e093";
}
.flaticon-house108:before {
	content: "\e094";
}
.flaticon-house95:before {
	content: "\e095";
}
.flaticon-house96:before {
	content: "\e096";
}
.flaticon-house97:before {
	content: "\e097";
}
.flaticon-house98:before {
	content: "\e098";
}
.flaticon-house99:before {
	content: "\e099";
}
.flaticon-iron12:before {
	content: "\e09a";
}
.flaticon-jar16:before {
	content: "\e09b";
}
.flaticon-key141:before {
	content: "\e09c";
}
.flaticon-king11:before {
	content: "\e09d";
}
.flaticon-kitchen47:before {
	content: "\e09e";
}
.flaticon-kitchen48:before {
	content: "\e09f";
}
.flaticon-kitchen49:before {
	content: "\e0a0";
}
.flaticon-kitchen50:before {
	content: "\e0a1";
}
.flaticon-kitchen51:before {
	content: "\e0a2";
}
.flaticon-kitchen52:before {
	content: "\e0a3";
}
.flaticon-kitchen53:before {
	content: "\e0a4";
}
.flaticon-kitchen54:before {
	content: "\e0a5";
}
.flaticon-kitchen55:before {
	content: "\e0a6";
}
.flaticon-kitchen56:before {
	content: "\e0a7";
}
.flaticon-kitchen57:before {
	content: "\e0a8";
}
.flaticon-kitchen58:before {
	content: "\e0a9";
}
.flaticon-kitchen59:before {
	content: "\e0aa";
}
.flaticon-kitchen60:before {
	content: "\e0ab";
}
.flaticon-kitchen61:before {
	content: "\e0ac";
}
.flaticon-kitchen62:before {
	content: "\e0ad";
}
.flaticon-kitchen63:before {
	content: "\e0ae";
}
.flaticon-kitchen64:before {
	content: "\e0af";
}
.flaticon-kitchen65:before {
	content: "\e0b0";
}
.flaticon-lamp15:before {
	content: "\e0b1";
}
.flaticon-lamp16:before {
	content: "\e0b2";
}
.flaticon-leaves11:before {
	content: "\e0b3";
}
.flaticon-lightbulb38:before {
	content: "\e0b4";
}
.flaticon-living1:before {
	content: "\e0b5";
}
.flaticon-livingroom10:before {
	content: "\e0b6";
}
.flaticon-livingroom11:before {
	content: "\e0b7";
}
.flaticon-livingroom12:before {
	content: "\e0b8";
}
.flaticon-livingroom13:before {
	content: "\e0b9";
}
.flaticon-livingroom14:before {
	content: "\e0ba";
}
.flaticon-livingroom15:before {
	content: "\e0bb";
}
.flaticon-livingroom16:before {
	content: "\e0bc";
}
.flaticon-livingroom17:before {
	content: "\e0bd";
}
.flaticon-livingroom18:before {
	content: "\e0be";
}
.flaticon-livingroom19:before {
	content: "\e0bf";
}
.flaticon-livingroom1:before {
	content: "\e0c0";
}
.flaticon-livingroom20:before {
	content: "\e0c1";
}
.flaticon-livingroom2:before {
	content: "\e0c2";
}
.flaticon-livingroom3:before {
	content: "\e0c3";
}
.flaticon-livingroom4:before {
	content: "\e0c4";
}
.flaticon-livingroom5:before {
	content: "\e0c5";
}
.flaticon-livingroom6:before {
	content: "\e0c6";
}
.flaticon-livingroom7:before {
	content: "\e0c7";
}
.flaticon-livingroom8:before {
	content: "\e0c8";
}
.flaticon-livingroom9:before {
	content: "\e0c9";
}
.flaticon-livingroom:before {
	content: "\e0ca";
}
.flaticon-living:before {
	content: "\e0cb";
}
.flaticon-long37:before {
	content: "\e0cc";
}
.flaticon-magazines:before {
	content: "\e0cd";
}
.flaticon-mail65:before {
	content: "\e0ce";
}
.flaticon-microwave3:before {
	content: "\e0cf";
}
.flaticon-mixer6:before {
	content: "\e0d0";
}
.flaticon-mixer7:before {
	content: "\e0d1";
}
.flaticon-mixer8:before {
	content: "\e0d2";
}
.flaticon-modern12:before {
	content: "\e0d3";
}
.flaticon-mop1:before {
	content: "\e0d4";
}
.flaticon-mop2:before {
	content: "\e0d5";
}
.flaticon-mouse39:before {
	content: "\e0d6";
}
.flaticon-mower2:before {
	content: "\e0d7";
}
.flaticon-opened16:before {
	content: "\e0d8";
}
.flaticon-opened17:before {
	content: "\e0d9";
}
.flaticon-organizer:before {
	content: "\e0da";
}
.flaticon-ornamental5:before {
	content: "\e0db";
}
.flaticon-ornamental6:before {
	content: "\e0dc";
}
.flaticon-oven5:before {
	content: "\e0dd";
}
.flaticon-oven6:before {
	content: "\e0de";
}
.flaticon-paintbrush4:before {
	content: "\e0df";
}
.flaticon-painting36:before {
	content: "\e0e0";
}
.flaticon-pepper2:before {
	content: "\e0e1";
}
.flaticon-phone326:before {
	content: "\e0e2";
}
.flaticon-picture17:before {
	content: "\e0e3";
}
.flaticon-pipes1:before {
	content: "\e0e4";
}
.flaticon-plant34:before {
	content: "\e0e5";
}
.flaticon-plant35:before {
	content: "\e0e6";
}
.flaticon-plant36:before {
	content: "\e0e7";
}
.flaticon-plants:before {
	content: "\e0e8";
}
.flaticon-plug25:before {
	content: "\e0e9";
}
.flaticon-queen9:before {
	content: "\e0ea";
}
.flaticon-radio41:before {
	content: "\e0eb";
}
.flaticon-rake1:before {
	content: "\e0ec";
}
.flaticon-rake:before {
	content: "\e0ed";
}
.flaticon-razor5:before {
	content: "\e0ee";
}
.flaticon-refrigerator4:before {
	content: "\e0ef";
}
.flaticon-salt5:before {
	content: "\e0f0";
}
.flaticon-sewing9:before {
	content: "\e0f1";
}
.flaticon-short39:before {
	content: "\e0f2";
}
.flaticon-shovel5:before {
	content: "\e0f3";
}
.flaticon-shower8:before {
	content: "\e0f4";
}
.flaticon-small170:before {
	content: "\e0f5";
}
.flaticon-spotted1:before {
	content: "\e0f6";
}
.flaticon-square114:before {
	content: "\e0f7";
}
.flaticon-squeezer:before {
	content: "\e0f8";
}
.flaticon-steering5:before {
	content: "\e0f9";
}
.flaticon-stones:before {
	content: "\e0fa";
}
.flaticon-striped13:before {
	content: "\e0fb";
}
.flaticon-striped14:before {
	content: "\e0fc";
}
.flaticon-studio10:before {
	content: "\e0fd";
}
.flaticon-studio11:before {
	content: "\e0fe";
}
.flaticon-studio12:before {
	content: "\e0ff";
}
.flaticon-studio13:before {
	content: "\e100";
}
.flaticon-studio14:before {
	content: "\e101";
}
.flaticon-studio15:before {
	content: "\e102";
}
.flaticon-studio1:before {
	content: "\e103";
}
.flaticon-studio2:before {
	content: "\e104";
}
.flaticon-studio3:before {
	content: "\e105";
}
.flaticon-studio4:before {
	content: "\e106";
}
.flaticon-studio5:before {
	content: "\e107";
}
.flaticon-studio6:before {
	content: "\e108";
}
.flaticon-studio7:before {
	content: "\e109";
}
.flaticon-studio8:before {
	content: "\e10a";
}
.flaticon-studio9:before {
	content: "\e10b";
}
.flaticon-studio:before {
	content: "\e10c";
}
.flaticon-swimming19:before {
	content: "\e10d";
}
.flaticon-table38:before {
	content: "\e10e";
}
.flaticon-three116:before {
	content: "\e10f";
}
.flaticon-toothbrush1:before {
	content: "\e110";
}
.flaticon-toothbrush2:before {
	content: "\e111";
}
.flaticon-two212:before {
	content: "\e112";
}
.flaticon-two213:before {
	content: "\e113";
}
.flaticon-umbrella29:before {
	content: "\e114";
}
.flaticon-vacuum6:before {
	content: "\e115";
}
.flaticon-vintage61:before {
	content: "\e116";
}
.flaticon-vintage62:before {
	content: "\e117";
}
.flaticon-wall22:before {
	content: "\e118";
}
.flaticon-washing11:before {
	content: "\e119";
}
.flaticon-water46:before {
	content: "\e11a";
}
.flaticon-water47:before {
	content: "\e11b";
}
.flaticon-watering8:before {
	content: "\e11c";
}
.flaticon-watering9:before {
	content: "\e11d";
}
.flaticon-wheelbarrow4:before {
	content: "\e11e";
}
.flaticon-window41:before {
	content: "\e11f";
}
.flaticon-wine52:before {
	content: "\e120";
}
.flaticon-wine53:before {
	content: "\e121";
}
.flaticon-wood6:before {
	content: "\e122";
}
.flaticon-wrench61:before {
	content: "\e123";
}
.flaticon-yard1:before {
	content: "\e124";
}
.flaticon-yard2:before {
	content: "\e125";
}
.flaticon-yard3:before {
	content: "\e126";
}
.flaticon-yard4:before {
	content: "\e127";
}
.flaticon-yard5:before {
	content: "\e128";
}
.flaticon-yard6:before {
	content: "\e129";
}
.flaticon-yard7:before {
	content: "\e12a";
}
.flaticon-yard8:before {
	content: "\e12b";
}
.flaticon-yard9:before {
	content: "\e12c";
}
.flaticon-yard:before {
	content: "\e12d";
}
