<form method="post" action="<?=$this->url(array('action' => 'multiupdate', ));?>" enctype="multipart/form-data" id="sub-action-form">

    <? if($this->qty): ?>

        <table class="table table-hover sortable" id="watable">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th><input type="checkbox" value="checkbox" onClick="checkAll(this.form,'customize_items[]',this.checked)"></th>
                    <th>&nbsp;</th>
                    <th align="center"><i class="ico-camera"></i></th>
                    <th><?=$this->translate('Object name');?></th>
                    <th><?=$this->translate('Price');?></th>
                    <th align="center"><?=$this->translate('Rooms');?></th>
                    <th align="center"><?=$this->translate('Guests');?></th>
                    <th><?=$this->translate('Object type');?></th>
                    <th><?=$this->translate('Codename');?></th>
                    <th><?=$this->translate('UID');?></th>
                    <th><?=$this->translate('Update time');?></th>
                    <th><?=$this->translate('Update time');?></th>
                    <th><?=$this->translate('ID');?></th>
                </tr>
            </thead>
            <tbody>
                <?
                    echo $this->partialLoop('object/index-row.phtml', $this->items);
                ?>
            </tbody>
        </table>

        <? else: ?>

        <div class="alert alert-info"><?=$this->translate("Section is empty");?></div>

        <? endif; ?>

    <input type="hidden" name="mode">

    <div id="modal-import" class="hidden">
        <div class="title"><i class="ico-download-alt"></i> <?=$this->translate("Import data");?></div>
        <div class="message">
            <p>
                <span class="label label-warning">ВНИМАНИЕ</span><br>
                Формат импортируемых данных: построчный, разделенный символом "|".<br><br>
                <span class="label label-info">ПРИМЕР</span><br>
                1|UID|name_en|description_en|name_ru|description_ru<br>
                <ul>
                    <li>1 - порядок сортировки, целове число</li>
                    <li>UID - универсальный ID поля, слово на латинице</li>
                    <li>name_en - название, англ.</li>
                    <li>description_en - описание, англ.</li>
                    <li>name_ru - название, рус.</li>
                    <li>description_ru - описание, рус.</li>
                </ul>
            </p>

            <form>
                <div class="form-group">
                    <label for=""><?=$this->translate("Data");?></label>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea name="import_data" id="import_data" helper="formTextarea" class="form-control" placeholder="" rows="8" cols="80"></textarea>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.form-group -->
            </form>

        </div>
    </div>

    <div class="modal fade" id="import-data" tabindex="-1" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="dataConfirmLabel"><i class="ico-download-alt"></i> <?=$this->translate("Import data");?></h4>
                </div>

                <div class="modal-body">
                    <div class="control-group">
                        <p>
                            <span class="label label-warning">ВНИМАНИЕ</span><br>
                            Формат импортируемых данных: построчный, разделенный символом "|".<br><br>
                            <span class="label label-info">ПРИМЕР</span><br>
                            1|UID|name_en|description_en|name_ru|description_ru<br>
                            <ul>
                                <li>1 - порядок сортировки, целове число</li>
                                <li>UID - универсальный ID поля, слово на латинице</li>
                                <li>name_en - название, англ.</li>
                                <li>description_en - описание, англ.</li>
                                <li>name_ru - название, рус.</li>
                                <li>description_ru - описание, рус.</li>
                            </ul>
                        </p>

                        <div class="form-group">
                            <label for=""><?=$this->translate("Data");?></label>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea name="import_data" id="import_data" helper="formTextarea" class="form-control" placeholder="" rows="8" cols="80"></textarea>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.form-group -->

                    </div>
                </div>


                <div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true"><?=$this->translate("Cancel");?></button><button type="submit" class="btn btn-primary" action-form="sub-action-form">OK</button></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



</form>



