<h2><?=$this->translate("Settings");?>: <?=$this->translate("Edit");?></h2>
<a href="<?=$this->url(array('action' => 'index'));?>" class="btn"><i class="icon-list"></i> <i class="icon-reply"></i> <?=$this->translate("Back to list");?></a>
<hr>

<form method="<?php echo $this->form->getMethod() ?>" action="<?php echo $this->form->getAction() ?>">
  
    <div class="control-group">
        <label class="control-label" for=""><?=$this->form->c_name->getLabel();?> = <?=$this->form->c_value->getLabel();?></label>
        <div class="controls controls-row">
            <?=$this->form->c_name;?>
            <?=$this->form->c_value;?>
        </div>
    </div>
    
    <div class="control-group">

        <label class="control-label" for=""><?=$this->form->c_desc->getLabel();?></label>
        <div class="controls controls-row">
            <?=$this->form->c_desc;?>
        </div>

    </div>

    <?=$this->form->c_id;?>

    <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> <?=$this->translate("Save changes");?></button>
    <a href="<?=$this->url(array('action' => 'index'));?>" class="btn btn-danger"><i class="icon-ban-circle"></i> <?=$this->translate("Cancel");?></a>
                  
</form>
