<?
    require_once("Util.php");
?>
<tr>

    <td>
        <div class="btn-group btn-group-sm">
            <a class="btn btn-xs dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="ico-wrench-2"/></i>
            </a>
            <ul class="dropdown-menu pull-left">
                <li><a href="<?=$this->url(array('action' => 'restore', 'id' => $this->name));?>"><i class="ico-hdd"/></i> <?=$this->translate("Restore");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'download', 'id' => $this->name));?>"><i class="ico-download-alt"/></i> <?=$this->translate("Download");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'delete',  'id' => $this->name));?>" class="modal-triger" rel="nofollow" data-modal="delete-confirm"><i class="ico-trash"/></i> <?=$this->translate("Delete");?></a></li>
            </ul>
        </div>
    </td>


    <td><input type='checkbox' name='customize_items[]' value='<?=$this->name;?>' class="chkbx"></td>
    <td><a href="<?=$this->url(array('action' => 'download', 'id' => $this->name));?>" title="Скачать"><?=$this->name;?></a></td>
    <td><?=date("j F Y H:i:s", $this->date);?></td>
    <td><?=Util::humanFileSize($this->size);?></td>

</tr>