<?
if($this->layout()->id)
{
    ?>
    <div class="navbar-breadcrumb navbar-fixed-top">
        <div class="container">
            <ol class="breadcrumb">
            <?=$this->navigation()->breadcrumbs()->setPartial(array('partials/breadcrumb.phtml','default'));?>
            </ol>
        </div>
    </div>
    <?
}
?>