<div id="footer">
    <div class="container">
        <hr>
        <?=$this->translate("Made in");?> <span class="label label-large label-inverse">BGGSK!</span> &copy; 07/2013
    </div><!--/.container-->
</div><!--/#footer-->