<?
    $langsess  = new Zend_Session_Namespace('locale');
    $locales = $langsess->locales;
    $curlocale = $langsess->curlocale;

    $curFlagImg = IMG_PATH . "/flag/" . $curlocale['region'] .".png";
?>
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse-ex1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?=$this->url(array('controller'=>'index', 'action'=>'index' ), 0, true);?>"><?=$this->layout()->title;?></a>
        </div><!--/.navbar-header-->

        <? echo $this->render('sidebar.phtml'); ?>

        <div class="navbar-collapse collapse collapse-ex1">
            <? if($this->layout()->id): ?>
                <ul class="nav navbar-nav">

                    <li><a href="#"><i class="ico-bell"></i></a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="<?=$curFlagImg;?>" alt=""> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <?
                            foreach($locales as $id => $val)
                            {
                                $flagImg = IMG_PATH . "/flag/" . $val['region'] .".png";
                                $backurl = str_replace("/", "-", $_SERVER['REQUEST_URI']);
                            ?><li><a href="<?=$this->url(array('controller' => 'language', 'action' => 'select', 'lang' => $val['lang'], 'backurl' => $backurl));?>"><img src="<?=$flagImg;?>"></a></li><?
                            }
                            ?>
                        </ul><!--/.dropdown-menu-->
                    </li><!--/.dropdown-->

                </ul><!--/.navbar-nav-->
                <? endif; ?>

            <? if($this->layout()->id): ?>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="ico-user-2"></i> <?=$this->layout()->username;?> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#fakelink"><i class="ico-user-3"></i> <?=$this->translate("My profile");?></a></li>
                            <li class="divider"></li>
                            <li><a href="/ai/user/logout"><i class="ico-exit"></i> <?=$this->translate("Logout");?></a></li>
                        </ul>
                    </li>
                </ul><!--/.navbar-nav-->
                <? endif; ?>

        </div><!--/.nav-collapse -->

    </div><!--/.container-->
</div><!--/.navbar-->