<?php
$auth = Zend_Auth::getInstance();
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <?php
    $request = Zend_Controller_Front::getInstance()->getRequest();

    // TITLE
    $this->headTitle($request->getActionName())->headTitle($request->getControllerName());
    $this->headTitle('');
    $this->headTitle()->setSeparator(' - ');
    echo $this->headTitle()."\n\n";

    // CSS
    echo $this->headLink()    ->appendStylesheet('/css/ai/admin.css')
                            //->appendStylesheet('/css/ai/jquery.lightbox.css')
                            ."\n\n";

    // META
    $this->headMeta()->appendName('keywords', 'keywords')
        ->appendName('description', '')
        ->appendName('Author', 'Marsel Alamdar')
        ->appendName('robots', 'INDEX, FOLLOW')
        ->appendName('viewport', 'width=device-width')
        ->appendHttpEquiv('expires', 'Wed, 26 Feb 1997 08:21:57 GMT')
        ->appendHttpEquiv('pragma', 'no-cache')
        ->appendHttpEquiv('Cache-Control', 'no-cache')
        ->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8')
        ->appendHttpEquiv('Content-Language', 'en-US');

    echo $this->headMeta()."\n\n";

    // JS
    echo $this->headScript()
                        ."\n\n";

    ?>
    <base href="http://<?=$_SERVER['HTTP_HOST'];?>/" />

</head>
<body>

<div id="container-fluid">

        <div id="header">
            <h1></h1>
        </div>

        <div id="navigation">
        </div> <!-- "navigation" -->

        <div id="wrapper">

            <div id="sidebar-wrapper">

                <div id="sidebar">

                <?
                if($auth->hasIdentity()) {
                    echo $this->render('_menu.phtml');
                }
                ?>

                </div> <!-- "sidebar" -->

            </div> <!-- "sidebar-wrapper" -->

            <div id="content-wrapper">

                <div id="content">
                <?php echo $this->layout()->content ?>
                </div> <!-- "content" -->

            </div> <!-- "content-wrapper" -->

        </div> <!-- "wrapper" -->

        <div id="footer">

        </div> <!-- "footer" -->

    </div> <!-- "container-fluid" -->

    <?= $this->render('_footer.phtml') ?>