<?
?>
<!DOCTYPE html>
<head>

<!-- _*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_


         Created and maintained by Marsel Alamdar
         COPYRIGHT 2013 - 2014, BGGSK


_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_ -->


    <title>Apartkvartira.ru &mdash; Аренда апартаментов и квартир в Краснодаре</title>
    <link href="favicon.png" rel="shortcut icon" type="image/png" />
    <?
        // META TAGS
        $this->headMeta()
        ->appendName('Author', 'Marsel Alamdar')
        ->appendName('robots', 'INDEX, FOLLOW')
        ->appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        ->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8');

        echo $this->headMeta()."\n\n";

        // CSS
        $this->headLink()

        // FONTS
        ->appendStylesheet('/intro/static/fonts/google/google-ptsans.css')
        ->appendStylesheet('/intro/static/fonts/icomoon/icomoon.css')
        
        // BOOTSTRAP
        ->appendStylesheet('/css/bootstrap.min.css')

        // STYLES OF THEME
        ->appendStylesheet('/intro/style.css')
        ->appendStylesheet('/intro/static/css/fotorama.css')
        ->appendStylesheet('/intro/static/css/devices.css')
        ->appendStylesheet('/intro/static/css/jquery.bxslider.css')


        ."\n\n";

        echo $this->cssHelper();

        // echo $this->headLink();

    ?>

        <!--[if lte IE 9]>
            <script type="text/javascript">
                document.createElement('header');
                document.createElement('nav');
                document.createElement('section');
                document.createElement('article');
                document.createElement('aside');
                document.createElement('footer');
            </script>
        <![endif]-->
        <!--[if IE]>
            <style type="text/css">
                @media all and (max-width: 480px) {
                    #logo img {
                        width: 150px;
                    }
                }
            </style>
        <![endif]-->    

    <base href="http://<?=$_SERVER['HTTP_HOST'];?>/" />

</head>
<body>

    <?=$this->render('yandex_metrika.phtml'); ?>
    <?=$this->layout()->content;?>

    <?
        $this->headScript()
        ->appendFile('https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js', 'text/javascript' )
        ->appendFile('https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false', 'text/javascript' )
        ->appendFile("/intro/static/js/gmap.js", 'text/javascript' )

        // Plugins        
        ->appendFile("/intro/static/js/plugins/jquery.queryloader2.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.fotorama.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.stellar.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.transit.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.easings.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.tweet-linkify.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.scrollStopped.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.placeholder.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.countdown.sys.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.countdown.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.okvideo.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.bxslider.min.js", 'text/javascript' )

        // ALL PLUGINS IN ONE FILE
        //->appendFile("/intro/js/plugins/plugins.js", 'text/javascript' )

        // MAIN SCRIPTS
        ->appendFile("/intro/static/js/countdown.js?1", 'text/javascript' )
        ->appendFile("/intro/static/js/twitter.js", 'text/javascript' )
        ->appendFile("/intro/static/js/main.js", 'text/javascript' )

        ."\n\n";

        $this->javascriptHelper();

        echo $this->headScript();
    ?>

</body>
</html>

