<?
/*    $index_model = new Ui_Model_Index();
    $this->topnavbar = $index_model->getSmartsNavbar();

    $this->sessBooking = new Zend_Session_Namespace('booking');
    $this->booking = $this->sessBooking->data;
*/?>
<!DOCTYPE html>
<head>

<!-- _*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_


         Created and maintained by Marsel Alamdar
         COPYRIGHT 2013 - 2014, BGGSK


_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_ -->


    <title>Apartkvartira.ru &mdash; Аренда апартаментов и квартир в Краснодаре</title>
    <link href="favicon.png" rel="shortcut icon" type="image/png" />
    <?
        // META TAGS
        $this->headMeta()
        ->appendName('Author', 'Marsel Alamdar')
        ->appendName('robots', 'INDEX, FOLLOW')
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8');

        echo $this->headMeta()."\n\n";

        // CSS
        $this->headLink()

        // FONTS
        ->appendStylesheet('http://fonts.googleapis.com/css?family=Exo+2:400,100&subset=latin,cyrillic')
        ->appendStylesheet('/fonts/google/google-ptsans.css')
        ->appendStylesheet('/fonts/google/google-oleo-script-swash-caps.css')
        ->appendStylesheet('/fonts/rouble/rouble-font.css')
        ->appendStylesheet('/fonts/intro/intro-font.css')
        ->appendStylesheet('/fonts/icomoon/icomoon.css')

        // BOOTSTRAP
        ->appendStylesheet('/css/bootstrap.min.css')

        ."\n\n";

        echo $this->cssHelper();
    ?>

    <base href="http://<?=$_SERVER['HTTP_HOST'];?>/" />

</head>
<body>

    <?=$this->layout()->content;?>

    <?
        $this->headScript()

        // JQUERY
        ->appendFile('/js/jquery.min-1.10.2.js', 'text/javascript' )
        ->appendFile('/js/jquery-ui-1.10.3.custom.min.js', 'text/javascript' )

        // BOOTSTRAP
        ->appendFile('/js/bootstrap.min-3.0.js', 'text/javascript' )

        ."\n\n";

        $this->javascriptHelper();

        echo $this->headScript();
    ?>

</body>
</html>

