<?
    $index_model = new Ui_Model_Index();
    $this->topnavbar = $index_model->getSmartsNavbar();
?>
<!DOCTYPE html>
<head>
    <!-- _*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_
                Created and maintained by Marsel Alamdar
                COPYRIGHT 2013 - 2014, BGGSK
    _*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_ -->
    <title>Apartkvartira.ru &mdash; Аренда апартаментов и квартир в Краснодаре</title>
    <link href="favicon.png" rel="shortcut icon" type="image/png" />
    <?
    
    // META TAGS
    $this->headMeta()
    ->appendName('Author', 'Marsel Alamdar')
    ->appendName('robots', 'INDEX, FOLLOW')
    ->appendName('viewport', 'width=device-width, initial-scale=1.0')
    ->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8');
    
    echo $this->headMeta()."\n\n";
    
    // CSS
    $this->headLink()
    
    // FONTS
    ->appendStylesheet('/fonts/google/google-ptsans.css')
    ->appendStylesheet('/fonts/google/google-oleo-script-swash-caps.css')
    ->appendStylesheet('/fonts/rouble/rouble-font.css')
    ->appendStylesheet('/fonts/icomoon/icomoon.css')
    ->appendStylesheet('/fonts/house-things/flaticon.css')
    
    // BOOTSTRAP
    ->appendStylesheet('/css/bootstrap.min.css')
    
    // BootstrapValidator
    ->appendStylesheet('/css/bootstrapValidator.min.css')
    
    // nouiSlider 6
    ->appendStylesheet('/css/jquery.nouislider.css')
    ->appendStylesheet('/css/jquery.nouislider.init.css')
    
    // jQuery UI Datepicker Style
    ->appendStylesheet('/css/ui-datepicker.css')

    // HeapBox (select dropdown styling)
    ->appendStylesheet('/css/heapbox/heapbox.css')

    // SelectBoxIt (select dropdown styling) http://gregfranko.com/jquery.selectBoxIt.js
    ->appendStylesheet('/css/jquery.selectBoxIt.css')

    // DropIT
    ->appendStylesheet('/css/dropit.css')

    ->appendStylesheet('/css/ui-application.css')
    ."\n\n";

    echo $this->cssHelper();
    // echo $this->headLink();

    ?>
    <base href="http://<?=$_SERVER['HTTP_HOST'];?>/" />
</head>

<body>
    
    <?=$this->render('yandex_metrika.phtml'); ?>
    <? echo $this->render('topnavbar.phtml'); ?>
    <?=$this->layout()->content;?>
    
    <?
    
    $this->headScript()
    
    // JQUERY
    ->appendFile('/js/jquery.min-1.10.2.js', 'text/javascript' )
    ->appendFile('/js/jquery-ui-1.10.3.custom.min.js', 'text/javascript' )
    ->appendFile('/js/jquery.easing.1.3.js', 'text/javascript' )
    
    // AngularJS
    ->appendFile('/js/angular.min.js', 'text/javascript' )

    // UnderscoreJS
    ->appendFile('/js/underscore-min.js', 'text/javascript' )

    // BOOTSTRAP
    ->appendFile('/js/bootstrap.min-3.0.js', 'text/javascript' )
    
    // BootstrapValidator
    ->appendFile('/js/bootstrapValidator.min.js', 'text/javascript' )
    ->appendFile('/js/bootstrapValidator.lang.ru.js', 'text/javascript' )
    
    // GOOGLE MAP
    ->appendFile('http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7', 'text/javascript' )
    
    // GMAPS JQUERY
    ->appendFile('/js/gmaps.js', 'text/javascript' )
    
    // BxSlider (Images)
    ->appendFile('/js/jquery.bxslider.min.js', 'text/javascript' )

    // nouiSlider (Range)
    ->appendFile('/js/jquery.nouislider.min.js', 'text/javascript' )

    //Range Datepicker
    ->appendFile('/js/moment-with-langs.js', 'text/javascript' )

    // ScrollTo
    ->appendFile('/js/jquery.scrollTo.min.js', 'text/javascript' )

    // HeapBox (select dropdown styling)
    ->appendFile('/js/jquery.heapbox-0.9.4.min.js', 'text/javascript' )

    // SelectBoxIt (select dropdown styling) http://gregfranko.com/jquery.selectBoxIt.js
    ->appendFile('/js/jquery.selectBoxIt.min.js', 'text/javascript' )

    //Validator
    // ->appendFile('/js/jquery.validate.min.js', 'text/javascript' )
    // ->appendFile('/js/jquery.validate.messages-ru.js', 'text/javascript' )

    // DropIt
    ->appendFile('/js/dropit.js', 'text/javascript' )

    // Masked Input
    ->appendFile('/js/jquery.maskedinput.min.js', 'text/javascript' )

    // UI Main JS
    ->appendFile('/js/ui-application.js', 'text/javascript' )

    ."\n\n";
    
    $this->javascriptHelper();

    echo $this->headScript();
    
    ?>
</body>
</html>