<?
    $index_model = new Ui_Model_Index();
    $this->topnavbar = $index_model->getSmartsNavbar();

    $this->sessBooking = new Zend_Session_Namespace('booking');
    $this->booking = $this->sessBooking->data;
?>
<!DOCTYPE html>
<head>

<!-- _*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_


         Created and maintained by Marsel Alamdar
         COPYRIGHT 2013 - 2014, BGGSK


_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_ -->


    <title>Apartkvartira.ru &mdash; Аренда апартаментов и квартир в Краснодаре</title>
    <link href="favicon.png" rel="shortcut icon" type="image/png" />
    <?
        // META TAGS
        $this->headMeta()
        ->appendName('Author', 'Marsel Alamdar')
        ->appendName('robots', 'INDEX, FOLLOW')
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8');

        echo $this->headMeta()."\n\n";

        // CSS
        $this->headLink()

        // FONTS
        ->appendStylesheet('/fonts/google/google-ptsans.css')
        ->appendStylesheet('/fonts/rouble/rouble-font.css')
        ->appendStylesheet('/fonts/icomoon/icomoon.css')

        // BOOTSTRAP
        ->appendStylesheet('/css/bootstrap.min.css')

        // Tocify
        ->appendStylesheet('/css/jquery.tocify.css')

        // HeapBox (select dropdown styling)
        ->appendStylesheet('/css/heapbox/heapbox-main.css')
        
        // Common Style
        ->appendStylesheet('/css/ui-application.css')

        // jQuery UI Datepicker Style
        // ->appendStylesheet('/css/jquery-ui-1.10.1-datepicker.css')
        ->appendStylesheet('/css/ui-datepicker.css')
        ->appendStylesheet('/css/ui/')

        ."\n\n";

        echo $this->cssHelper();

        // echo $this->headLink();

    ?>

    <base href="http://<?=$_SERVER['HTTP_HOST'];?>/" />

</head>
<body data-spy="scroll" data-target=".navbar-collapse" id="main-page">

    <?=$this->render('yandex_metrika.phtml'); ?>
    <?=$this->render('topnavbar.phtml'); ?>
    <?=$this->layout()->content;?>

    <?
        $this->headScript()

        // JQUERY
        ->appendFile('/js/jquery.min-1.10.2.js', 'text/javascript' )
        ->appendFile('/js/jquery-ui-1.10.3.custom.min.js', 'text/javascript' )

        // BOOTSTRAP
        ->appendFile('/js/bootstrap.min-3.0.js', 'text/javascript' )

        //Validator
        ->appendFile('/js/jquery.validate.min.js', 'text/javascript' )
        ->appendFile('/js/jquery.validate.messages-ru.js', 'text/javascript' )

        // GOOGLE MAP
        ->appendFile('http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7', 'text/javascript' )
        
        // GMAPS JQUERY
        ->appendFile('/js/gmaps.js', 'text/javascript' )

        //Moment.js
        ->appendFile('/js/moment.min.js', 'text/javascript' )
        ->appendFile('/js/moment.locale.ru.js', 'text/javascript' )

        // HeapBox (select dropdown styling)
        ->appendFile('/js/jquery.heapbox-0.9.4.min.js', 'text/javascript' )

        // Hogan (templating engine)
        // ->appendFile('/js/hogan-2.0.0.js', 'text/javascript' )

        // Handlebars (templating engine)
        ->appendFile('/js/handlebars-v1.3.0.js', 'text/javascript' )

        // TypeHead
        ->appendFile('/js/typeahead.bundle.js', 'text/javascript' )
        
        // Tocify
        ->appendFile('/js/jquery.tocify.min.js', 'text/javascript' )
        
        // UI Main JS
        ->appendFile('/js/ui-application.js', 'text/javascript' )
        
        ."\n\n";

        $this->javascriptHelper();

        echo $this->headScript();
    ?>

</body>
</html>

