<!-- Fixed navbar -->
<?
$is_booking = (count($this->booking) > 0) ? true : false;
?>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-top-shadow">
        <div class="content">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                </button>

<!--                 <a class="navbar-brand dropdown-toggle" href="/index/index" title="Вернуться на главную" data-toggle="dropdown"></a>
                <ul class="dropdown-menu nav nav-pills nav-stacked" role="menu">
                    <li><a href="/index/index/">На главную</a></li>
                    <li><a href="/">На промо-страницу</a></li>
                </ul>
 -->            
                <ul class="home-dropdown">
                    <li>
                        <a href="/index/index/" class="navbar-brand"></a>
                        <ul>
                            <li><a href="/index/index/">На главную</a></li>
                            <li><a href="/">На промо-страницу</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/page/about"><i class="ico-flag"></i> О нас</a></li>
                    <?
                    ## TopNavbar Smartfilters
                    ############################################################################
                    foreach($this->topnavbar as $ot_name => $ot_val)
                    {
                    ?>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="ico-angle-down"></i> <?=$ot_name;?></a>
                        <ul class="dropdown-menu nav nav-pills nav-stacked" role="menu">
                            <?
                            foreach($ot_val as $sf_id => $sf_val)
                            {
                            ?>
                            <li>
                                <a href="/objects/index/f_smart/<?=$sf_val['uid'];?>/f_guests/1/f_minprice/<?=$sf_val['minprice'];?>/f_maxprice/<?=$sf_val['maxprice'];?>"><span class="badge pull-right"><?=$sf_val['objects'];?> объектов</span><span class="smartfilter_name"><?=$sf_val["name"];?></span></a>
                            </li>
                            <?
                            }
                            ?>
                        </ul>
                    </li>
                    <?
                    }
                    ############################################################################
                    ?>
                    <!-- <li><a class="inner-link" href="#level-map"><i class="ico-location"></i> Карта</a></li> -->
                    <li><a href="/help/index"><i class="ico-question"></i> Помощь</a></li>
                    <li><a href="/page/contacts"><i class="ico-phone-2"></i> Контакты</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li><a type="button" class="btn btn-success btn-favorites" href="/objects/compare"><i class="ico-bar-chart"></i> Сравнить объекты ( <span id="btn-favorites-count">3</span> )</a> </li> -->
                    <?
                    if($is_booking)
                    {
                    ?><li><a type="button" class="btn btn-success btn-booking" href="/objects/checkout"><i class="ico-credit"></i>  Продолжить бронирование</a></li><?
                    }
                    ?>
                    <li>
                        <!-- <a type="button" class="btn btn-danger" href="#" data-toggle="modal" data-target="#modal-sign-in"><i class="ico-close"></i> Войти</a>  -->
                        <!-- <i class="oror"><strong>или</strong></i><button type="button" class="btn btn-default">Регистрация</button> -->
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

