<form method="<?php echo $this->form->getMethod() ?>" action="<?php echo $this->form->getAction() ?>" role="form" id="main-form" data-async>

    <fieldset id="fieldset-ab_group2"><legend><?=$this->translate("General attributes");?></legend>
        
        <div class="form-group">
            <div class="row">

                <div class="col-md-2">
                    <div class="input-group">
                        <label for=""><?=$this->translate("Public");?></label>
                        <div class="make-switch switch-large" data-off="danger" data-on-label="<?=$this->translate("ON");?>" data-off-label="<?=$this->translate("OFF");?>">
                            <?=$this->form->sf_enable;?>
                        </div>
                    </div>
                </div><!-- /.col -->

                <div class="col-md-2">
                    <label for="<?=$this->form->sf_order->getAttrib('id');?>">
                        <?=$this->form->sf_order->getLabel();?> <i class="ico-info-sign form-help" title='Порядок сортировки влияет на порядок отображения элементов на сайте. Можно указать любое число. Например: 1, 2, 3 ...'></i>
                    </label>
                    <?=$this->form->sf_order;?>
                </div>
                <!-- /.col -->

                <div class="col-md-2">
                    <label for="<?=$this->form->sf_order_navbar->getAttrib('id');?>">
                        <?=$this->form->sf_order_navbar->getLabel();?> <i class="ico-info-sign form-help" title='Порядок сортировки влияет на порядок отображения элементов на сайте. Можно указать любое число. Например: 1, 2, 3 ...'></i>
                    </label>
                    <?=$this->form->sf_order_navbar;?>
                </div>
                <!-- /.col -->

                <div class="col-md-4">
                    <label for="<?=$this->form->sf_uid->getAttrib('id');?>">
                        <?=$this->form->sf_uid->getLabel();?> <i class="ico-info-sign form-help" title='Универсальный ID. Должен содержать только латинские буквы. Используется для формирования URL. Например: apartment'></i>
                    </label>
                    <?=$this->form->sf_uid;?>
                </div>
                <!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.form-group -->

    </fieldset><!-- /.fieldset -->

    <fieldset id="fieldset-ab_group2">

        <legend><?=$this->translate("Main content");?></legend>

        <div class="form-group">
            <div class="row">
            
                    <div class="col-md-3">
                            <label for="<?=$this->form->sf_level->getAttrib('id');?>"><?=$this->translate("Level");?></label>
                            <?=$this->form->sf_level;?>
                    </div>
                    <!-- /.col -->
            
                    <div class="col-md-3">
                            <label for="<?=$this->form->sft_id->getAttrib('id');?>"><?=$this->translate("Smartfilter type");?></label>
                            <?=$this->form->sft_id;?>
                    </div>
                    <!-- /.col -->
            
                    <div class="col-md-3">
                            <label for="<?=$this->form->ot_id->getAttrib('id');?>"><?=$this->translate("Object type");?></label>
                            <?=$this->form->ot_id;?>
                    </div>
                    <!-- /.col -->
            
            </div><!-- /.row -->
        </div><!-- /.form-group -->

        <div class="form-group">
            <label for=""><?=$this->translate("Smartfilter name");?></label>
            <div class="row">

                        <? foreach($this->langs as $lang => $loc): ?>
                        <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    <img src="<?=IMG_PATH;?>/flag/<?=$loc['region'];?>.png">
                                    </span>
                                    <?=$this->form->{"sf_name_".$lang};?>
                                </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <? endforeach; ?>

            </div><!-- /.row -->
        </div><!-- /.form-group -->

        <div class="form-group">
            <label for=""><?=$this->translate("Smartfilter name (for navbar)");?></label>
            <div class="row">

                        <? foreach($this->langs as $lang => $loc): ?>
                        <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    <img src="<?=IMG_PATH;?>/flag/<?=$loc['region'];?>.png">
                                    </span>
                                    <?=$this->form->{"sf_name_navbar_".$lang};?>
                                </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <? endforeach; ?>

            </div><!-- /.row -->
        </div><!-- /.form-group -->


    </fieldset>

    <?=$this->form->sf_id;?>
    <input type="hidden" name="method" value="save">

</form>
