<?
    $sf_name_ru = (!empty($this->sf_name_ru)) ? $this->sf_name_ru : "";
    $sf_create = (!empty($this->sf_create)) ? date("d.m.Y H:i:s" ,strtotime($this->sf_create)) : "";
    $sf_update = (!empty($this->sf_update)) ? date("d.m.Y H:i:s" ,strtotime($this->sf_update)) : "";

    //$model = new Ai_Model_Object();
?>
<div class="navbar navbar-infobar navbar-fixed-top" role="navigation">
    <div class="container">

        <i class="ico-info pull-left"></i>
        <div class="row">
            <div class="col-md-3">
                Название: <span id="info_sf_name_ru"><?=$sf_name_ru;?></span><br>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            <?=$this->translate('Created');?>: <span id="info_sf_create"><?=$sf_create;?></span><br>
            <?=$this->translate('Updated');?>: <span id="info_sf_update"><?=$sf_update;?></span>
            </div>
        </div>


    </div><!--/.container-->
</div><!--/.navbar navbar-infobar navbar-fixed-top-->

