<form method="<?php echo $this->form->getMethod() ?>" action="<?php echo $this->form->getAction() ?>" role="form" id="main-form" data-async>

      <!-- Tab panes -->
      <div class="tab-content">

            <div class="tab-pane fade in active" id="tab-general">

    <fieldset id="fieldset-ab_group2"><legend><?=$this->translate("General attributes");?></legend>
        
        <div class="form-group">
            <div class="row">

                <div class="col-md-2">
                    <div class="input-group">
                        <label for=""><?=$this->translate("Public");?></label>
                        <div class="make-switch switch-large" data-off="danger" data-on-label="<?=$this->translate("ON");?>" data-off-label="<?=$this->translate("OFF");?>">
                            <?=$this->form->sf_enable;?>
                        </div>
                    </div>
                </div><!-- /.col -->

                <div class="col-md-2">
                    <label for="<?=$this->form->sf_order->getAttrib('id');?>">
                        <?=$this->form->sf_order->getLabel();?> <i class="ico-info-sign form-help" title='Порядок сортировки влияет на порядок отображения элементов на сайте. Можно указать любое число. Например: 1, 2, 3 ...'></i>
                    </label>
                    <?=$this->form->sf_order;?>
                </div>
                <!-- /.col -->

                <div class="col-md-2">
                    <label for="<?=$this->form->sf_order_navbar->getAttrib('id');?>">
                        <?=$this->form->sf_order_navbar->getLabel();?> <i class="ico-info-sign form-help" title='Порядок сортировки влияет на порядок отображения элементов на сайте. Можно указать любое число. Например: 1, 2, 3 ...'></i>
                    </label>
                    <?=$this->form->sf_order_navbar;?>
                </div>
                <!-- /.col -->

                <div class="col-md-4">
                    <label for="<?=$this->form->sf_uid->getAttrib('id');?>">
                        <?=$this->form->sf_uid->getLabel();?> <i class="ico-info-sign form-help" title='Универсальный ID. Должен содержать только латинские буквы. Используется для формирования URL. Например: apartment'></i>
                    </label>
                    <?=$this->form->sf_uid;?>
                </div>
                <!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.form-group -->

    </fieldset><!-- /.fieldset -->

    <fieldset id="fieldset-ab_group2">

        <legend><?=$this->translate("Main content");?></legend>

        <div class="form-group">
            <div class="row">
            
                    <div class="col-md-3">
                            <label for="<?=$this->form->sf_level->getAttrib('id');?>"><?=$this->translate("Level");?></label>
                            <?=$this->form->sf_level;?>
                    </div>
                    <!-- /.col -->
            
                    <div class="col-md-3">
                            <label for="<?=$this->form->sft_id->getAttrib('id');?>"><?=$this->translate("Smartfilter type");?></label>
                            <?=$this->form->sft_id;?>
                    </div>
                    <!-- /.col -->
            
                    <div class="col-md-3">
                            <label for="<?=$this->form->ot_id->getAttrib('id');?>"><?=$this->translate("Object type");?></label>
                            <?=$this->form->ot_id;?>
                    </div>
                    <!-- /.col -->
            
            </div><!-- /.row -->
        </div><!-- /.form-group -->

        <div class="form-group">
            <label for=""><?=$this->translate("Smartfilter name");?></label>
            <div class="row">

                        <? foreach($this->langs as $lang => $loc): ?>
                        <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    <img src="<?=IMG_PATH;?>/flag/<?=$loc['region'];?>.png">
                                    </span>
                                    <?=$this->form->{"sf_name_".$lang};?>
                                </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <? endforeach; ?>

            </div><!-- /.row -->
        </div><!-- /.form-group -->

        <div class="form-group">
            <label for=""><?=$this->translate("Smartfilter name (for navbar)");?></label>
            <div class="row">

                        <? foreach($this->langs as $lang => $loc): ?>
                        <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    <img src="<?=IMG_PATH;?>/flag/<?=$loc['region'];?>.png">
                                    </span>
                                    <?=$this->form->{"sf_name_navbar_".$lang};?>
                                </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <? endforeach; ?>

            </div><!-- /.row -->
        </div><!-- /.form-group -->



    </fieldset>

                  </div>
                  <!-- /. tab-general -->

    <?=$this->form->sf_id;?>
    <input type="hidden" name="method" value="save">

</form>






<div class="tab-pane fade" id="tab-images">

      <div class="panel panel-default">
            <div class="panel-heading">
                  <h3 class="panel-title">Примечание</h3>
            </div>
            <div class="panel-body">
                  <ul>

                        <li>Ограничение на размер файлов:
                              <strong>5 MB</strong>
                        </li>
                        <li>Разрешены к закачке только файлы типа:
                              <strong>JPG, GIF, PNG</strong>
                        </li>
                        <li>Файлы можно добавлять путем обычного "перетасквивани" в окно браузреа</li>
                  </ul>
            </div>
      </div>

      <!-- The file upload form used as target for the file upload widget -->
      <form id="fileupload" action="" method="POST" enctype="multipart/form-data">

            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="row fileupload-buttonbar">
                  <div class="col-lg-7">
                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-success fileinput-button">
                              <i class="ico-plus"></i>
                              <span>Добавить файлы...</span>
                              <input type="file" name="files[]" multiple>
                        </span>
                        <button type="submit" class="btn btn-primary start fileupload-actions">
                              <i class="ico-upload"></i>
                              <span>Загрузить все</span>
                        </button>
                        <button type="reset" class="btn btn-warning cancel fileupload-actions">
                              <i class="ico-ban-circle"></i>
                              <span>Отменить</span>
                        </button>
                        <button type="button" class="btn btn-danger delete fileupload-actions">
                              <i class="ico-trash"></i>
                              <span>Удалить</span>
                        </button>
                        <!-- <input type="checkbox" class="toggle"> -->
                        <!-- The global file processing state -->
                        <span class="fileupload-process"></span>
                  </div>
                  <!-- The global progress state -->
                  <div class="col-lg-5 fileupload-progress fade">
                        <!-- The global progress bar -->
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                              <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div>
                        <!-- The extended global progress state -->
                        <div class="progress-extended">&nbsp;</div>
                  </div>
            </div>
            <!-- The table listing the files available for upload/download -->
            <table>
                  <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td></td>
                  </tr>

            </table>

            <table role="presentation" class="table table-striped">
                  <tbody class="files"></tbody>
            </table>

            <input type="hidden" name="upload_id" value="<?=$this->upload_id;?>" id="upload_id">
            <input type="hidden" name="upload_ucid" value="<?=$this->upload_ucid;?>" id="upload_ucid">

      </form>

      <!-- The blueimp Gallery widget -->
      <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
      </div>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="ico-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="ico-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}

{%console.log(file);%}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {%=file.res%}, 
            {%=file.x1200_res%}, 
            <span class="size">{%=file.x800_res%}</span><br>

            <span class="size">{%=file.x800_res%}</span>, 
            <span class="size">{%=file.x600_res%}</span>, 
            <span class="size">{%=file.x500_res%}</span><br>

            <span class="size">{%=file.x400_res%}</span>, 
            {%=file.x300_res%}, 
            <span class="size">{%=file.thumbnail_res%}</span><br>

            <span class="size">{%=file.x100_res%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="ico-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="ico-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>


</div>
<!-- /. tab-images -->

</div>
<!-- /.tab-content -->