<h2><?=$this->translate("Log");?></h2>
<br>

<h3><a href="#" class="toggle"><?=$this->translate("Filter");;?></a></h3>
<div class="toggle_item filter_form"><?=$this->form;?></div>

<form method="post" action="<?=$this->url(array('action' => 'multiupdate', ));?>" enctype="multipart/form-data" id="sub-action-form">

<?
if($this->items != null) 
{

    if(!empty($this->qty)):
        ?><h5><?=$this->translate("Items found");?> <?=$this->qty;?></h5>
    <? endif; ?>

    <? if($this->items) echo $this->paginationControl($this->items);?>

<table class="table table-hover sortable">
<thead>
<tr>
    <th width="35" class="center"><input type="checkbox" value="checkbox" onClick="checkAll(this.form,'customize_items[]',this.checked)"></th>
    <th width="200"><?=$this->translate("Date");?></th>
    <th width="33">I\O</th>
    <th width="65"><?=$this->translate("IP");?></th>
    <th width="100"><?=$this->translate("Action");?></th>
    <th width="65"><?=$this->translate("Status");;?></th>
    <th width="">Object</th>
    <th width="95"><?=$this->translate("Username");;?></th>
</tr>
</thead>
<tbody>
<? echo $this->partialLoop("partials/_".$this->ucid."-row.phtml", $this->items); ?>
</tbody>
</table>

<? } else { ?>
<p>Пока данных нет.</p>
<? } ?>

    <? if($this->items) echo $this->paginationControl($this->items);?>

    <div class="input">
        <div class="btn-group btn-group-sm">
            <button class="btn dropdown-toggle" data-toggle="dropdown"><?=$this->translate("Group actions");?> <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a class="sub-action-link" href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'delete'));?>"><?=$this->translate("Delete");?></a></li>
            </ul>
        </div><!-- /btn-group -->
    </div><!-- /input-append -->

</form>


