body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #51B64F;
    font-family:'PT Sans Narrow', sans-serif;
}
#form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
#form-signin .form-signin-heading {
    font-family:'Oleo Script Swash Caps', cursive;
    font-size: 48px;
    font-weight: normal;
    text-align: center;
}
#form-signin .form-signin-heading, #form-signin .checkbox {
    margin-bottom: 10px;
}
#form-signin .checkbox {
    font-weight: normal;
}
#form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#form-signin .form-control:focus {
    z-index: 2;
}
#form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#form-signin .form-group {
    margin: 0;
}
.has-error .form-control {
    background: #ffe7e7;
    border-radius: 5px;
    border-color: red;
}
.tooltip-inner {
    background-color:#CC3300;
    color:#FFFFFF;
    max-width:350px;
    padding:10px 15px;
    text-align:center;
    text-decoration:none;
}
.tooltip.right .tooltip-arrow {
    border-right-color:#CC3300;
}
