<?
    $contextClass = "";
    $contextClass .= ($this->u_active) ? "" : "error ";
?>

<tr class="<?=$contextClass;?>>">

    <td>
        <div class="btn-group btn-group-sm">
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-cog"/></i>
                <span class="caret"/></span>
            </a>
            <ul class="dropdown-menu pull-left">
                <li><a href="<?=$this->url(array('action' => 'update', 'id' => $this->u_id));?>"><i class="icon-pencil"/></i> <?=$this->translate("Edit");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'password', 'id' => $this->u_id));?>"><i class="icon-key"/></i> <?=$this->translate("Change password");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'delete', 'id' => $this->u_id));?>"><i class="icon-trash"/></i> <?=$this->translate("Delete");?></a></li>
            </ul>
        </div>

    </td>

    <td><?=$this->u_username;?></td>
    <td><?=$this->u_firstname;?> <?=$this->u_lastname;?></td>
    <td><?=$this->u_role;?></td>
</tr>