<?php
    $icons = array(
                            'index' => 'ico-home',
                            'datadict' => 'ico-archive',
                            'renttype' => 'ico-time',
                            'objecttype' => 'ico-sitemap',
                            'amenity' => 'ico-gift-2',
                            'restriction' => 'ico-minus-sign',
                            'sys' => 'ico-cogs',
                            'config' => 'ico-cog-2',
                            'reset' => 'ico-cogs',
                            'manageobjects' => 'ico-office',
                            'object' => 'ico-building',
                            'parameter' => 'ico-superscript',
                            'service' => 'ico-coffee',
                            'equipment' => 'ico-laptop',
                            'period' => 'ico-time',
                            'owner' => 'ico-user-5',
                            'customer' => 'ico-group',
                            'smartfilters' => 'ico-random',
                            'smartfilters' => 'ico-filter',
                            'sftype' => 'ico-filter',
    );

    ?>
        <li><a href="<?=$this->url(array('controller' => 'index', 'action' => 'index'), 0, true);?>"><?=$this->translate('Homepage');?></a></li>
    <?

    foreach($this->pages as $id => $page)
    {
        if($id < count($this->pages) - 1)
        {

            if(isset($page->params['dropdown']))
            {
            ?>
            <li>
                <div class="btn-group btn-group-sm">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><?=$this->translate($page->getLabel());?></a>
                    <ul class="dropdown-menu" role="menu">
                        <?
                            $sub_pages = $page->getPages();

                            foreach($sub_pages as $sub_page)
                            {

                                if(isset($icons[$sub_page->getController()]))
                                    $icon = $icons[$sub_page->getController()];
                                elseif (isset($icons[$sub_page->getAction()]))
                                    $icon = $icons[$sub_page->getAction()];
                                else
                                    $icon = "ico-ok-sign";

                            ?>
                            <li><a href="<?=$this->url(array('controller' => $sub_page->getController(), 'action' => $sub_page->getAction()), 0, true);?>"><i class="<?=$icon;?>"></i> <?=$this->translate($sub_page->getLabel());?></a></li>

                            <?

                            }
                        ?>
                    </ul></div>
            </li>
            <?
            } else {
            ?>
                <li><a href="<?=$this->url(array('controller' => $page->getController(), 'action' => $page->getAction()), 0, true);?>"><?=$this->translate($page->getLabel());?></a></li>
            <?
            }

        } else {
            ?>
                <li><?=$this->translate($page->getLabel());?></li>
            <?
        }
    }
?>