<?
    $currentPpage = $this->navigation()->findOneByController( Zend_Controller_Front::getInstance()->getRequest()->controller );
?>

<ul id="gn-menu" class="gn-menu-main nav navbar-nav">
    <li class="gn-trigger pull-left">
        <a class="gn-icon-menu"><i class="ico-menu-2"></i></a>

        <!-- .nav -->
        <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
                <ul class="gn-menu">
                    <?
                        $icons = array(
                            'index' => 'ico-home',
                            'datadict' => 'ico-archive',
                            'renttype' => 'ico-time',
                            'objecttype' => 'ico-sitemap',
                            'amenity' => 'ico-gift-2',
                            'restriction' => 'ico-minus-sign',
                            'sys' => 'ico-cogs',
                            'config' => 'ico-cog-2',
                            'reset' => 'ico-cogs',
                            'manageobjects' => 'ico-office',
                            'object' => 'ico-building',
                            'parameter' => 'ico-superscript',
                            'service' => 'ico-coffee',
                            'equipment' => 'ico-laptop',
                            'period' => 'ico-time',
                            'owner' => 'ico-user-5',
                            'customer' => 'ico-group',
                            'smartfilters' => 'ico-random',
                            'smartfilters' => 'ico-filter',
                            'sftype' => 'ico-filter',
                            'kladr' => 'ico-location-2',
                        );

                        foreach ($this->container as $page)
                        {
                            if ($page->isVisible() && $this->navigation()->accept($page))
                            {
                                if(isset($icons[$page->getController()]))
                                {
                                    $icon = $icons[$page->getController()];
                                }
                                elseif (isset($icons[$page->getAction()]))
                                {
                                    $icon = $icons[$page->getAction()];
                                }
                                else
                                {
                                    $icon = "ico-ok-sign";
                                }

                                //********************************************* ACTIVE PAGE ************************************************
                                $activePageClass = ($page->isActive() || $page->getLabel() == $currentPpage) ? " class='active'" : "";

                                echo "  <li".$activePageClass.">
                                <a href='" . $this->url(array( 'action' => $page->getAction(), 'controller' => $page->getController() ), null, true) . "' class='gn-icon ".$icon."'><span>" . $this->translate( $page->getLabel() ) . "</span></a>";

                                //********************************************* SUBPAGES ************************************************
                                $subcontainer = $page->getPages();
                                if(count($subcontainer) > 0)
                                {
                                    echo "<ul>";
                                    foreach ($subcontainer as $subpage)
                                    {
                                        $icon = (isset($icons[$subpage->getController()])) ?  $icons[$subpage->getController()] : "ico-ok-sign";

                                        $activeSubPageClass = ($subpage->isActive() || $subpage->getLabel() == $currentPpage) ? " class='active'" : "";

                                        echo "<li".$activeSubPageClass."><a href='" . $this->url(array('action' => $subpage->getAction(), 'controller' => $subpage->getController() ), null, true) . "' class='gn-icon ".$icon."'><span>" .  $this->translate( $subpage->getLabel() ) . "</span></a></li>";
                                    }
                                    echo "</ul>";
                                }

                                echo "</li>";

                            }

                        }
                    ?>

                </ul><!--/.gn-menu-->
            </div><!-- /.gn-scroller -->
        </nav>
        <!-- /.nav -->

    </li>
</ul>

<?
