<? if($this->items != null): ?>

<table class="table table-hover sortable">
<thead>
<tr>
    <th width="30">&nbsp;</th>
    <th><?=$this->translate("Username");?></th>
    <th><?=$this->translate("Fullname");?></th>
    <th><?=$this->translate("Role");?></th>
</tr>
</thead>
<tbody>
    <? echo $this->partialLoop('partials/_user-row.phtml', $this->items); ?>
</tbody>
</table>

<? else: ?>

<h4><?=$this->translate("Section is empty");?></h4>

<? endif; ?>


