<div class="navbar navbar-subnavbar navbar-fixed-top">
    <div class="container">

        <h3><?=$this->translate("Users");?></h3>

        <div class="btn-group btn-group-sm">

            <a href="<?=$this->url(array('action' => 'create'));?>" type="button" class="btn btn-success"><i class="ico-plus-sign"></i> <?=$this->translate("Create");?></a>

            <? if(!$this->filterActive): ?>
                <a type="button" class="btn btn-default toggle" data-toggle="filter"><i class="ico-filter "></i> <?=$this->translate('Filter this');?></a>
                <? else: ?>
                <a type="button" class="btn btn-default toggle" data-toggle="filter"><i class="ico-filter "></i> <?=$this->translate('Filter is active');?></a>
                <? endif ?>

            <a type="button" class="btn btn-default" href="<?=$this->url(array('action' => 'import'));?>" rel="nofollow" data-modal="import-data"><i class="ico-download-alt"></i> <?=$this->translate("Import");?></a>
        </div><!-- /btn-group -->

        <? if($this->getHelper('Partial')->view->qty > 0): ?>
            <div class="btn-group btn-group-sm">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><?=$this->translate("Group actions");?> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="sub-action-link" href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'enable'));?>"><i class="icon-eye-open"></i>  <?=$this->translate("Enable");?></a></li>
                    <li><a class="sub-action-link" href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'disable'));?>"><i class="icon-eye-close"></i>  <?=$this->translate("Disable");?></a></li>
                    <li><a href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'delete'));?>" class="modal-triger" rel="nofollow" data-modal="delete-confirm"><i class="icon-trash"></i>  <?=$this->translate("Delete");?></a></li>
                </ul>
            </div><!-- /btn-group -->
            <? endif; ?>

    </div><!--/.container-->
</div><!--/.navbar-subnavbar-->
