<h2><?=$this->translate("Users");?>: <?=$this->translate("Update");?></h2>
<a href="<?=$this->url(array('action' => 'index'));?>" class="btn"><i class="icon-list"></i> <i class="icon-reply"></i> <?=$this->translate("Back to list");?></a>
<hr>

<form method="<?php echo $this->form->getMethod() ?>" action="<?php echo $this->form->getAction() ?>">

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <?=$this->form->u_active;?> <?=$this->form->u_active->getLabel();?>
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for=""><?=$this->form->u_role->getLabel();?></label>
        <div class="controls controls-row">
            <?=$this->form->u_role;?>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for=""><?=$this->translate("Account");?></label>
        <div class="controls controls-row">
            <?=$this->form->u_username;?>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for=""><?=$this->translate("Fullname");?></label>
        <div class="controls controls-row">
            <?=$this->form->u_firstname;?>
            <?=$this->form->u_lastname;?>
        </div>
    </div>

    <?=$this->form->u_id;?>
    
    <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> <?=$this->translate("Save changes");?></button>
    <a href="<?=$this->url(array('action' => 'index'));?>" class="btn btn-danger"><i class="icon-ban-circle"></i> <?=$this->translate("Cancel");?></a>


</form>