/* # -- ELOQUENCE — COMING SOON PAGE
================================================== */


/* Table of Contents
   ==================================================
   
    # -- Imports
    
	# -- Main
	# -- Pages
	# -- Patterns
	# -- Social
	
	# -- Preloader
	# -- Header
	
	# -- Home Page
	# -- Countdown
	
	# -- Content
	# -- About
	# -- Newsletter
	# -- Team
	# -- Twitter
	# -- Services
	
	# -- Footer
	# -- Subscribe
	# -- Feedback
	# -- Contacts
	
   ==================================================
*/


/* # -- IMPORTS
================================================== */

@import url('static/css/reset.css');
@import url('static/css/colors.css');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300|Pontano+Sans');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');


/* # -- MAIN STYLES
================================================== */

*
{
    font: 400 1em 'Pontano Sans', sans-serif;

    outline: 0;
}

html,
body
{
    width: 100%;
    height: 100%;

    background: #fff;
}

a
{
    -webkit-transition: color .2s;
       -moz-transition: color .2s;
         -o-transition: color .2s;
            transition: color .2s;
    text-decoration: underline;
}
a:hover {text-decoration: none;}

p
{
    line-height: 1.4em;
}

h1
{
    font-family: 'PT Sans';
    font-size: 70px;
    font-weight: normal;
    line-height: 70px;

    margin-top: 30px;

    color: #fff;
}
.body h1
{
    color: #000;
}
h1 a
{
    text-decoration: underline;
}
h1 a:hover
{
    text-decoration: none;
}

h2
{
    font-size: 24px;
}
h3
{
    font-size: 18px;
}
h4
{
    font-size: 14px;
}
h5
{
    font-size: 12px;
}
h6
{
    font-size: 10px;
}

.align-left
{
    text-align: left;
}
.align-right
{
    text-align: right;
}
.align-center
{
    text-align: center;
}

.left
{
    float: left;
}
.right
{
    float: right;
}

.icon-1
{
    font-size: 1em;
}
.icon-2
{
    font-size: 2em;
}
.icon-3
{
    font-size: 4em;
}
.icon-4
{
    font-size: 7em;
}
.icon-5
{
    font-size: 12em;
}
.icon-6
{
    font-size: 20em;
}

.wrapper
{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

input,
textarea,
button
{
    -webkit-appearance: none;
       -moz-appearance: none;
         -o-appearance: none;
            appearance: none;
}

input
{
    font-size: 14px;

    width: auto;
    margin: 0;
    padding: 8px 10px;

    border: 0;
    -webkit-border-radius: 3px;
            border-radius: 3px;
}


input,
textarea
{
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}

input
{
    font-size: 14px;

    width: auto;
    margin: 0;
    padding: 8px 10px;

    border: 1px solid #3a3a47;
    -webkit-border-radius: 0;
            border-radius: 0;
    background: transparent;
}

input[type='submit']
{
    width: auto;
    padding: 8px 15px;

    cursor: pointer;
}

input[type='text']:hover,
input[type='email']:hover,
input[type='text']:focus,
input[type='email']:focus,
textarea:hover,
textarea:focus
{
    -webkit-box-shadow: 3px 3px 0 #3a3a47;
            box-shadow: 3px 3px 0 #3a3a47;
}

textarea
{
    font-size: 13px;

    margin: 0;
    padding: 8px 10px;

    resize: none;

    border: 1px solid #3a3a47;
    -webkit-border-radius: 0;
            border-radius: 0;
}

input.error,
textarea.error
{
    border-color: #e74c3c;
}

form.flat input,
form.flat textarea
{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 16px;

    padding: 10px 15px;

    vertical-align: top;
    text-transform: none;

    border: 0 !important;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background: #fff;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

hr
{
    width: 100%;
    max-width: 300px;
    margin: 15px auto;
}

.disable-hover
{
    pointer-events: none;
}

.no-uppercase
{
    text-transform: none !important;
}


.btn,
a.btn,
input.btn
{
    font-family: 'PT Sans';
    font-size: 12px;

    padding: 8px 12px;

    -webkit-transition: all .2s;
       -moz-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
    text-decoration: none !important;
    text-transform: uppercase;

    border: 0;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: #fe6c30;
    /*color: #000;*/
}

.btn.big,
a.btn.big,
input.btn.big
{
    font-size: 14px;

    padding: 12px 16px;

    letter-spacing: 2px;
}

.btn.large,
a.btn.large,
input.btn.large
{
    font-size: 22px;

    padding: 24px 40px;

    letter-spacing: 1px;
}

.btn.no-color.current
{
    cursor: default;
}

.btn.no-color.current,
.btn.no-color:hover
{
    border: 2px solid rgba(255, 255, 255, 1);
}

/* Fix fonts */
body.fontfix > header a,
body.fontfix #countdown > div .num > div,
body.fontfix #newsletter a,
body.fontfix #team > header > h1,
body.fontfix #team > header > h5,
body.fontfix #subscribe > .wrapper > h4,
body.fontfix #feedback > .wrapper > ul > li > h2,
body.fontfix #contacts > .wrapper > .text > h2,
body.fontfix #home .learn-more a,
body.fontfix #last-section nav a,
body.fontfix #owners > .body > .description > li > h1,
body.fontfix #countdown > div span
{
    font-family: sans-serif;
    font-weight: normal;
}


/* # -- Slogan
================================================== */
#slogan {
	margin: 0 0 30px 0;
}

#goto-links a
{
	margin: 0 45px 0 0;
}

/* # -- PAGES
================================================== */

.page
{
    position: relative;
    z-index: 5;

    width: 100%;
}

.page.fullscreen
{
    min-height: 100%;
}

.page.fullwidth,
.page.fullwidth .wrapper
{
    max-width: 100% !important;
}

.page.image
{
    display: table;

    height: 200px;

    background: transparent 50% no-repeat;
}

.page.image > .wrapper
{
    display: table-cell;

    height: 200px;

    vertical-align: middle;

    color: #fff;
}

.page.image h1,
.page.image h2,
.page.image h3,
.page.image h4,
.page.image h5,
.page.image h6
{
    font-family: Quicksand;
}

.page.image h1
{
    font-size: 3em;
    font-weight: bold;

    text-transform: uppercase;
}

.page.image hr
{
    max-width: 550px;
    margin: 25px auto;

    border-color: rgba(255, 255, 255, .5);
}

.page header
{
    font-family: 'PT Sans';

    z-index: 6;
    /*max-width: 1200px;*/

    width: 100%;
    margin: 0 auto;
    padding: 25px;

    text-align: center;
    /*border: 1px solid red;*/
}

.page header h1,
.page header h2,
.page header h3,
.page header h4,
.page header h5,
.page header h6
{
    /*font-family: Quicksand, sans-serif;*/
    /*text-transform: uppercase;*/
}
.page header h2
{
    font-size: 50px;
}

.page p
{
    margin: .5em 0;
}


/* # -- PATTERNS
================================================== */

.pattern.dot-1
{
    background: url('static/images/patterns/dot-1.png');
    background-color: rgba(0, 0, 0, .3);
}

.pattern.dot-2
{
    background: transparent url('static/images/patterns/dot-2.png');
    background-color: rgba(0, 0, 0, .3);
    -webkit-background-size: 2px;
       -moz-background-size: 2px;
         -o-background-size: 2px;
            background-size: 2px;
}

.pattern.dot-3
{
    background: transparent url('static/images/patterns/dot-3.png');
    background-color: rgba(0, 0, 0, .3);
}

.pattern.line-1
{
    background: transparent url('static/images/patterns/line-1.png');
}

.pattern.line-2
{
    background: transparent url('static/images/patterns/line-2.png');
}

.pattern.gradient-1
{
    background: transparent url('static/images/patterns/gradient-1.png') 50%;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.pattern.gradient-2
{
    background: transparent url('static/images/patterns/gradient-2.png') 50%;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}


/* # -- SOCIAL
================================================== */

ul.social
{
    font-size: 0;

    list-style: none;
}

ul.social > li
{
    font-size: 22px;

    display: inline-block;

    margin: 0 5px;
}

ul.social > li > a
{
    padding: 5px;
}

/* -- icons -- */
ul.social.icons > li > a
{
    display: block;

    width: 32px;
    height: 32px;

    -webkit-background-size: 32px;
       -moz-background-size: 32px;
         -o-background-size: 32px;
            background-size: 32px;
}

.icon-twitter
{
    background-image: url(static/images/icons/01_twitter.png);
}
.icon-facebook
{
    background-image: url(static/images/icons/02_facebook.png);
}
.icon-youtube
{
    background-image: url(static/images/icons/03_youtube.png);
}
.icon-dribbble
{
    background-image: url(static/images/icons/04_dribbble.png);
}
.icon-apple
{
    background-image: url(static/images/icons/05_apple.png);
}
.icon-android
{
    background-image: url(static/images/icons/06_android.png);
}
.icon-linkedin
{
    background-image: url(static/images/icons/07_linkedin.png);
}
.icon-behance
{
    background-image: url(static/images/icons/08_behance.png);
}
.icon-vimeo
{
    background-image: url(static/images/icons/09_vimeo.png);
}
.icon-instagram
{
    background-image: url(static/images/icons/10_instagram.png);
}
.icon-wordpress
{
    background-image: url(static/images/icons/11_wordpress.png);
}
.icon-deviantart
{
    background-image: url(static/images/icons/12_deviantart.png);
}
.icon-pinterest
{
    background-image: url(static/images/icons/13_pinterest.png);
}
.icon-google
{
    background-image: url(static/images/icons/14_google.png);
}
.icon-tumblr
{
    background-image: url(static/images/icons/15_tumblr.png);
}
.icon-flickr
{
    background-image: url(static/images/icons/16_flickr.png);
}
.icon-windows8
{
    background-image: url(static/images/icons/17_windows8.png);
}
.icon-evernote
{
    background-image: url(static/images/icons/18_evernote.png);
}
.icon-paypal
{
    background-image: url(static/images/icons/19_paypal.png);
}
.icon-sparow
{
    background-image: url(static/images/icons/20_sparow.png);
}
.icon-blogger
{
    background-image: url(static/images/icons/21_blogger.png);
}
.icon-skype
{
    background-image: url(static/images/icons/22_skype.png);
}
.icon-envato
{
    background-image: url(static/images/icons/23_envato.png);
}
.icon-soundcould
{
    background-image: url(static/images/icons/24_soundcould.png);
}


/* # -- PRELOADER
================================================== */

#preloader
{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

#preloader > .half
{
    width: 50%;
    height: 100%;

    background: #fff;
}

#preloader > .wrapper
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    max-width: 280px;
    margin-top: -100px;
    margin-left: -140px;
}

#preloader .logo
{
    height: 150px;
}

#preloader .logo > img
{
    max-height: 100%;
}

#preloader .bar
{
    height: 1px;
    margin-top: 20px;

    background: #000;
    background: rgba(0, 0, 0, .5);
}

#preloader .percents
{
    font-family: sans-serif;
    font-weight: 300;

    position: relative;
    z-index: 2;
    top: -10px;

    display: inline-block;

    padding: 0 15px;

    background: #fff;
}


/* # -- HEADER
================================================== */

body > header
{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;

    -webkit-transition: background .3s;
       -moz-transition: background .3s;
         -o-transition: background .3s;
            transition: background .3s;

    border-bottom: 1px solid #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

body > header.dark
{
    position: fixed;

    background: #252525;
    background: rgba(38, 38, 38, .95);
}

body > header nav ul
{
    font-size: 0;

    list-style: none;
}

body > header nav ul > li
{
    display: inline-block;

    margin: 0 5px;
}

body > header nav a
{
    font-family: Quicksand;
    font-size: 12px;
    line-height: 40px;

    display: block;

    padding: 5px 10px;

    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
    text-transform: uppercase;

    opacity: .5;
    color: #fff !important;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
        filter: alpha(opacity=50);
}

body > header nav a.current,
body > header nav a:hover
{
    text-decoration: none;

    opacity: 1;
    color: #fff;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}

body > header nav a.current
{
    cursor: default;
}


/* # -- HOME PAGE
================================================== */

#home
{
    background: #fff;
}

#home .slider
{
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;
}

#home > .content
{
    width: 100%;
    height: 100%;
}

#home > .content > .wrapper
{
    position: relative;
    top: 10%;
}

#home hr
{
    width: 100%;
    max-width: 615px;
    margin: 0 auto;

    border-top: 1px solid rgba(255, 255, 255, .3);
}

#logo
{
    max-height: 150px;
    margin-bottom: 50px;

    color: #fff;
}

#logo img
{
    max-height: 100%;
}

/* # -- COUNTDOWN
================================================== */

#countdown
{
    font-size: 0;

    margin: 40px 0 70px 0;

    /*color: #fff;*/
}

#cd
{
    display: none;
}

#countdown > div
{
    position: relative;

    display: inline-block;

    margin: 0 15px;
}

#countdown > div .num
{
    display: inline-block;
    overflow: hidden;

    height: 100px;

    vertical-align: top;
}

#countdown > div span
{
    font-family: Quicksand;
    font-size: 12px;

    position: absolute;
    left: 0;

    width: 100%;
    margin-top: 100px;
    padding-top: 20px;

    letter-spacing: 2px;
    text-transform: uppercase;

    /*color: #ccc;*/
    color: rgba(255, 255, 255, .7);
    border-top: 1px solid #fff;
    border-top: 1px solid rgba(255, 255, 255, .3);
}

#countdown > div .num > div
{
    font-family: Quicksand;
    font-size: 72px;
    line-height: 100px;
	color: #ccc;
    width: 45px;
    height: 100px;
}


/* # -- CONTENT
================================================== */

#content
{
    position: relative;
    z-index: 5;

    padding: 75px 0 0 0;

    background: #fff;
}

#content > section
{
    position: relative;

    width: 100%;
    max-width: 1150px;
    margin: 75px auto;

    background-color: #fff;
    /*border: 1px solid red;*/
}

#content > section:first-child
{
    margin-top: 0;
}

#content > section:last-child
{
    margin-bottom: 0;
}
#content section#guests
{
    margin: 75px auto 0 auto;
    /*max-width: 100%;*/
    /*width: 100%;*/

    background: #59cdae;
}

/* # -- OWNERS
================================================== */

#owners .body
{
    padding: 0 0;
}

#owners .body .description
{
    font-size: 0;

    list-style: none;

    text-align: center;
}

#owners .body  p.short
{
    margin: 0 0 25px 0;
    padding: 0 190px;

    color: #7a7d81;
}
#owners .body  h1
{
    margin: 0 0 25px 0;

    text-align: center;
}
#owners .body .description > li
{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;

    display: inline-block;

    width: 45%;
    min-width: 384.5px;
    padding: 0 2%;

    text-align: left;
    vertical-align: top;

    color: #7a7d81;
}

#owners .body .description li li
{
    margin: 0 0 15px 0;
    padding: 0 0 0 20px;

    list-style: none;

    background: url(static/images/list-marker1.png) 0 5px no-repeat;
}

#owners .body .description > li h1
{
    font-family: 'PT Sans';
    font-size: 32px;

    margin-bottom: 0;
    /*text-align: center;*/
}

#owners .body .description > li p
{
    color: #7a7d81;
}
#owners .body .description hr
{
    margin: 0 0 25px 0;
}

/* # -- newsletter
================================================== */

#newsletter
{
    height: 200px;

    background-repeat: repeat;
    background-position-x: 0;
}

#newsletter > .wrapper
{
    height: 200px;
}

#newsletter a
{
    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=85)';
        filter: alpha(opacity=100);
}

#newsletter a:hover
{
    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}


/* # -- TEAM
================================================== */

#team
{
    max-width: 1200px !important;
}

#team header h1
{
    width: 80%;

    text-align: center;

    color: #000;
}

#team .body
{
    margin-top: 55px;
}

#team .body .persons
{
    font-size: 0;

    position: relative;

    list-style: none;

    text-align: center;
}

#team .body .persons > li
{
    font-size: 16px;

    position: relative;

    display: inline-block;

    width: 350px;
    margin: 20px 25px;

    text-align: left;
    vertical-align: center;
}

#team .body .persons > li .photo
{
    position: relative;

    height: 250px;

    background: #55555c;
}

#team .body .persons > li .photo img
{
    max-height: 100%;

    -webkit-transition: all .2s;
       -moz-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
}

#team .body .persons > li .networks
{
    position: absolute;
    top: 0;

    width: 350px;
    height: 250px;

    -webkit-transition: all .3s;
       -moz-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;

    opacity: 0;
    border: 0 solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -1px 0 rgba(255, 255, 255, .5);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -1px 0 rgba(255, 255, 255, .5);

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
}

#team .body .persons > li .networks:hover
{
    opacity: 1;
    border: 15px solid transparent;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}

#team .body .persons > li .networks .social
{
    position: absolute;
    top: 50%;

    width: 100%;
    margin-top: -18px;

    text-align: center;
}

#team .body .persons > li .social a
{
    font-size: 26px;

    -webkit-transition: all .2s;
       -moz-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;

    color: #fff;
    color: rgba(255, 255, 255, .8);
}

#team .body .persons > li .social a:hover
{
    text-decoration: none;

    color: #fff;
    color: rgba(255, 255, 255, 1);
}

#team .body .persons > li h2
{
    margin-top: 15px;
}

#team .body .persons > li h5
{
    color: #7a7d81;
}


/* # -- TWITTER
================================================== */



.twitter
{
    font-size: 18px;

    display: block;
    overflow: hidden;

    width: 100%;
    max-width: 768px;
    height: 140px;
    margin: 0 auto;
    padding: 0 15px;

    list-style: none;
}

.twitter > li
{
    height: 140px;
    padding-top: 20px;
}

.twitter > li .text
{
    display: table-cell;

    width: 768px;
    height: 45px;
    padding: 0 15px;

    text-align: center;
    vertical-align: middle;
}

.twitter > li .actions
{
    margin-top: 15px;

    text-align: center;
}

.twitter > li .actions a
{
    margin: 0 10px;

    text-decoration: none;
}

.twitter > li .actions a > span
{
    margin-right: 7px;
}

.twitter > li .date
{
    font-size: 16px;

    margin-top: 10px;
}


.twitter a:hover
{
    text-decoration: underline;
}


/* # -- SERVICES
================================================== */



#services .body
{
    margin-top: 35px;
}

#services header h1
{
    width: 100%;

    text-align: center;

    color: #000;
}

#services .body > ul
{
    font-size: 0;

    list-style: none;

    text-align: center;
}

#services .body > ul > li
{
    font-size: 16px;

    display: inline-block;

    width: 266px;
    margin: 20px 25px;

    vertical-align: top;
}

#services .body > ul > li .icon
{
    display: table;

    width: 140px;
    height: 140px;
    margin: 0 auto;

    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#services .body > ul > li .icon > span
{
    font-size: 70px;

    display: table-cell;

    width: 140px;
    height: 140px;

    vertical-align: middle;
}

#services .body > ul > li > h2
{
    font-size: 18px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 10px;

    letter-spacing: 1px;
    text-transform: uppercase;
}

#services .body > ul > li > p
{
    font-size: 14px;

    height: 100px;
    min-height: 100px;
    margin: 0;

    color: #7a7d81;
}
/* # -- GUESTS
================================================== */

#guests
{
    background: red;
}

#guests .body
{
    width: 100%;
    max-width: 1150px;
    margin: 15px auto 0 auto;
}

#guests header h1
{
    width: 100%;

    text-align: center;

    color: #000;
}

#guests .body > ul
{
    font-size: 0;

    list-style: none;

    text-align: center;
}

#guests .body > ul > li
{
    font-size: 16px;

    display: inline-block;

    width: 266px;
    margin: 20px 25px;

    vertical-align: top;
}

#guests .body > ul > li .icon
{
    display: table;

    width: 140px;
    height: 140px;
    margin: 0 auto;

    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#guests .body > ul > li .icon > span
{
    font-size: 70px;

    display: table-cell;

    width: 140px;
    height: 140px;

    vertical-align: middle;
}

#guests .body > ul > li > h2
{
    font-size: 18px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 10px;

    letter-spacing: 1px;
    text-transform: uppercase;
    /*color: #FF6E28;*/
}

#guests .body > ul > li > p
{
    font-family: 'PT Sans';
    font-size: 16px;

    height: 100px;
    min-height: 100px;
    margin: 0;

    color: #dcf7f0;
    color: #fff;
}



#demo-love:hover .icon > span
{
    -webkit-animation: demolove 1.3s linear infinite;
       -moz-animation: demolove 1.3s linear infinite;
         -o-animation: demolove 1.3s linear infinite;
            animation: demolove 1.3s linear infinite;
}

@-webkit-keyframes demolove
{
    0%
    {
        color: #3a3a47;
    }
    50%
    {
        color: #c0392b;
    }
    100%
    {
        color: #3a3a47;
    }
}
@-moz-keyframes demolove
{
    0%
    {
        color: #3a3a47;
    }
    50%
    {
        color: #c0392b;
    }
    100%
    {
        color: #3a3a47;
    }
}
@-o-keyframes demolove
{
    0%
    {
        color: #3a3a47;
    }
    50%
    {
        color: #c0392b;
    }
    100%
    {
        color: #3a3a47;
    }
}
@keyframes demolove
{
    0%
    {
        color: #3a3a47;
    }
    50%
    {
        color: #c0392b;
    }
    100%
    {
        color: #3a3a47;
    }
}


/* # -- FOOTER
================================================== */

body > footer
{
    position: fixed;
    z-index: -1;
    bottom: 0;

    overflow: hidden;

    width: 100%;
    height: 550px;
    padding: 100px 0;

    background-color: #3a3c42;
}

body > footer > .wrapper
{
    position: relative;
}

body > footer section
{
    position: absolute !important;
}

#footer-space
{
    width: 100%;
    height: 550px;

    background: transparent !important;
}

#last-section
{
    margin-bottom: -75px !important;
    padding: 5px 0;

    color: #fff;
    background-color: #2f3238 !important;
}

#last-section nav
{
    opacity: .85;
}

#last-section nav > ul
{
    font-size: 0;

    list-style: none;

    text-align: center;
}

#last-section nav > ul > li
{
    font-size: 16px;

    display: inline-block;

    margin: 0 15px;
}

#last-section .triangle
{
    position: absolute;
    left: 0;

    width: 30px;
    height: 30px;
    margin-top: 15px;

    border-top: 30px solid #2f3238;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
}


/* # -- SUBSCRIBE
================================================== */

#subscribe
{
    background-image: url(http://placehold.it/1200x750);
}

#subscribe form
{
    position: relative;

    overflow: hidden;

    width: 100%;
    max-width: 410px;
    height: 41px;
    margin: 25px auto;
    padding: 0 20px;
}

#subscribe form input,
#subscribe form .status
{
    display: block;
}

#subscribe form .status
{
    padding: 10px 0;

    text-align: center;
}

#subscribe form input[type='email']
{
    position: relative;

    width: 100%;

    opacity: .85;
    background: #fff;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=85)';
        filter: alpha(opacity=85);
}

#subscribe form input[type='email']:focus
{
    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}

#subscribe form input[type='submit']
{
    position: absolute;
    top: 0;
    right: 20px; /* padding fix */

    -webkit-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
}


/* # -- FEEDBACK
================================================== */



#feedback p
{
    color: #7a7d81;
}

#feedback ul
{
    font-size: 0;

    list-style: none;

    text-align: center;
}

#feedback ul > li
{
    font-size: 16px;

    display: inline-block;

    width: 40%;
    padding: 0 35px;

    text-align: left;
    vertical-align: top;
}

#feedback form > div:last-child
{
    text-align: right;
}

#feedback form input,
#feedback form textarea
{
    display: block;

    width: 100%;
    margin: 10px 0;

    opacity: .85;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=85)';
        filter: alpha(opacity=85);
}

#feedback form input:focus,
#feedback form textarea:focus
{
    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}

#feedback form textarea
{
    height: 150px;
}

#feedback form input[type='submit']
{
    display: inline;

    width: auto;
    margin: 0;
    margin-left: 20px;

    vertical-align: middle;

    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}

#feedback form .status
{
    vertical-align: middle;

    color: #7a7d81;
}


/* # -- CONTACTS
================================================== */

#contacts
{
    position: relative;

    padding: 0 100px;
}

#contacts .text
{
    position: absolute;
    z-index: 3;

    overflow: hidden;

    width: 30%;
    height: 100%;
    margin-left: -1px;
    padding: 30px;

    text-align: left;

    background: #252525;
    background: rgba(38, 38, 38, .95);
}

#contacts .text ul
{
    margin: 45px 0;
}

#contacts .text ul > li
{
    -webkit-transition: opacity .2s;
       -moz-transition: opacity .2s;
         -o-transition: opacity .2s;
            transition: opacity .2s;

    opacity: .7;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
        filter: alpha(opacity=70);
}

#contacts .text ul > li:hover
{
    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}

#contacts.page
{
    height: 450px;
}

#map
{
    width: 100%;
    height: 100%;

    background-image: url(static/images/gmap-layout.jpg);
    background-position: 50% 0;
}

#map .marksys
{
    display: none;
}
