<?
    $p = (isset($this->req["domain_parts"])) ? $this->req["domain_parts"] : "";
?>
<form action="/index/domains" method="post">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h3>Генератор доменов</h3>
            <fieldset>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-12">
                            <label for="">Части домена через ";"</label>
                            <input type="text" name="domain_parts" id="domain_parts" class="form-control" placeholder="" value="<?=$this->req["domain_parts"];?>">
                        </div>
                        <!-- /.col -->
                    
                    </div>
                </div>
                <!-- form-group -->

                <button type="submit" class="btn btn-primary">Сгенерировать</button>

            </fieldset>
        </div>
    </div>

</form>

<? if(isset($this->comb) && count($this->comb) > 0): ?>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table class="table">

            <? foreach($this->comb as $domain): ?>
        
                <tr><td><?=$domain;?>.ru</td></tr>

            <? endforeach; ?>

            </table>
        </div>
    </div>
<? endif; ?>