<div class="level level-0" id="level-search">
    <!--     <div class="jumbo-slogan">
        Аренда.&nbsp;&nbsp;легко.
    </div>
    -->

    <div class="content">
        <h1>Онлайн аренда апартаментов и квартир в <a href="#" class=".inner-yellow">Краснодаре</a></h1>

        <div id="apart-or-not" class="collapse">
            <table class="cons-pros" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th width="324" class="color-1"><i class="ico-time"></i>
                        </th>
                        <th width="324" class="color-2">
                            <img src="../images/icons/divan-1.png">
                        </th>
                        <th width="324" class="color-1">
                            <span class="rouble">a</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="title">
                            <h2>Апартамент</h2>
                        </td>
                        <td class="color-1 arrow">Удобен для краткосрочных и среднесрочных визитов</td>
                        <td class="color-2">Оборудован кухней и мебелью</td>
                        <td class="color-1">Объединяет преимущества квартиры и отеля</td>
                    </tr>
                    <tr>
                        <td class="title">
                            <h2>Квартира</h2>
                        </td>
                        <td class="color-1 arrow">Предназначена для длительного проживания</td>
                        <td class="color-2">В наличии варианты с мебелью и без</td>
                        <td class="color-1">Гибкие цены</td>
                    </tr>
                </tbody>
            </table><a href="#" data-target="#apart-or-not" class="my-collapse orange-btn">Спасибо, мне все понятно</a>
        </div>

        <form class="form-inline main-search-form" id="main-search-form" role="form" action="" method="post">
            <div class="row">

                <input type="text" class="input input-f-street" name="f_street" id="f_street" placeholder="Поиск по улице">

                <div id="select-date-range">
                    <input type="text" class="input input-f-arrdate input-range" id="f_arrdate" name="f_arrdate" placeholder="Дата заезда">
                    <input type="text" class="input input-f-depdate input-range" id="f_depdate" name="f_depdate" placeholder="Дата выезда">
                    
                    <div id="datepicker-overlay"></div>
                </div>

                <div class="input input-f-smart">
                    <div class="" id="f_smart"></div>
                </div>

                <div class="input input-f-guests">
                    <select class="" id="f_guests" name="f_guests">
                        <?
                        for($i = 1; $i <= 10; $i++)
                        {
                        ?><option value="<?=$i;?>" label="<?=$i;?> гость"><?=$i;?> <?=$this->translate( array( 'гость', 'гостя', 'гостей', $i, 'ru' ) );?></option><?
                        }
                        ?>
                    </select>
                </div>

                <button type="submit" class="input input-f-submit">Искать</button>


            </div>
        </form>

        <div class="row">
            <div class="col-lg-12">
                <!--                 <a href="#level-search" data-target="#extra-search" class="adv-search-link inner-link white my-collapse pull-right">расширенный поиск</a>
                <br>
                -->
                <h3 class="slogan"><a href="#" data-target="#apart-or-not" class="my-collapse">Апартамент или квартира?</a>
                </h3>
            </div>
        </div>

        <div id="extra-search" class="collapse">
            ....
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- _*_*_*_*_*_*_*_*_*_*_*_>>>>> LVL-1 ROOF -->
<div class="level" id="level-roof">
    <div class="box box-roof"></div>
</div>

<?
// print_r($this->smartspanel);

//---- Smarts objects types cycle
foreach($this->smartspanel as $ot_name => $ot_val)
{
//---- Levels cycle
foreach($ot_val as $lvl_id => $lvl_val)
{
$cssclass_ar = array();

//---- Boxes CSS class construct ------------------------
foreach($lvl_val as $box_id => $box_val)
{
$cssclass_ar[] = $box_val["cssclass"];
}
$cssclass = "box box-" . implode("-", $cssclass_ar);
//---- Boxes CSS class construct \ END ------------------------

?>
<div class="level">
    <div class="<?=$cssclass;?>">

        <?
        foreach($lvl_val as $box_id => $box_val)
        {

        //Показываем заголовки этажей, пока вот так
        if( $lvl_id == "1" && $box_id == "1")
        {
        ?><div class="level-title">Апартаменты</div><?
        }
        if( $lvl_id == "5" && $box_id == "1")
        {
        ?><div class="level-title">Квартиры</div><?
        }

        $sf_name = $box_val["name"];
        $sf_objects = $box_val["objects"] . " " . $this->translate( array( 'объект', 'объекта', 'объектов', $box_val["objects"], 'ru' ) );
        $sf_image = $box_val["image"];
        $sf_period = $box_val["period"];

        $window_cssclass = "w" . sprintf("%02s", $box_id);

        ?>
        <div class="<?=$window_cssclass;?> window-mask">
            <a href="/objects/index/f_smart/<?=$box_val['uid'];?>/f_guests/1/f_minprice/<?=$box_val['minprice'];?>/f_maxprice/<?=$box_val['maxprice'];?>">
            <img src="<?=$sf_image;?>">
            <div class="mask">
                <h2><?=$sf_name;?></h2>
                <div class="obj-info">
                    <div class="obj-amount"><?=$sf_objects;?></div>
                    <div class="price">от
                        <strong class="big"><?=$box_val['minprice'];?></strong>
                    <span class="rouble">a</span>/<?=$sf_period;?></div>
                </div>
            </div>
            <h3><?=$sf_name;?></h3>
            </a>
        </div>
        <?
        }
        ?>
    </div>
</div>
<?

}
}
?>


<!--         <a class="level-title my-collapse" href="#level-apartments"  data-target="#level-apartments-collapse">
Апартаменты<br>
<i class="ico-caret-down"></i>
</a>
-->


<div class="level">
    <div class="box box-3-3-3">
        
        <!-- ***** Гостям ***** -->
        <div class="w01 win-closed">
            <div class="screen-off">
                    <h2 class="round">Гостям</h2>
                    <br>
                    <img class="title-icon" src="../images/icons/ico-guests-2.png" alt="">
            </div>
            <a class="screen-on" href="/page/guests">
                    <h2 class="round">Гостям</h2>
                    <p>Выберите свой оптимальный вариант размещения</p>
            </a>
        </a>
        </div>
        <!-- *****  *****  *****  *****  ***** -->

        <!-- ***** Владельцам ***** -->
        <div class="w02 win-closed">
            <div class="screen-off">
                <h2 class="round">Владельцам</h2>
                <br>
                <img class="title-icon" src="../images/icons/ico-keys-2.png" alt="">
            </div>
            <a class="screen-on" href="/page/owners">
                <h2 class="round">Владельцам</h2>
                <p>Получайте максимальную прибыль от вашей недвижимости в сотрудничестве с нами</p>
            </a>
        </div>
        <!-- *****  *****  *****  *****  ***** -->

        <!-- ***** Партнерам ***** -->
        <div class="w03 win-closed">
            <div class="screen-off">
                <h2 class="round">Партнерам</h2>
                <br>
                <img class="title-icon" src="../images/icons/ico-partners-2.png" alt="">
            </div>
            <a class="screen-on" href="https://mapsengine.google.com/map/edit?mid=zWPjJDiANgmM.km9xrmpKmD6g">
                <h2 class="round">Партнерам</h2>
                <p>Инвестируйте ваши средства в надежные и доходные активы</p>
            </a>
        </div>
        <!-- *****  *****  *****  *****  ***** -->

    </div>
    <!-- .box-3-3-3 -->
</div>
<!-- .level-4 -->
<div class="level" id="level-map">
    <div class="box box-1x2">

        <div class="level-ribbon">
            <div class="left"></div>
            <div class="content">Карта</div>
            <div class="right"></div>
        </div>

        <div class="w01" id="main-map-canvas"></div>

        <!-- Panorama Box -->
        <div id="panorama-box">
            <div id="panorama-box-close">
                <button type="button" class="btn btn-danger close-panorama"><i class="ico-close"></i> Закрыть</button>
            </div>
        </div>
        <!-- Panorama Box - END -->


    </div>
    <!-- .box-1x2 -->
</div>
<!-- .level-5 -->
<!-- _*_*_*_*_*_*_*_*_*_*_*_>>>>> FOOTER -->
<div class="level" id="level-footer">
    <div class="box box-footer">
        <div class="w01">
            <div class="inner">
                
                <h3>О компании</h3>
                <ul>
                    <li><a href="/page/about">О нас</a></li>
                    <li><a href="/page/contacts">Контакты</a></li>
                    <li><a href="/help/index">Помощь</a></li>
                    <li><a href="/help/index">Вопросы и ответы</a></li>
                </ul>
                
                <hr>

                <h3>Информация</h3>
                <ul>
                    <li><a href="/page/guests">Гостям</a></li>
                    <li><a href="/page/owners">Владельцам</a></li>
                    <li><a href="https://mapsengine.google.com/map/edit?mid=zWPjJDiANgmM.km9xrmpKmD6g">Партнерам</a></li>
                </ul>

            </div>
            <!-- .inner -->
        </div>
        <!-- .w01 -->
        <div class="w02">
            <div class="inner">
                <h3>Контакты</h3>
                <p>
                г. Краснодар<br>
                ул. Шоссе Нефтяников 28<br>
                оф. 404
                </p>

                <p>
                    ООО «АпартКвартира.ру»<br>
                    <strong>Юридический адрес:</strong> 350051, г. Краснодар, ул. Шоссе Нефтяников, д.28, офис 404<br>
                    <strong>Фактический адрес:</strong> 350051, г. Краснодар, ул. Шоссе Нефтяников, д.28, офис 404<br>                    
                </p>

                <p>
                +7 918 217-0163<br>
                +7 960 484-9810
                </p>

                <p><a href="mailto: info@apartkvartira.ru">info@apartkvartira.ru</a></p>

            </div>
        </div>
        <div class="w03">
            <div class="inner">
                
                <h3>Безопасность и оплата</h3>
                <ul>
                    <li><i class="ico-eye-blocked"></i> <a href="/page/personaldata">Согласие на обработку персональных данных</a></li>
                    <li><i class="ico-lock-3"></i> <a href="/page/securepay">Безопасность онлайн платежей</a></li>
                </ul>
                
                <hr>

                <h3>Способы оплаты</h3>
                <p>Вы можете оплатить бронь
                наличными при заселении, либо
                выбрать другой способ оплаты:</p>

                <img src="/images/ui/paylogos/visa.png">
                <img src="/images/ui/paylogos/mc.png">
                <img src="/images/ui/paylogos/amex.png">
                <img src="/images/ui/paylogos/jcb.png">

            
            </div>
        </div>
    </div>
</div>

<div id="objects-list"><div class="wrapper"></div></div>

<!--
****************************************************************
#object_list_template
****************************************************************
-->
<div id="object_list_template" class="hide">

    <div class="obj-tooltip hide" id="obj-tooltip-{{obj_index}}">
        <div class="overlay">

            <!-- OVERLAY CONTENT -->
            <div class="row">

                <!-- Overlay Image -->
                <div class="overlay-image col-lg-4">
                    <img src="{{obj_title_image}}">
                    <div class="overlay-box-close"><i class="ico-close"></i></div>
                </div>
                <!-- Overlay Image - END -->
                <!-- Overlay Description -->
                <div class="overlay-desc col-lg-5">

                    <!-- Overlay Location -->
                    <div class="obj-location-title">
                        <div class="inner">
                            <i class="ico-location"></i>  <a href="#" class="obj-title" data-obj-index="{{obj_index}}">{{obj_name}}</a>
                        </div>
                    </div>
                    <!-- Overlay Location - END -->

                    <!-- Overlay Specification -->
                    <div class="obj-spec">
                        <div class="inner">
                            <span class="obj-spec-block"><i class="ico-male"></i> &times; {{obj_guests}}</span>
                            <span class="obj-spec-block"><i class="ico-resize-full"></i> {{obj_sqr}} m&sup2;</span>
                            <span class="obj-spec-block">{{obj_rooms}} комн.</span>
                        </div>
                    </div>
                    <!-- Overlay Specification - END -->

                    <!-- Overlay Streetview -->
                    <div class="obj-streetview">
                        <div class="inner">
                            <i class="ico-location-arrow"></i>  <a href="#" class="open-panorama" data-target="#obj-panorama-{{obj_index}}" data-obj-index="{{obj_index}}">Просмотр улиц</a>
                        </div>
                    </div>
                    <!-- Overlay Streetview - END -->

                </div>
                <!-- Overlay Description - END -->

                <div class="overlay-price col-lg-3">

                    <div class="obj-price">
                        <div class="price-main">{{obj_price}}
                            <span class="rouble">a</span>
                        </div>
                        <div class="price-small">{{obj_stayperiod}}</div>
                    </div>

                    <a href="/objects/view/uid/{{obj_uid}}" class="obj-more-details">ДЕТАЛИ</a>

                </div>
                <!-- .col-lg-3 - END -->


            </div>
            <!-- .row -->
            <!-- OVERLAY CONTENT - END -->

            <div class="overlay_arrow above"></div>
        </div>
        <!-- .obj-overlay -->
    </div>
    <!-- .obj-tooltip -->

</div>
<!-- #object_list_template -->

<!-- Modal - #modal-sign-in -->
<!-- *********************************************************************************************************************************** -->
<div class="modal fade" id="modal-sign-in" tabindex="-1" role="dialog" aria-labelledby="modal-sign-in" aria-hidden="true">
    <div class="modal-dialog modal-sm">
          <div class="modal-content">

                <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title" id="modal-add-event-label">Вход</h4>
                </div>

                <div class="modal-body">
                      
                      <div class="form-group">
                            <div class="row">

                                  <div class="col-md-4">
                                        <label for="cal_startdate">Email</label>
                                        
                                        <div class="input-group">
                                              <input type="text" name="u_username" id="u_username" value="" helper="formText" class="form-control">
                                        </div>

                                  </div>

                                  <div class="col-md-4">
                                        <label for="cal_startdate">Пароль</label>
                                        
                                        <div class="input-group">
                                              <input type="text" name="u_password" id="u_password" value="" helper="formText" class="form-control">
                                        </div>

                                  </div>

                            </div>
                      </div>

                </div>
                <!-- .modal-body - END -->

                <div class="modal-footer">
                      <button type="button" class="btn btn-primary"><i class="ico-ok"></i> OK</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ico-close"></i>  Отмена</button>
                </div>

          </div>
    </div>
</div>                  
<!-- *********************************************************************************************************************************** -->
<!-- MODAL - #modal-sign-in - END -->