        <!-- // PRELOADER // -->
        <div id="preloader" class="clearfix">
            <div class="wrapper align-center">
                <div class="logo">
                    <img src="/intro/static/images/logo-black.png" alt="">
                </div>
            </div>
        
            <div class="half left"></div>
            <div class="half right"></div>
        </div>
        <!-- // END PRELOADER // -->
        
        
        <!-- // HEADER // -->
        <header>
            <nav class="wrapper align-center">
                <ul>
                    <li><a href="#home" class="current">Главная</a></li>
                    <li><a href="#guests">Гостям</a></li>
                    <li><a href="#owners">Владельцам</a></li>
                    <li><a href="#last-section">Контакты</a></li>
                </ul>
            </nav>
        </header>
        <!-- // END HEADER // -->
        
        
        <!-- // MAIN SECTION // -->
        <section id="home" class="page fullscreen"
            data-video="false"
            data-url="http://vimeo.com/66926451"
            data-volume="0"
            data-loop="true">
        
            <!-- // SLIDER // -->
            <div class="slider fotorama" 
                data-width="100%"
                data-height="100%"
                data-fit="cover"
                data-nav="false"
                data-autoplay="true"
                data-arrows="false"
                data-transition="dissolve"
                data-transitionduration="700"
                
                data-stellar-ratio="0.5">

                <!-- <img src="/intro/static/images/slider/2_sm.jpg" alt=""> -->
                <!-- <img src="/intro/static/images/slider/3_sm.jpg" alt="">         -->
                <!-- <img src="/intro/static/images/slider/4_sm.jpg" alt="">         -->
                <img src="/intro/static/images/slider/6_sm.jpg" alt="">        
                <img src="/intro/static/images/slider/5_sm.jpg" alt="">        
                <img src="/intro/static/images/slider/1_sm.jpg" alt="">
                
            </div>
            <!-- // END SLIDER // -->
            
            
            <!-- // CONTENT // -->
            
            <!-- PATTERNS AVAILABLE
                    
                     # dot-1
                     # dot-2
                     # dot-3
                     # line-1
                     # line-2
                     # gradient-1
                     # gradient-2
                     # color-layout + data-color="rgba(0, 0, 0, 0.5)" (or data-color="#000000")
                                     
                     USE ONLY WITH .PATTERN CLASS!
                     EXAMPLE: class="pattern gradient-2" -->
            
            <div class="content pattern color-layout" data-color="rgba(0, 0, 0, 0.45)">
            <!-- <div class="content pattern color-layout" data-color="rgba(0, 0, 0, 0)"> -->
            
                <div class="wrapper align-center">
                
                    <!-- // LOGO // -->
                    <div id="logo">
                        <img src="/intro/static/images/logo-white.png" alt="">
                    </div>
                    <!-- // END LOGO // -->
                    
                    <h1 id="slogan">Аренда жилья в один клик</h1>

                        <ul class="bxslider">

                            <li><h3><a href="/index/index">Краснодар</a></h3></li>
                            <li><h3 class="soon">Геленджик</h3></li>
                            <li><h3 class="soon">Анапа</h3></li>
                            <li><h3 class="soon">Сочи</h3></li>
                            
                            <li><h3 class="soon">Ялта</h3></li>
                        </ul>

                        <h1><a href="/index/index">Вход</a></h1>

                    <!-- // COUNTDOWN // -->
                    <div id="countdown" 
                        data-start = "Sep 14, 2014 00:00:00"
                        data-serverSync="false"
                        data-expiryUrl="null">
                        
                        <div id="sec"  data-label="Просмотров объектов за последний час"></div>
                        <span id="cd"></span><!-- // COUNTDOWN SHELL // -->

                        </div>

                    <!-- // END COUNTDOWN // -->
                    
                    <br><br>
                    <div id="goto-links">
                        <a href="#guests" class="btn big no-color" id="go-guests">Информация гостям</a>
                        <a href="#owners" class="btn big no-color" id="go-owners">Информация владельцам</a>
                    </div>

                </div>
            </div>
            <!-- // END CONTENT // -->
        </section>
        <!-- // END MAIN SECTION // -->
        
        <!-- // CONTENT // -->
        <section id="content">
            

            


            <!-- // GUESTS // -->
            <section id="guests" class="page fullwidth">
                <header>
                    <h1><i class="ico-star-2"></i> Преимущества</h1>
                    <h2>для наших гостей</h2>
                </header>
                <div class="body">

                    <ul>
                        <li>
                            <div class="icon">
                                <span class="ico-resize-horizontal"></span>
                            </div>
                            <h2>Прямое бронирование</h2>
                            <p>Мы не являемся посредниками- все апартаменты и квартиры находятся в нашем управлении.</p>
                        </li>
                        
                        <li>
                            <div class="icon">
                                <span class="ico-bolt"></span>
                            </div>
                            <h2>Мгновенные бронирования</h2>
                            <p>Бронирования делаются в реальном времени. Не нужно делать безрезультатных запросов и звонков: несколько кликов и жилье забронировано.</p>
                        </li>
                        
                        <li>
                            <div class="icon">
                                <span class="ico-money"></span>
                            </div>
                            <h2>Авансовый платеж</h2>
                            <p>Изначально вы оплачиваете только 10% стоимости. Оставшаяся сумма оплачивается по факту заселения.</p>
                        </li>

                        <li>
                            <div class="icon">
                                <span class="ico-home-3"></span>
                            </div>
                            <h2>Чувствуйте себя как дома</h2>
                            <p>Наши апартаменты объединяют в себе преимущества отеля и приватной квартиры.</p>
                        </li>

                        <li>
                            <div class="icon">
                                <span class="ico-comments-alt"></span>
                            </div>
                            <h2>Система отзывов рейтинга</h2>
                            <p>Отзывы предыдущих клиентов и рейтинговая оценка помогут вам в выборе варианта.</p>
                        </li>


                        <li>
                            <div class="icon">
                                <span class="ico-search"></span>
                            </div>
                            <h2>Современный и удобный поиск</h2>
                            <p>Для Вашего удобства, Мы сгруппировали объекты в тематические смарт-фильтры .</p>
                        </li>


                        <li>
                            <div class="icon">
                                <span class="ico-clock"></span>
                            </div>
                            <h2>24 часа в сутки</h2>
                            <p>Наши службы поддержки и устранения возникающих проблем работают круглосуточно.</p>
                        </li>

                        <li>
                            <div class="icon">
                                <span class="ico-key"></span>
                            </div>
                            <h2>Личный кабинет</h2>
                            <p>Управляйте своими бронированиями в своем личном кабинете на нашем сайт.</p>
                        </li>



                    </ul>

                </div>
            </section>
            <!--// END GUESTS //-->

            <!-- // OWNERS // -->
            <section id="owners" class="page">
                <div class="body">

                    <h1><i class="ico-rocket-2"></i> Быстрый старт для владельцев</h1>
                    
                    <p class="short">
                    ООО «АпартКвартира.ру» предлагает владельцу жилой недвижимости передать свою жилую недвижимость в комплексное управление, для сдачи ее в аренду на гибкие сроки с максимальной эффективностью и минимальными трудозатратами.
                    </p>
                    
                    <ul class="description">
                        <li>
                            <h1>Мы берем на себя</h1>
                            <hr>
                            <p>
                                <ul>
                                    <li>все заботы о поиске надёжных и платёжеспособных клиентов</li>
                                    <li>обязательства по выплате гарантированного дохода от аренды вашей недвижимости</li>
                                    <li>все заботы о заселении и выезде клиентов, об уборке и подготовке квартир</li>
                                    <li>все заботы о своевременном получении арендной платы</li>
                                    <li>аварийно-сервисное обслуживание объектов</li>
                                    <li>заботы о расчёте ваших налогов по данным доходам</li>
                                    <li>заботы о страховании ваших объектов</li>
                                    <li>заботы о юридическом сопровождении аренды</li>
                                </ul>
                            </p> 
                        </li>
                        
                        <li>
                            <h1>Порядок приема объекта</h1>
                            <hr>
                            <p>
                                <ul>
                                    <li>Первоначально объект привлекается для тестирования в системе на короткий срок ( 1-3 месяца)</li>
                                    <li>В течение срока тестирования в системе объект сдается в аренду на гибкие сроки (от  2 суток) в категории “апартамент”, с набором сервисных услуг, оказываемых «АпартКвартира.ру»</li>
                                    <li>В течение данного срока Владелец получает арендную плату из расчета установленной цены аренды за сутки и колличества загруженных суток</li>
                                    <li>По результатам тестирования и обоюдному согласию сторон подписывается долгосрочное соглашение о сотрудничестве</li>
                                    <li>Владелец не несет никаких расходов по размещению в системе и дальнейшему участию в программе</li>
                                </ul>
                            </p> 
                        </li>

                    </ul>
                    

                </div>
                <!-- END body -->
            </section>
            <!-- // END OWNERS // -->

            <!-- // BOOKLET // -->
            <section id="newsletter" class="page image" style="background-image: url('/intro/image-3.jpg')">
                <div class="wrapper align-center pattern color-layout" >
                    <div><a href="/intro/booklet-apartkvartira.pdf" class="btn large" target="_blank">Скачать наш буклет</a></div>
                    <!-- data-color="rgba(85, 85, 92, 0.5)" -->
                </div>
            </section>
            <!-- // END BOOKLET //-->    
            

            <!-- // OWNERS // -->
            <section id="services" class="page">
                <header>
                    <h1><i class="ico-star-2"></i> Преимущества</h1>
                    <h2>для владельцев жилья</h2>
                </header>
                <div class="body">
                    
                    <ul>
                        <li>
                            <div class="icon">
                                <span class="ico-globe"></span>
                            </div>
                            <h2>Онлайн доступ</h2>
                            <p>Ваше жилье доступно для аренды и бронирования по всему миру благодаря нашей продвинутой платформе</p>
                        </li>
                        
                        <li>
                            <div class="icon">
                                <span class="ico-stats"></span>
                            </div>
                            <h2>Рост доходов</h2>
                            <p>наше предложение позволяет существенно увеличить ваши доходы от аренды недвижимости за счет сдачи ее на гибкие (от 2х суток) сроки</p>
                        </li>
                        
                        <li>
                            <div class="icon">
                                <span class="ico-accessibility"></span>
                            </div>
                            <h2>Никаких забот</h2>
                            <p>всю работу по поиску надежных и платежеспособных клиентов, а также весь комплекс мероприятий, связанный с их въездом и выездом мы берем на себя</p>
                        </li>
                        
                        <li>
                            <div class="icon">
                                <span class="ico-key"></span>
                            </div>
                            <h2>Личный кабинет</h2>
                            <p>Получайте информацию по бронированиям, ценам и срокам загрузки ваших объектов в своем личном кабинете на нашем сайте</p>
                        </li>

                        <li>
                            <div class="icon">
                                <span class="ico-eye"></span>
                            </div>
                            <h2>Всегда под присмотром</h2>
                            <p>Мы осуществляем аварийно-сервисное обслуживание объектов, контролируем соблюдение арендаторами правил проживания</p>
                        </li>
                        
                        <li>
                            <div class="icon">
                                <span class="ico-leaf"></span>
                            </div>
                            <h2>Чистота и сохранность</h2>
                            <p>Мы осуществляем плановые и финальные уборки объектов, следим за сохранностью мебели, оборудования и косметического состояния объекта</p>
                        </li>
                        
                        <li>
                            <div class="icon">
                                <span class="ico-legal"></span>
                            </div>
                            <h2>Юридическое обеспечение</h2>
                            <p>Наши юристы осуществляют полное обслуживание аренд, решение всех возникающих вопросов и проблем</p>
                        </li>

                        <li>
                            <div class="icon">
                                <span class="ico-dollar"></span>
                            </div>
                            <h2>Контроль оплаты</h2>
                            <p>Забудьте о проблемах с получением арендной платы и задолженностях по коммунальным платежам. Мы гарантируем своевременное поступление арендной платы и оплачиваем коммунальные платежи</p>
                        </li>

                        
                        <li>
                            <div class="icon">
                                <span class="ico-umbrella"></span>
                            </div>
                            <h2>Страховка и прозрачность доходов</h2>
                            <p>Наши специалисты застрахуют вашу недвижимость и решат вопросы  по налогообложению доходов владельца, полученных от сдачи объекта в аренду</p>
                        </li>
                        

                        
                    </ul>
                    
                </div>
            </section>
            <!-- // END OWNERS // -->
            
            <section id="last-section" class="page fullwidth">
                <header>
                    <nav>
                        <ul>
                            <li><a href="#" class="btn no-color" data-page="feedback">Обратная связь</a></li>
                            <li><a href="#" class="btn no-color" data-page="contacts">Контакты</a></li>
                        </ul>
                    </nav>
                    
                    <div class="triangle"></div>
                </header>
            </section>
            
        </section>
        <!-- // END CONTENT // -->
        
        <div id="footer-space"></div>
        
        <!-- // FOOTER // -->
        <footer>
            <div class="wrapper">
                
                <!-- // FEEDBACK // -->
                <section id="feedback" class="page image">
                    <div class="wrapper align-center">
                        <ul>
                            <li class="text">
                                <h2>Нужна более детальная информация?</h2>
                                <hr>
                                <p>Дополнительную информацию вы можете получить связавшись с нами через форму обратной связи
                                или просто написав нам на <a href="mailto:info@apartkvartira.ru">info@apartkvartira.ru</a>, и мы вышлем вам более детальное предложение</p>
                            </li>
                            
                            <li>
                                <form action="engine/feedback.php" method="post" class="flat">
                                    <div>
                                        <input type="text" name="name" value="" placeholder="Ваше имя?">
                                        <input type="email" name="email" value="" placeholder="Обратный Email адрес">
                                        <textarea name="message" placeholder="Что бы вы хотели нам сказать или спросить у нас?"></textarea>
                                    </div>
                                    
                                    <div>
                                        <span class="status" 
                                            data-success="Ваше сообщение отправлено"
                                            data-error="Что-то пошло не так">
                                        </span>
                                        <input type="submit" value="Отправить" class="btn">
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- // END FEEDBACK // -->
                
                <!-- // CONTACTS // -->
                <section id="contacts" class="page image">
                    <div class="wrapper align-center">
                        
                        <div class="text">
                            <h2>Контактная информация</h2>
                            <hr>
                            <p>ул. шоссе Нефтяников, 28<br>
                            ТЦ "Ньютон"<br>
                                <br>этаж 4, офис 404
                                <br>Краснодар, Россия
                            </p>
                            <p>Просто позвоните нам: <br>
                            +7 918 217-0163<br>
                            +7 918 123-4446</p>
                        </div>
                        
                        <div id="map" data-latitude="45.067863" data-longitude="38.982992">
                            <div data-latitude="45.067863" data-longitude="38.982992" data-title="Our office" class="marksys">
                                <div class="align-center" style="padding:5px;color:#000">Наш офис!</div>
                            </div>
                            
                            <div data-latitude="45.067863" data-longitude="38.982992" data-title="Our office" class="marksys">
                                <div class="align-center" style="padding:5px;color:#000">Наш офис!</div>
                            </div>
                        </div>
                        
                    </div>
                </section>
                <!-- // END CONTACTS // -->
                
            </div>
        </footer>
        <!-- // END FOOTER // -->