<h2><?=$this->translate("Reset DB");?></h2>
<br>

<a class="btn btn-large btn-danger"  href="<?=$this->url(array('action' => 'resetall'));?>" data-confirm="WARNING: This action cannot be undone. Are you sure you want to DO THIS ?" data-disable-with="Deleting..." data-method="delete" rel="nofollow"><i class="icon-trash"></i>  <?=$this->translate("Full Reset");?></a>