<h2><?=$this->translate("Reset DB");?>. Full reset complete</h2>
<a href="<?=$this->url(array('action' => 'index'));?>" class="btn"><i class="icon-list"></i> <i class="icon-reply"></i> <?=$this->translate("Back to list");?></a>
<hr>

<h3><?=$this->translate("Results");?></h3>
    
<table class="table table-hover sortable">
<thead>
<tr>
    <th><?=$this->translate("Table name");?></th>
    <th><?=$this->translate("UID");?></th>
    <th><?=$this->translate("Deleted items");?></th>
</tr>
</thead>
<tbody>
<?
    foreach($this->tables as $table)
    {
    ?>
        <tr>
            <td> <?=$table['name'];?> </td>
            <td> <?=$table['uid'];?> </td>
            <td> <?=$table['items'];?> </td>
        </tr>
    <?
    }
?>
</tbody>
</table>
        