<div class="alert alert-danger">
    <i class="ico-minus-sign"></i> &nbsp;&nbsp;&nbsp; <?=$this->exception;?>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <?=nl2br($this->trace);?>
    </div>
</div>