<h1><?=_('Access denied');?></h1>
<div class="alert alert-danger">
    <h2 class=""><i class="icon-minus-sign icon-large"></i> &nbsp;&nbsp;&nbsp; <?=_('You do not have permission to perform this operation');?></h2>
</div>
