<div class="help-title navbar navbar-fixed-top">
    <div class="container">

        <h1><i class="ico-flag"></i> О нас</h1>

        <div class="clearfix"></div>
    </div>
</div>


<div class="row help">
    <div class="container">

        <div class="col-lg-9 col help-content">

            <h2>О нас</h2>

            <p><strong>АпартКвартира.ру - современный ресурс на рынке аренды жилой недвижимости - реализующий свои услуги посредством системы моментального онлайн бронирования на собственном сайте.</strong></p>

            <h4 class="help-title-orange">Задачи, которые мы перед собой ставим:</h4>

            <div class="row">
                <div class="col-md-4 adv-item">
                    <div class="icon">1</div>
                    <!-- <div class="help-adv-title">Автоматизация процесса нахождения и выбора варианта аренды</div> -->
                    <p>Автоматизация процесса нахождения и выбора варианта аренды</p>
                </div>
                <div class="col-md-4 adv-item">
                    <div class="icon">2</div>
                    <p>Комплексное решение всех эксплуатационных вопросов, возникающих у обеих сторон в процессе аренды</p>
                </div>

                <div class="col-md-4 adv-item">
                    <div class="icon">3</div>
                    <p>Создание комфортной, эффективной и более дешевой альтернативы проживанию в гостиницах</p>
                </div>

            </div>

            <h4 class="help-title-orange">АпартКвартира.ру - это...</h4>

            <div class="row">

                <div class="col-md-4 adv-item">
                    <div class="help-adv-title">Отсутствие посредников</div>
                    <p>мы не являемся посредником и информационной площадкой - все объекты находятся в доверительном управлении нашей компании</p>
                </div>

                <div class="col-md-4 adv-item">
                    <div class="help-adv-title">полный комплекс услуг</div>
                    <p>мы осуществляем полный комплекс услуг, связанный с арендой жилья: бронирование, заселение и выселение арендаторов, их обслуживание в период проживания, взимание арендной платы, оплату коммунальных услуг и прочее</p>
                </div>

                <div class="col-md-4 adv-item">
                    <div class="help-adv-title">уплата налогов</div>
                    <p>мы осуществляем весь комплекс мероприятий по уплате налогов, страхованию объектов и юридическому сопровождению аренд</p>
                </div>

            </div>
            <h2>Срок аренды и виды размещения</h2>

            <div class="row">
                <div class="col-md-6 adv-item">
                    <div class="help-adv-title">разный срок аренды</div>
                    <p>
                    АпартКвартира.ру предлагает Арендаторам и Владельцам выбор между арендой на гибкий (от 2 суток) и длительный (от 6 мес) срок аренды
                    </p>
                </div>

                <div class="col-md-6 adv-item">
                    <div class="help-adv-title">2 варианта размещения</div>
                    <p>
                    АпартКвартира.ру предлагает два вида вариантов размещения: Апартаменты и Квартиры<br>
                    <strong>Апартаменты</strong> - предполагают любой срок аренды –от 2 суток и более, всегда полностью меблированы и оборудованы и включают в себя сервис по периодической уборке и замене белья (гостиничный сервис)<br><br>
                    <strong>Квартиры</strong> - арендуются на срок от 6 мес , в наличии объекты с мебелью и без.
                    </p>
                </div>

            </div>

            <a class="btn-big-orange" href="/intro/booklet-apartkvartira.pdf" target="_blank">Скачать наш буклет</a>
            
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

    </div>


</div>
</div>