<div class="help-title navbar navbar-fixed-top">
    <div class="container">
        <h1><i class="ico-phone-2"></i> </h1>
        <div class="clearfix"></div>
    </div>
</div>
<div class="row help">
    <div class="container">
        <div class="col-lg-9 col help-content">



        <h1>Гостям</h1>

            <h2>Преимущества бронирования апартаментов</h2>

            <div class="well well-lg">
                Апартаменты - предполагают любой срок аренды –от 2 суток и более, всегда полностью меблированы и оборудованы и включают в себя сервис по периодической уборке и замене белья (гостиничный сервис)
            </div>

            <!-- ** row ************************************************************-->
            <div class="row">

                <!-- col-4 -->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-resize-horizontal"></span>
                    </div>
                    <div class="help-adv-title">Прямое бронирование</div>
                    <p>Мы не являемся посредниками- все апартаменты и квартиры находятся в нашем управлении</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->
                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">

                    <div class="icon">
                        <span class="ico-bolt"></span>
                    </div>
                    <div class="help-adv-title">Мгновенные бронирования</div>
                    <p>Бронирования делаются в реальном времени. Не нужно делать безрезультатных запросов и звонков: несколько кликов и жилье забронировано</p>

                </div>
                <!-- ** col-4 - END ************************************************************-->

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">

                    <div class="icon">
                        <span class="ico-money"></span>
                    </div>
                    <div class="help-adv-title">Авансовый платеж</div>
                    <p>Ваше жилье доступно для аренды и бронирования по всему миру благодаря нашей продвинутой платформе</p>

                </div>
                <!-- ** col-4 - END ************************************************************-->

            </div>
            <!-- ** row - END ************************************************************-->

            <!-- ** row ************************************************************-->
            <div class="row">

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-home-3"></span>
                    </div>
                    <div class="help-adv-title">Чувствуйте себя как дома</div>
                    <p>Наши апартаменты объединяют в себе преимущества отеля и приватной квартиры</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->
                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-comments-alt"></span>
                    </div>
                    <div class="help-adv-title">Система отзывов рейтинга</div>
                    <p>Отзывы предыдущих клиентов и рейтинговая оценка помогут вам в выборе варианта</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-search"></span>
                    </div>
                    <div class="help-adv-title">Современный и удобный поиск</div>
                    <p>Для Вашего удобства, Мы сгруппировали объекты в тематические смарт-фильтры</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->
            </div>
            <!-- ** row - END ************************************************************-->
            <!-- ** row ************************************************************-->
            <div class="row">

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-office"></span>
                    </div>
                    <div class="help-adv-title">современные здания</div>
                    <p>Наши апартаменты, расположены только в современных зданиях и жилых комплексах</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-paste-2"></span>
                    </div>
                    <div class="help-adv-title">Отчетные документы</div>
                    <p>Мы предоставляем полный пакет отчетных документов</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-asterisk"></span>
                    </div>
                    <div class="help-adv-title">обслуживание</div>
                    <p>Мы предоставляем услугу по уборке апартаментов и замене белья</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->

            </div>
            <!-- ** row - END ************************************************************-->


        </div>
    </div>
</div>