<div class="help-title navbar navbar-fixed-top">
    <div class="container">
        <h1><i class="ico-star-2"></i> Владельцам</h1>
        <div class="clearfix"></div>
    </div>
</div>
<div class="row help">
    <div class="container">
        <div class="col-lg-9 col help-content">


        <h1>Владельцам</h1>

            <h2>Преимущества для владельцев жилья</h2>

            <!-- ** row ************************************************************-->
            <div class="row">

                <!-- col-4 -->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-globe"></span>
                    </div>
                    <div class="help-adv-title">Онлайн доступ</div>
                    <p>Ваше жилье доступно для аренды и бронирования по всему миру благодаря нашей продвинутой платформе</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->
                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">

                    <div class="icon">
                        <span class="ico-stats"></span>
                    </div>
                    <div class="help-adv-title">Рост доходов</div>
                    <p>Наше предложение позволяет существенно увеличить ваши доходы от аренды недвижимости за счет сдачи ее на гибкие (от 2х суток) сроки</p>

                </div>
                <!-- ** col-4 - END ************************************************************-->

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">

                    <div class="icon">
                        <span class="ico-accessibility"></span>
                    </div>
                    <div class="help-adv-title">Никаких забот</div>
                    <p>всю работу по поиску надежных и платежеспособных клиентов, а также весь комплекс мероприятий, связанный с их въездом и выездом мы берем на себя</p>

                </div>
                <!-- ** col-4 - END ************************************************************-->

            </div>
            <!-- ** row - END ************************************************************-->

            <!-- ** row ************************************************************-->
            <div class="row">

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-key"></span>
                    </div>
                    <div class="help-adv-title">Личный кабинет</div>
                    <p>Получайте информацию по бронированиям, ценам и срокам загрузки ваших объектов в своем личном кабинете на нашем сайте</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->
                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-eye"></span>
                    </div>
                    <div class="help-adv-title">Всегда под присмотром</div>
                    <p>Мы осуществляем аварийно-сервисное обслуживание объектов, контролируем соблюдение арендаторами правил проживания</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-leaf"></span>
                    </div>
                    <div class="help-adv-title">Чистота и сохранность</div>
                    <p>Мы осуществляем плановые и финальные уборки объектов, следим за сохранностью мебели, оборудования и косметического состояния объекта</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->
            </div>
            <!-- ** row - END ************************************************************-->
            <!-- ** row ************************************************************-->
            <div class="row">

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-legal"></span>
                    </div>
                    <div class="help-adv-title">Юридическое обеспечение</div>
                    <p>Наши юристы осуществляют полное обслуживание аренд, решение всех возникающих вопросов и проблем</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-dollar"></span>
                    </div>
                    <div class="help-adv-title">Контроль оплаты</div>
                    <p>Забудьте о проблемах с получением арендной платы и задолженностях по коммунальным платежам. Мы гарантируем своевременное поступление арендной платы и оплачиваем коммунальные платежи</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->

                <!-- ** col-4 ************************************************************-->
                <div class="col-md-4 adv-item">
                    <div class="icon">
                        <span class="ico-umbrella"></span>
                    </div>
                    <div class="help-adv-title">Страховка и прозрачность доходов</div>
                    <p>Наши специалисты застрахуют вашу недвижимость и решат вопросы  по налогообложению доходов владельца, полученных от сдачи объекта в аренду</p>
                </div>
                <!-- ** col-4 - END ************************************************************-->

            </div>
            <!-- ** row - END ************************************************************-->
        


        </div>
    </div>
</div>