<div class="help-title navbar navbar-fixed-top">
    <div class="container">
        <h1><i class="ico-eye-blocked"></i> Согласие на обработку персональных данных</h1>
        <div class="clearfix"></div>
    </div>
</div>
<div class="row help">
    <div class="container">
        <div class="col-lg-9 col help-content">
            
            <h2>Согласие на обработку персональных данных</h2>
            
            <p>Пользователь, зарегистрировавшись на сайте или подписываясь на оповещения об информации по адресу <strong><a href="/">http://www.apartkvartira.ru</a></strong>, обязуется принять Согласие на обработку персональных данных (далее – Согласие).</p>
            
            <p>Принятием (акцептом) оферты настоящего Согласия является регистрация Пользователя на Сайте или подача заявки на получение товара/услуги. Пользователь дает свое согласие <strong>ООО «АпартКвартира.ру»</strong>, расположенному по адресу <strong>г. Краснодар, ул. Шоссе Нефтяников, 28, оф.404</strong>, на обработку своих персональных данных со следующими условиями:</p>
            
            <ol>
                <li>Согласие дается на обработку персональных данных, как без использования средств автоматизации, так и с их использованием.</li>
                <li>Согласие дается на обработку следующих персональных данных:
                    <ul>
                        <li>Фамилия Имя Отчество</li>
                        <li>Номера контактных телефонов</li>
                        <li>Адреса электронной почты</li>
                        <li>Адрес проживания</li>
                    </ul>
                </li>
                <li>Персональные данные не относятся к общедоступным</li>
                <li><strong>Целью обработки персональных данных является – предоставление пользователю информации о доступных для бронирования апартаментах и квартирах, находящихся в базе данных ООО «АпартКвартира.ру».</strong></li>
                
                <li>Основанием для обработки персональных данных является Ст. 24 Конституции Российской Федерации; ст.6 Федерального закона №152-ФЗ «О персональных данных»;, иные федеральные законы и нормативно правовые акты.</li>
                
                <li>В ходе обработки с персональными данными будут совершены следующие действия: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезли-чивание, блокирование, удаление, уничтожение.</li>
                
                <li>Передача персональных данных третьим лицам осуществляется на основании установленного законодательства Российской Федерации, договора с участием Пользователя или с согласия Пользователя. <strong>Передача персональных данных третьим лицам не осуществляется.</strong></li>

                <li>Персональные данные обрабатываются ООО «АпартКвартира.ру» в течении трех лет. Хранение персональных данных осуществляется согласно Федеральному закону №125-ФЗ «Об архивном деле в Российской Федерации» и иным нормативно правовым актам в области архивного дела и архивного хранения.</li>

                <li>Согласие может быть отозвано Пользователем, путем направления письменного заявления представителю ООО «АпартКвартира.ру» на электронный адрес <a href="mailto: info@apartkvartira.ru">info@apartkvartira.ru</a>.</li>

                <li>Настоящее согласие действует все время до момента прекращения обработки персональных данных, указанных в п.8 и п.9 данного Согласия.</li>

            </ol>
        
        </div>
    </div>
</div>