<form method="<?php echo $this->form->getMethod() ?>" action="<?php echo $this->form->getAction() ?>" role="form" id="main-form">


    <fieldset id="fieldset-ab_group1"><legend><?=$this->translate("General attributes");?></legend>
        <div class="form-group">
            <div class="row">

                <div class="col-md-2">
                    <div class="input-group">
                        <label for=""><?=$this->translate("Public");?></label>
                        <div class="make-switch switch-large" data-off="danger" data-on-label="<?=$this->translate("ON");?>" data-off-label="<?=$this->translate("OFF");?>">
                            <?=$this->form->own_enable;?>
                        </div>
                    </div>
                </div><!-- /.col -->

                <div class="col-md-3">
                    <label for=""><?=$this->translate("Own type");?></label>
                    <?=$this->form->own_type;?>
                </div>

            </div><!-- /.row -->
        </div><!-- /.form-group -->

        <div class="form-group">
            <div class="row">
                <div class="col-md-5">
                    <label for=""><?=$this->translate("Email");?></label>
                    <?=$this->form->own_email;?>
                </div>
                <div class="col-md-3">
                    <label for=""><?=$this->translate("Phone");?></label>
                    <?=$this->form->own_phone;?>
                </div>
            </div><!-- /.row -->
        </div><!-- /.form-group -->

    </fieldset>

    <fieldset id="fieldset-ab_group2"><legend><?=$this->translate("Passport data");?></legend>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for=""><?=$this->translate("Lastname");?></label>
                    <?=$this->form->own_lastname;?>
                </div>

                <div class="col-md-4">
                    <label for=""><?=$this->translate("Firstname");?></label>
                    <?=$this->form->own_firstname;?>
                </div>

                <div class="col-md-4">
                    <label for=""><?=$this->translate("Middlename");?></label>
                    <?=$this->form->own_middlename;?>
                </div>

            </div><!-- /.row -->
        </div><!-- /.form-group -->

        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for=""><?=$this->translate("Date of birth");?></label>
                    <?=$this->form->own_dob;?>
                </div>
            </div><!-- /.row -->
        </div><!-- /.form-group -->

        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for=""><?=$this->translate("Passport number");?></label>
                    <?=$this->form->own_pasport_num;?>
                </div>
                <div class="col-md-2">
                    <label for=""><?=$this->translate("Issue date");?></label>
                    <?=$this->form->own_pasport_doi;?>
                </div>
                <div class="col-md-6">
                    <label for=""><?=$this->translate("Issue place");?></label>
                    <?=$this->form->own_pasport_issue;?>
                </div>
            </div><!-- /.row -->
        </div><!-- /.form-group -->

        <div class="form-group">
            <div class="row">
            </div><!-- /.row -->
        </div><!-- /.form-group -->

    </fieldset>

    <?=$this->form->own_id;?>

    <div class="submit-group">
        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> <?=$this->translate("Save changes");?></button>
        <a href="<?=$this->url(array('action' => 'index'));?>" class="btn btn-danger"><i class="icon-ban-circle"></i> <?=$this->translate("Cancel");?></a>
    </div>

</form>
