<div id="objects-filter">
      <div id="objects-filter-full">
            <div class="wrapper">

                  <form id="objects-filter-form">

                        <div class="form-group">

                              <!-- ROW 1 -->
                              <div class="row">

                                    <!-- Fiilters Close Button -->
                                    <div class="col-md-1">
                                          <a href="#" class="close-filters btn-round btn-orange"><i class="ico-arrow-up"></i></a>
                                    </div>

                                    <!-- Filters Full Form - Dates -->
                                    <div class="col-md-2 input-round">
                                          <label>Дата заезда</label>
                                          <input type="text" class="form-control" id="f_arrdate" name="f_arrdate" placeholder="Дата заезда">
                                    </div>
                                    <div class="col-md-2 input-round">
                                          <label>Дата выезда</label>
                                          <input type="text" class="form-control" id="f_depdate" name="f_depdate" placeholder="Дата выезда">
                                    </div>
                                    <!-- Filters Full Form - Dates - END -->

                                    <!-- Filters Full Form - Street -->
<!--                                     <div class="col-md-2 input-round">
                                          <label>Улица</label>
                                          <input type="text" class="form-control" id="f_street" name="f_street" placeholder="Улица">
                                    </div>
 -->
                                     <!-- Filters Full Form - Smartfilters - END -->

                                    <!-- Filters Full Form - Smartfilters -->
                                    <div class="col-md-4 input-round">
                                          <label>Смартфильтр</label>
                                          <div id="f_smart"></div>
                                          
                                          <!-- <div class="heapbox-wrap"></div> -->
                                         
                                    </div>
                                    <!-- Filters Full Form - Smartfilters - END -->

                              </div>
                              <!-- ROW 1 - END -->

                              <!-- ROW 2 -->
                              <div class="row">
                                    <div class="col-md-1"></div>
                                    <!-- Filters Full Form - Prices -->
                                    <div class="col-md-4">
                                          <label>Цена <span id="f-price-min"></span> ~ <span id="f-price-max"></span> рублей</label>
                                          <div class="price-slider-parent">
                                                <div class="slider f-price-slider"></div>

                                                <div class="ruler">
                                                      <span class="left"><span class="bg" id="f-price-min-label"></span></span>
                                                      <span class="left-center"><span class="bg"></span></span>
                                                      <span class="center"><span class="bg" id="f-price-mid-label"></span></span>
                                                      <span class="right-center"><span class="bg"></span></span>
                                                      <span class="right"><span class="bg" id="f-price-max-label"></span></span>
                                                </div>

                                          </div>
                                    </div>
                                    <!-- Filters Full Form - Prices - END -->
                                    <!-- Filters Full Form - Guests -->
                                    <div class="col-md-2">
                                          <label>Гостей от <span id="f-guests-min"></span> и более</label>
                                          <div class="guests-slider-parent">

                                                <div class="slider f-guests-slider"></div>

                                                <div class="ruler">
                                                      <span class="left"><span class="bg">1</span></span>
                                                      <span class="left-center"><span class="bg">4</span></span>
                                                      <span class="right-center"><span class="bg">7</span></span>
                                                      <span class="right"><span class="bg">10</span></span>
                                                </div>

                                          </div>
                                    </div>
                                    <!-- Filters Full Form - Guests  - END -->

                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-2">
                                    </div>

                              </div>
                              <!-- ROW 2 - END -->

                              <!-- ROW 3-->
                              <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3">
                                          <button type="button" class="regular-btn" id="apply-filters">Отфильтровать</button>
                                    </div>

                                    <div class="col-md-7">
                                    </div>
                              </div>
                              <!-- ROW 3 - END -->

                        </div>
                        <!-- /.form-group -->

                  </form>
            </div>
            <!-- .wrapper -->
      </div>
      <!-- #objects-filter-full - END -->

      <!-- #objects-filter-short -->
      <div id="objects-filter-short">
            <div class="wrapper">
                  

                  <!-- Filter panel - Open button -->
                  <a href="#" class="open-filters btn-round btn-orange"><i class="ico-arrow-down"></i></a>
                  <a href="#" class="open-filters btn-round btn-transp"><span class="padd"><i class="ico-location"></i> Краснодар <i class="ico-chevron-down"></i></span></a>

                  <!-- Filter panel - Price -->
                  <a href="#" class="open-filters btn-round btn-transp" id="filters-panel-price">
                  <span class="padd">
                  <i class="ico-credit-2"></i> <span class="value-min"></span> ~ <span class="value-max"></span> руб
                  </span>
                  <i class="ico-chevron-down"></i>
                  </a>

                  <!-- Filter panel - Calendar -->
                  <a href="#" class="open-filters btn-round btn-transp" id="filters-panel-dates">
                  <span class="padd">
                  <i class="ico-calendar-2"></i> <span class="value-arr"></span> ~ <span class="value-dep"></span>
                  </span>
                  <i class="ico-chevron-down"></i>
                  </a>

                  <!-- Filter panel - Guests -->
                  <a href="#" class="open-filters btn-round btn-transp" id="filters-panel-guests">
                  <span class="padd">
                  <i class="ico-male"></i> <span class="value"></span>
                  <i class="ico-chevron-down"></i>
                  </span>
                  </a>
                  <!-- Filter panel - Smart-Filter -->
                  <a href="#" class="open-filters btn-round btn-transp" id="filters-panel-smart">
                  <span class="padd">
                  <i class="ico-library"></i> <span class="value"></span>
                  </span>
                  <i class="ico-chevron-down"></i>
                  </a>

                  <span class="btn-round btn-white" id="filters-panel-found">
                  <span class="padd">
                  Найдено <span class="value"></span> <span class="found-label"></span>
                  </span>
                  </span>

<!--                   <div class="btn-group btn-sort" id="obj-sort">
                        <button type="button" class="btn btn-default">По цене</button>
                        <button type="button" class="btn btn-default sort" data-sort="price:asc"><i class="ico-chevron-up"></i></button>
                        <button type="button" class="btn btn-default sort" data-sort="price"><i class="ico-chevron-down"></i></button>
                  </div>
 -->


            </div>
      </div>
      <!-- #objects-filter-short - END -->
</div>

<!--
****************************************************************
MAIN AREA
****************************************************************
-->
<div class="row" id="objects-box">

      <!-- MAP -->
      <div class="col-xs-5" id="objects-map">

            <div id='map-canvas'></div>
            <!-- Panorama Box -->
            <div id="panorama-box">
                  <div id="panorama-box-close">
                        <button type="button" class="btn btn-danger close-panorama"><i class="ico-close"></i> Закрыть</button>
                  </div>
            </div>
            <!-- Panorama Box - END -->

      </div>

      <!-- OBJECTS LIST -->
      <div class="col-xs-7" id="objects-list">
            <div class="wrapper"></div>

            <!-- <div id="obj-items-counter">Ниже еще <span class="value">0</span> объектов</div> -->
      </div>
</div>

<!--
****************************************************************
#object_list_template
****************************************************************
-->
<div id="object_list_template" class="hide">

      <div class="obj-tooltip hide" id="obj-tooltip-{{obj_index}}">
            <div class="overlay">

                  <!-- OVERLAY CONTENT -->
                  <div class="row">
                        <!-- Overlay Image -->
                        <div class="overlay-image col-lg-4">
                              <img src="{{obj_title_image}}">
                              <div class="overlay-box-close"><i class="ico-close"></i></div>
                        </div>
                        <!-- Overlay Image - END -->

                        <!-- Overlay Description -->
                        <div class="overlay-desc col-lg-5">

                              <!-- Overlay Location -->
                              <div class="obj-location-title">
                                    <div class="inner">
                                          <i class="ico-location"></i>  <a href="#" class="obj-title" data-obj-index="{{obj_index}}">{{obj_name}}</a>
                                    </div>
                              </div>
                              <!-- Overlay Location - END -->

                              <!-- Overlay Specification -->
                              <div class="obj-spec">
                                    <div class="inner">
                                          <span class="obj-spec-block"><i class="ico-male"></i> &times; {{obj_guests}}</span>
                                          <span class="obj-spec-block"><i class="ico-resize-full"></i> {{obj_sqr}} m&sup2;</span>
                                          <span class="obj-spec-block">{{obj_rooms}} комн.</span>
                                    </div>
                              </div>
                              <!-- Overlay Specification - END -->
                              <!-- Overlay Streetview -->
                              <div class="obj-streetview">
                                    <div class="inner">
                                          <i class="ico-location-arrow"></i>  <a href="#" class="open-panorama" data-target="#obj-panorama-{{obj_index}}" data-obj-index="{{obj_index}}">Просмотр улиц</a>
                                    </div>
                              </div>
                              <!-- Overlay Streetview - END -->

                        </div>
                        <!-- Overlay Description - END -->

                        <div class="overlay-price col-lg-3">

                              <div class="obj-price">
                                    <div class="price-main">{{obj_price}}
                                          <span class="rouble">a</span>
                                    </div>
                                    <div class="price-small">{{obj_stayperiod}}</div>
                              </div>

                              <a href="/objects/view/uid/{{obj_uid}}" class="obj-more-details">ДЕТАЛИ</a>
                        </div>
                        <!-- .col-lg-3 - END -->


                  </div>
                  <!-- .row -->
                  <!-- OVERLAY CONTENT - END -->

                  <div class="overlay_arrow above"></div>
            </div>
            <!-- .obj-overlay -->
      </div>
      <!-- .obj-tooltip -->

      <div class="col-sm-6 col-md-6 col-lg-6 obj-item">
            <div class="obj-item-wrap" id="obj-item-box-{{obj_index}}" data-price="{{obj_price}}" data-uid="{{obj_uid}}">

                  <div class="thumbnail obj-item" data-obj-id="{{obj_id}}">

                        <div class="thumb_image">

                              {{obj_images}}

                              <div class="obj_rating">
                                    Рейтинг: <span>{{obj_rating}}</span>
                              </div>
                        </div>

                        <div class="caption">
                              <div class="row">
                                    <div class="col-lg-9">

                                          <div class="obj-location-title">
                                                <div class="inner">
                                                      <i class="ico-location"></i>  <a href="#" class="obj-title" data-obj-index="{{obj_index}}">{{obj_name}}</a>
                                                </div>
                                          </div>

                                          <div class="obj-spec">
                                                <div class="inner">
                                                      <span class="obj-spec-block"><i class="ico-male"></i> &times; {{obj_guests}}</span>
                                                      <span class="obj-spec-block"><i class="ico-resize-full"></i> {{obj_sqr}} m&sup2;</span>
                                                      <span class="obj-spec-block">{{obj_rooms}} комн.</span>
                                                      <!-- <span class="obj-spec-block obj-pos">0</span> -->
                                                </div>
                                          </div>

                                          <div class="obj-streetview">
                                                <div class="inner">
                                                      <i class="ico-location-arrow"></i>  <a href="#" class="open-panorama" data-target="#obj-panorama-{{obj_index}}" data-obj-index="{{obj_index}}">Просмотр улиц</a>
                                                      <!-- <i class="ico-star"></i> <a href="#" class="add-favorites" data-obj-index="{{obj_index}}">В избранное</a> -->
                                                </div>
                                          </div>
                                    </div>
                                    <!-- .col-lg-9 -->
                                    <div class="col-lg-3">

                                          <div class="obj-price">
                                                <div class="price-main">{{obj_price}}
                                                      <span class="rouble">a</span>
                                                </div>
                                                <div class="price-small">{{obj_stayperiod}}</div>
                                          </div>

                                          <a href="/objects/view/uid/{{obj_uid}}" class="more-details">ДЕТАЛИ</a>

                                    </div>

                              </div>
                              <!-- .row -->

                        </div>
                        <!-- .caption -->

                  </div>
                  <!-- .thumbnail .obj_item -->
            </div>
            <!-- .obj-item-wrap -->
      </div>
      <!-- .col -->

</div>
<!-- #object_list_template -->