<!--
****************************************************************
MAIN AREA
****************************************************************
-->
<!-- <div class="row"> -->

<div class="obj-book-navbar navbar-fixed-top">

      <div class="container">

            <!-- Filter panel - Open button -->
            <a href="<?=$this->url( $this->backlink );?>" class="btn-round btn-transp">
            <span class="padd"><i class="ico-chevron-left"></i> Назад к просмотру объекту</span>
            </a>

      </div>
      <!-- .container - END -->

</div>

<div class="obj-book-content">
      <div class="container">
            <div class="row">

                  <?
                  // print_r($this->booking);
                  ?>

                  <div class="obj-book-title col-lg-7" id="obj-book-title">
                        <h2>Оплата</h2>
                        <div class="row obj-book-steps">

                              <div class="col col-md-3">
                                    <a class="book-step book-step-past" href="<?=$this->url( $this->backlink );?>">1</a>
                                    <span class="book-step-title">Просмотр объекта</span>
                              </div>
                              <div class="col col-md-1 book-step-line">
                                    <hr>
                              </div>
                              <div class="col col-md-3">
                                    <div class="book-step book-step-past">2</div>
                                    <span class="book-step-title">Ваши данные</span>
                              </div>

                              <div class="col col-md-1 book-step-line">
                                    <hr>
                              </div>

                              <div class="col col-md-3">
                                    <div class="book-step book-step-current">3</div>
                                    <span class="book-step-title">Оплата</span>
                              </div>

                        </div>

                        <div class="alert alert-danger" role="alert">
                              <strong>Приносим извинения! </strong><br>
                              В данный момент, сервис оплаты бронирования находится в стадии тестирования.<br>
                        </div>

                        <form id="book-signup-form" name="book-signup-form" method="post">
                              <div class="form-group">

                              </div>

                        </form>

                        <?
                        // print_r($this->item);
                        // print_r($this->images);
                        ?>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                  </div>
                  <!-- obj-view-title col-lg-7 - END -->

                  <div class="col-lg-5">

                        <?
                        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                        // Apartments
                        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                        if($this->item["ot_code"] == "APT"):
                        ?>
                        <div class="obj-book-booking">
                              <div class="wrapper">

                                    <div class="row">
                                          <div class="col col-md-5">
                                                <label><i class="ico-long-arrow-down"></i> Заезд <i class="ico-time"></i>  <?=$this->item['obj_checkin'];?></label><br>
                                                <?=$this->booking['b_arrdate'];?>
                                          </div>
                                          <div class="col col-md-5">
                                                <label><i class="ico-long-arrow-up"></i> Выезд <i class="ico-time"></i>  <?=$this->item['obj_checkout'];?></label><br>
                                                <?=$this->booking['b_depdate'];?>
                                          </div>
                                          <div class="col col-md-2">
                                                <label> Гостей</label><br>
                                                <i class="ico-male"></i> &times; <?=$this->booking['b_guests'];?>
                                          </div>
                                    </div>
                                    <!-- .row - END -->

                              </div>
                              <!-- .wrapper - END -->

                              <!-- .obj-view-bill - START -->
                              <div class="obj-book-bill">
                                    <div class="row nobrd">
                                          <div class="col-md-6">
                                                <span id="b-period"><?=$this->booking['b_period'];?></span>
                                                <span id="b-total-days"><?
                                                echo $this->translate( array( $this->item['per_form_1_ru'], $this->item['per_form_2_ru'], $this->item['per_form_3_ru'], $this->booking['b_period'], 'ru' ) );
                                                ?></span> &times; <span id="b-price"><?=$this->item['obj_price'];?></span> <span class="rouble">c</span>
                                          </div>

                                          <div class="col-md-6 to-right">
                                                <strong><span id="b-total"><?=$this->booking['b_total'];?></span> <span class="rouble">c</span></strong>
                                          </div>
                                    </div>

                                    <div class="row bill-now nobrd">

                                          <div class="col-md-6">К оплате сейчас</div>

                                          <div class="col-md-6 to-right">
                                                <strong><span id="b-total-now"><?=$this->booking['b_total_now'];?></span> <span class="rouble">c</span></strong>
                                          </div>

                                    </div>

                                    <div class="row">

                                          <div class="col-md-6">К оплате при заезде</div>

                                          <div class="col-md-6 to-right">
                                                <strong><span id="b-total-checkin"><?=$this->booking['b_total_checkin'];?></span> <span class="rouble">c</span></strong>
                                          </div>
                                    </div>
                                    <div class="row bill-total">
                                          <div class="col-md-6">
                                                Всего
                                          </div>
                                          <div class="col-md-6 to-right">
                                                <strong><span class="b-total-summ"><?=$this->booking['b_total'];?></span> <span class="rouble">c</span></strong>
                                          </div>
                                    </div>

                              </div>
                              <!-- .obj-view-bill - END -->

                        </div>

                        <?
                        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                        // Flats
                        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                        else:
                        ?>

                        <div class="obj-book-booking">
                              <div class="wrapper">

                                    <div class="row">
                                          <div class="col col-md-5">
                                                <label><i class="ico-long-arrow-down"></i> Заезд <i class="ico-time"></i>  <?=$this->item['obj_checkin'];?></label><br>
                                                <?=$this->booking['b_arrdate'];?>
                                          </div>
                                          <div class="col col-md-5">
                                                <label><i class="ico-long-arrow-up"></i> Выезд <i class="ico-time"></i>  <?=$this->item['obj_checkout'];?></label><br>
                                                <?=$this->booking['b_depdate'];?>
                                          </div>
                                          <div class="col col-md-2">
                                                <label> Гостей</label><br>
                                                <i class="ico-male"></i> &times; <?=$this->booking['b_guests'];?>
                                          </div>
                                    </div>
                                    <!-- .row - END -->

                              </div>
                              <!-- .wrapper - END -->

                        </div>
                        <?
                        endif;
                        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                        ?>


                        <div class="obj-book-preview">
                              <div class="obj-book-preview-image">
                                    <img src="<?=$this->images['x500'][0];?>">
                              </div>

                              <div class="row">
                                    <div class="col col-md-12 obj-book-preview-title">
                                          <h3><?=$this->item['ot_name_ru'];?></h3>
                                          <h2><?=$this->item['obj_addr_city'];?>, <?=$this->item['obj_name_ru'];?></h2>
                                    </div>
                              </div>


                              <div class="row">
                                    <div class="col col-md-12 obj-book-preview-payinfo">
                                          <h3><i class="ico-info-3"></i> Условия бронирования</h3>

                                          <div class="row">
                                                <div class="col col-lg-6"><strong>Время заезда</strong></div>
                                                <div class="col col-lg-6"><?=$this->item['obj_checkin'];?></div>
                                          </div>
                                          <div class="row">
                                                <div class="col col-lg-6"><strong>Время выезда</strong></div>
                                                <div class="col col-lg-6"><?=$this->item['obj_checkout'];?></div>
                                          </div>

                                          <div class="row">
                                                <div class="col col-lg-6"><strong>Мин. срок аренды</strong></div>
                                                <div class="col col-lg-6">
                                                      <?=$this->item['obj_price_minstay'];?>
                                                      <?
                                                      echo $this->translate( array( $this->item['per_form_1_ru'], $this->item['per_form_2_ru'], $this->item['per_form_3_ru'], $this->item['obj_price_minstay'], 'ru' ) );
                                                      ?>
                                                </div>
                                          </div>
                                    </div>
                              </div>

                              <div class="row">
                                    <div class="col col-md-12 obj-book-preview-params">

                                          <h3><i class="ico-fullscreen"></i> Характеристики</h3>
                                          <div class="row">

                                                <div class="col col-md-3"><strong>Площадь</strong></div>
                                                <div class="col col-md-3"><?=$this->item['obj_sqr'];?> м&sup2;</div>

                                                <div class="col col-md-3"><strong>Этаж</strong></div>
                                                <div class="col col-md-3"><?=$this->item['obj_addr_floor'];?></div>

                                          </div>

                                          <div class="row">

                                                <div class="col col-md-3"><strong>Комнат</strong></div>
                                                <div class="col col-md-3"><?=$this->item['obj_rooms'];?></div>

                                                <div class="col col-md-3"><strong>Ванных</strong></div>
                                                <div class="col col-md-3"><?=$this->item['obj_bathrooms'];?></div>

                                          </div>
                                    </div>
                              </div>

                        </div>



                  </div>

            </div>
            <!-- .row - END -->
      </div>
      <!-- .container - END -->
</div>
<!-- .obj-view-content - END -->



</div>
<!-- .obj-view - END -->