<!--
****************************************************************
MAIN AREA
****************************************************************
-->
<?

$f_depdate = (isset($this->filter['f_depdate']) && $this->filter['f_depdate'] !== "") ? $this->filter['f_depdate'] : "";
$f_arrdate = (isset($this->filter['f_arrdate']) && $this->filter['f_arrdate'] !== "") ? $this->filter['f_arrdate'] : "";

$b_period = (isset($this->booking['b_period']) && $this->booking['b_period'] !== "") ? $this->booking['b_period'] : $f_depdate;
$b_arrdate = (isset($this->booking['b_arrdate']) && $this->booking['b_arrdate'] !== "") ? $this->booking['b_arrdate'] : $f_arrdate;

$b_arrdate_ymd = (isset($this->booking['b_arrdate_ymd']) && $this->booking['b_arrdate_ymd'] !== "") ? $this->booking['b_arrdate_ymd'] : $f_arrdate;
$b_depdate_ymd = (isset($this->booking['b_depdate_ymd']) && $this->booking['b_depdate_ymd'] !== "") ? $this->booking['b_depdate_ymd'] : $f_depdate;

$b_total = (isset($this->booking['b_total']) && $this->booking['b_total'] !== "") ? $this->booking['b_total'] : "";
$b_total_now = (isset($this->booking['b_total_now']) && $this->booking['b_total_now'] !== "") ? $this->booking['b_total_now'] : "";
$b_total_checkin = (isset($this->booking['b_total_checkin']) && $this->booking['b_total_checkin'] !== "") ? $this->booking['b_total_checkin'] : "";
$b_total_days = (isset($this->booking['b_total_days']) && $this->booking['b_total_days'] !== "") ? $this->booking['b_total_days'] : "";

// print_r($b_period);die;
?>


<div class="row" id="obj-view" class="obj-view">

      <div class="obj-view-navbar navbar-fixed-top">

            <div class="container">
                  <?
                  // print_r($this->filter);
                  // print_r($this->item);
                  // print_r($_SESSION['filter']['data']);
                  ?>

                  <!-- Filter panel - Open button -->
                  <a href="<?=$this->url( $this->backlink, null, true );?>" class="btn-round btn-transp">
                  <span class="padd"><i class="ico-chevron-left"></i> Назад к результатам поиска</span>
                  </a>

                  <a href="#obj-view-location" class="inner-link">
                  <span class="padd">Расположение</span>
                  </a>

                  <a href="#obj-view-title" class="inner-link">
                  <span class="padd">Фотографии</span>
                  </a>

                  <a href="#obj-view-params" class="inner-link">
                  <span class="padd">Характеристики</span>
                  </a>

            </div>
            <!-- .container - END -->

      </div>

      <div class="obj-view-content">
            <div class="container">
                  <div class="row">
                        <div class="obj-view-title col-lg-7" id="obj-view-title">
                              <h2><?=$this->item['ot_name_ru'];?></h2>
                              <h1><?=$this->item['obj_addr_city'];?>, <?=$this->item['obj_name_ru'];?></h1>

                              <div id="object-info-images">
                                    <ul class="bxslider">
                                          <?
                                          foreach($this->images['x800'] as $i_id => $i_val)
                                          {
                                          ?><li><img src="<?=$i_val;?>"></li><?
                                          }
                                          ?>
                                    </ul>
                              </div>
                              <div id="object-info-pager" class="bx-pager">
                                    <?
                                    foreach($this->images['x100'] as $i_id => $i_val)
                                    {
                                    ?><a data-slide-index="<?=$i_id;?>" href=""><img src="<?=$i_val;?>"></a><?
                                    }
                                    ?>
                                    <div class="clear"></div>
                              </div>

                        </div>
                        <!-- obj-view-title col-lg-7 - END -->
                        <div class="col-lg-5">

                              <!-- .obj-view-price - START -->
                              <div class="obj-view-price">
                                    <div class="wrapper">
                                          <div class="price-main"><i class="ico-credit-2"></i> <?=$this->item['obj_price'];?> <span class="rouble">c</span>
                                                <span class="price-period"><?=$this->item['per_pricename_ru'];?></span>
                                          </div>

                                    </div>
                              </div>
                              <!-- .obj-view-price - END -->

                              <?
                              /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                              // Apartments
                              /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                              if($this->item["ot_code"] == "APT"):
                              ?>
                              <!-- .obj-view-booking - START -->
                              <form id="obj-view-booking" action="/objects/checkout" method="post">
                                    <div class="obj-view-booking">
                                          <div class="wrapper">

                                                <div class="row">
                                                      <div class="col-md-4">
                                                            <div class="form-group">
                                                                  <label><i class="ico-long-arrow-down"></i> Заезд <i class="ico-time"></i>  <?=$this->item['obj_checkin'];?></label>
                                                                  <input type="text" class="form-control form-invert input-range" id="b_arrdate" name="b_arrdate" placeholder="Дата заезда">
                                                            </div>
                                                      </div>
                                                      <div class="col-md-4">
                                                            <label class="control-label"><i class="ico-long-arrow-up"></i> Выезд <i class="ico-time"></i>  <?=$this->item['obj_checkout'];?></label>
                                                            <input type="text" class="form-control form-invert input-range" id="b_depdate" name="b_depdate" placeholder="Дата выезда">
                                                      </div>
                                                      <div class="col-md-3">
                                                            <label><i class="ico-male"></i> Гостей</label>

                                                            <select class="form-control form-invert" id="b_guests" name="b_guests">
                                                                  <?
                                                                  for($i = 1; $i <= $this->item["obj_guests"]; $i++)
                                                                  {
                                                                  $selected = ($i == $this->filter['f_guests']) ? "selected" : "";
                                                                  ?><option value="<?=$i;?>" label="<?=$i;?>" <?=$selected;?>><?=$i;?></option><?
                                                                  }
                                                                  ?>
                                                            </select>

                                                      </div>
                                                </div>
                                                <!-- .row - END -->

                                          </div>
                                          <!-- .wrapper - END -->

                                          <!-- .obj-view-bill - START -->
                                          <div class="obj-view-bill">
                                                <div class="row nobrd">
                                                      <div class="col-md-6">
                                                            <span id="b-period">0</span> <span id="b-total-days"></span> &times; <span id="b-price"><?=$this->item['obj_price'];?></span> <span class="rouble">c</span>
                                                      </div>

                                                      <div class="col-md-6 to-right">
                                                            <strong><span id="b-total">0</span> <span class="rouble">c</span></strong>
                                                      </div>

                                                </div>
                                                <div class="row bill-now nobrd">

                                                      <div class="col-md-6">К оплате сейчас</div>

                                                      <div class="col-md-6 to-right">
                                                            <strong><span id="b-total-now"></span> <span class="rouble">c</span></strong>
                                                      </div>

                                                </div>

                                                <div class="row">

                                                      <div class="col-md-6">К оплате при заезде</div>

                                                      <div class="col-md-6 to-right">
                                                            <strong><span id="b-total-checkin">0</span> <span class="rouble">c</span></strong>
                                                      </div>
                                                </div>
                                                <div class="row bill-total">
                                                      <div class="col-md-6">
                                                            Всего
                                                      </div>
                                                      <div class="col-md-6 to-right">
                                                            <strong><span class="b-total-summ">0</span> <span class="rouble">c</span></strong>
                                                      </div>
                                                </div>

                                          </div>
                                          <!-- .obj-view-bill - END -->

                                          <!-- .wrapper - START -->
                                          <div class="wrapper">

                                                <div class="row">
                                                      <div class="col-lg-12" style="text-align: center;">
                                                            <button type="submit" class="btn btn-danger btn-lg center-block" id="book-now" disabled="disabled">Забронировать</button>
                                                      </div>
                                                      <!-- .col-lg-6 - END -->

                                                </div>
                                                <!-- .row - END -->

                                          </div>
                                          <!-- .wrapper - END -->

                                    </div>
                                    <!-- .obj-view-booking - END -->

                                    <input type="hidden" name="obj_uid" value="<?=$this->item["obj_uid"];?>">
                                    <input type="hidden" name="obj_id" value="<?=$this->item["obj_id"];?>">
                                    <input type="hidden" name="ot_bookfee_pct" value="<?=$this->item["ot_bookfee_pct"];?>">
                                    <input type="hidden" name="ot_bookfee_fix" value="<?=$this->item["ot_bookfee_fix"];?>">
                                    <input type="hidden" name="obj_guests" value="<?=$this->item["obj_guests"];?>">
                                    <input type="hidden" name="obj_price" value="<?=$this->item["obj_price"];?>">

                                    <input type="hidden" name="b_period" value="<?=$b_period;?>">
                                    <input type="hidden" name="b_arrdate_ymd" value="<?=$b_arrdate_ymd;?>">
                                    <input type="hidden" name="b_depdate_ymd" value="<?=$b_depdate_ymd;?>">
                                    <input type="hidden" name="b_total" value="<?=$b_total;?>">
                                    <input type="hidden" name="b_total_now" value="<?=$b_total_now;?>">
                                    <input type="hidden" name="b_total_checkin" value="<?=$b_total_checkin;?>">
                                    <input type="hidden" name="b_total_days" value="<?=$b_total_days;?>">

                              </form>
                              <!-- #obj-view-booking - END -->
                              <?
                              /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                              // Flats
                              /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                              else:

                              ?>

                              <!-- .obj-view-booking - START -->
                              <form id="obj-view-booking-long" action="/objects/checkout" method="post">
                                    <div class="obj-view-booking">
                                          <div class="wrapper">

                                                <div class="row">
                                                      <div class="col-md-4">
                                                            <div class="form-group">
                                                                  <label><i class="ico-long-arrow-down"></i> Заезд <i class="ico-time"></i>  <?=$this->item['obj_checkin'];?></label>
                                                                  <input type="text" class="form-control form-invert input-range" id="b_arrdate" name="b_arrdate" placeholder="Дата заезда">
                                                            </div>
                                                      </div>
                                                      <div class="col-md-4">
                                                            <label class="control-label"><i class="ico-long-arrow-up"></i> Выезд <i class="ico-time"></i>  <?=$this->item['obj_checkout'];?></label>
                                                            <input type="text" class="form-control form-invert input-range" id="b_depdate" name="b_depdate" placeholder="Дата выезда">
                                                      </div>
                                                      <div class="col-md-3">
                                                            <label><i class="ico-male"></i> Гостей</label>

                                                            <select class="form-control form-invert" id="b_guests" name="b_guests">
                                                                  <?
                                                                  for($i = 1; $i <= $this->item["obj_guests"]; $i++)
                                                                  {
                                                                  $selected = ($i == $this->filter['f_guests']) ? "selected" : "";
                                                                  ?><option value="<?=$i;?>" label="<?=$i;?>" <?=$selected;?>><?=$i;?></option><?
                                                                  }
                                                                  ?>
                                                            </select>

                                                      </div>
                                                </div>
                                                <!-- .row - END -->

                                          </div>
                                          <!-- .wrapper - END -->

                                          <!-- .obj-view-bill - START -->
                                          <div class="obj-view-bill">
                                                <div class="row nobrd">
                                                      
                                                      <div class="col-md-12">
                                                            <h2>Полную стоимость и срок аренды квартиры можно уточнить связавшись с нами.</h2>
                                                      </div>

                                                </div>
                                          </div>
                                          <!-- .obj-view-bill - END -->

                                          <!-- .wrapper - START -->
                                          <div class="wrapper">

                                                <div class="row">
                                                      <div class="col-lg-12" style="text-align: center;">
                                                            <button type="submit" class="btn btn-danger btn-lg center-block" id="book-now" disabled="disabled">Забронировать</button>
                                                      </div>
                                                      <!-- .col-lg-6 - END -->

                                                </div>
                                                <!-- .row - END -->

                                          </div>
                                          <!-- .wrapper - END -->

                                    </div>
                                    <!-- .obj-view-booking - END -->

                                    <input type="hidden" name="obj_uid" value="<?=$this->item["obj_uid"];?>">
                                    <input type="hidden" name="obj_id" value="<?=$this->item["obj_id"];?>">
                                    <input type="hidden" name="ot_bookfee_pct" value="<?=$this->item["ot_bookfee_pct"];?>">
                                    <input type="hidden" name="ot_bookfee_fix" value="<?=$this->item["ot_bookfee_fix"];?>">
                                    <input type="hidden" name="obj_guests" value="<?=$this->item["obj_guests"];?>">
                                    <input type="hidden" name="obj_price" value="<?=$this->item["obj_price"];?>">

                                    <input type="hidden" name="b_period" value="<?=$b_period;?>">
                                    <input type="hidden" name="b_arrdate_ymd" value="<?=$b_arrdate_ymd;?>">
                                    <input type="hidden" name="b_depdate_ymd" value="<?=$b_depdate_ymd;?>">
                                    <input type="hidden" name="b_total" value="<?=$b_total;?>">
                                    <input type="hidden" name="b_total_now" value="<?=$b_total_now;?>">
                                    <input type="hidden" name="b_total_checkin" value="<?=$b_total_checkin;?>">
                                    <input type="hidden" name="b_total_days" value="<?=$b_total_days;?>">

                              </form>
                              <!-- #obj-view-booking - END -->

                              <?
                              endif;
                              /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                              ?>

                              
                              <!-- .obj-view-payinfo - START -->
                              <div class="obj-view-payinfo">
                                    <div class="wrapper">
                                          <h3><i class="ico-info-3"></i> Условия бронирования</h3>

                                          <div class="row">
                                                <div class="col col-lg-6">Время заезда</div>
                                                <div class="col col-lg-6"><?=$this->item['obj_checkin'];?></div>
                                          </div>
                                          <div class="row">
                                                <div class="col col-lg-6">Время выезда</div>
                                                <div class="col col-lg-6"><?=$this->item['obj_checkout'];?></div>
                                          </div>

                                          <div class="row">
                                                <div class="col col-lg-6">Мин. срок аренды</div>
                                                <div class="col col-lg-6">
                                                      <?=$this->item['obj_price_minstay'];?>
                                                      <?
                                                      echo $this->translate( array( $this->item['per_form_1_ru'], $this->item['per_form_2_ru'], $this->item['per_form_3_ru'], $this->item['obj_price_minstay'], 'ru' ) );
                                                      ?>
                                                </div>
                                          </div>

                                    </div>
                                    <!-- .wrapper - END -->
                              </div>
                              <!-- .obj-view-payinfo - END -->

                        </div>
                        <!-- .col-lg-5 - END -->

                  </div>
                  <!-- .row - END -->

                  <!-- .row - START -->
                  <div class="row obj-view-params" id="obj-view-params">

                        <div class="col col-lg-2">
                              <h3>Площадь</h3>
                              <span><?=$this->item['obj_sqr'];?> м&sup2;</span>
                        </div>
                        <!-- .col-lg-5 - END -->

                        <div class="col col-lg-2">
                              <h3>Этаж</h3>
                              <span><i class="flaticon-house100"></i> <span class="times">=</span> <?=$this->item['obj_addr_floor'];?></span>
                        </div>
                        <!-- .col-lg-5 - END -->

                        <div class="col col-lg-2">
                              <h3>Комнат</h3>
                              <span><i class="flaticon-livingroom15"></i> <span class="times">&times;</span> <?=$this->item['obj_rooms'];?></span>
                        </div>
                        <!-- .col-lg-5 - END -->

                        <div class="col col-lg-2">
                              <h3>Ванных</h3>
                              <span><i class="flaticon-bathtub3"></i> <span class="times">&times;</span> <?=$this->item['obj_bathrooms'];?></span>
                        </div>
                        <!-- .col-lg-5 - END -->

                        <div class="col col-lg-2">
                              <h3>Спален</h3>
                              <span><i class="flaticon-bed17"></i> <span class="times">&times;</span> <?=$this->item['obj_bedrooms'];?></span>
                        </div>
                        <!-- .col-lg-5 - END -->

                        <div class="col col-lg-2 nobrd">
                              <h3>Макс. гостей</h3>
                              <span><i class="ico-male"></i> <span class="times">&times;</span> <?=$this->item['obj_guests'];?></span>
                        </div>
                        <!-- .col-lg-5 - END -->

                  </div>
                  <!-- .row - END -->
                  <!-- .row - START -->
                  <div class="row obj-view-properties" id="obj-view-properties">
                        <div class="col col-lg-4">
                              <div class="wrapper">

                                    <h2><i class="ico-power-cord"></i> Оборудование</h2>
                                    <div class="row">

                                          <?
                                          if(count($this->equipment))
                                          {
                                          foreach($this->equipment as $id => $val)
                                          {
                                          ?><div class="col-lg-6 item"><?=$val;?></div><?
                                          }
                                          }
                                          ?>
                                    </div>
                              </div>
                        </div>

                        <div class="col col-lg-4">
                              <div class="wrapper">

                                    <h2><i class="flaticon-dining4"></i> Удобства</h2>
                                    <div class="row">

                                          <?
                                          if(count($this->amenity))
                                          {
                                          foreach($this->amenity as $id => $val)
                                          {
                                          ?><div class="col-lg-6 item"><?=$val;?></div><?
                                          }
                                          }
                                          ?>
                                    </div>

                              </div>

                        </div>

                        <div class="col col-lg-4 nobrd">
                              <div class="wrapper">

                                    <h2 class="red"><i class="ico-minus-sign"></i> Ограничения</h2>
                                    <div class="row">
                                          <?
                                          if(count($this->restriction))
                                          {
                                          foreach($this->restriction as $id => $val)
                                          {
                                          ?><div class="col-lg-6 item-restrict"><?=$val;?></div><?
                                          }
                                          }
                                          ?>
                                    </div>


                              </div>
                        </div>

                  </div>
                  <!-- .row - END -->
                  <!-- .row - START -->
                  <div class="row obj-view-location" id="obj-view-location">

                        <div class="col col-lg-9 obj-view-map">

                              <h2><i class="ico-location-2"></i> Расположение</h2>

                              <div id="obj-view-map">
                                    <div id="obj-view-map-canvas"></div>
                              </div>

                        </div>

                        <div class="col col-lg-3 obj-view-milestones">
                              <div class="wrapper">

                                    <h3>Адрес</h3>
                                    <p>
                                    <strong><?=$this->item['obj_addr_city'];?></strong><br>
                                    Район: <b><?=$this->item['obj_addr_district'];?></b><br>
                                    <?=$this->item['obj_addr_street'];?>, <?=$this->item['obj_addr_number'];?><br>
                                    </p>
                                    <!--                                     <h3>Рядом находятся</h3>
                                    <ul>
                                          <li>ТЦ "Галерея" ~ 450 m</li>
                                    </ul>

                                    <h3>Как добраться</h3>
                                    <ul>
                                          <li>От ЖД вокзала "Краснодар-1":<br>
                                                Троллейбус №16, до остановки "ул. Леваневского""
                                          </li>
                                    </ul>
                                    -->
                              </div>
                        </div>
                        <!-- #object-info-sidebar - END -->


                  </div>
                  <!-- .row - END -->
            </div>
            <!-- .container - END -->
      </div>
      <!-- .obj-view-content - END -->

</div>
<!-- #object-info - END -->
<?
// print_r($this->item);
?>