<h2><?=$this->name;?> <a href="<?=$this->url(array_merge($this->f_prm, array('action' => 'create')));?>"><img src="/img/ai/plus.gif" /> Создать</a></h2>

<h3><a href="#" class="toggle">Фильтр</a> <? if($this->filterActive) echo "<small class='red'>применен</small>";?></h3>
<div class="toggle_item filter_form"><?=$this->form;?></div>

<form method="post" action="/ai/<?=$this->ucid;?>/multiupdate" enctype="multipart/form-data">
<? 
    if($this->qty > 0) 
    { 
?>

<h4>Найдено записей: <?=$this->qty;?></h4>

<? echo $this->paginator; ?>

<table class="table table-striped table-bordered table-condensed">
<thead>
<tr>
    <th width="30">&nbsp;</th>
    <th width="30" class="center"><input type="checkbox" value="checkbox" onClick="checkAll(this.form,'customize_items[]',this.checked)"></th>
    <th width="30">&nbsp;</th>
    <th width="105">Дата</th>
    <th width="">Заголовок</th>
    <th>&nbsp;</th>
</tr>
</thead>
<tbody>
<? echo $this->partialLoop("partials/_".$this->ucid."-row.phtml", $this->items); ?>
</tbody>
</table>

<? } else { ?>
<h4>Раздел пуст</h4>
<? } ?>

    <? echo $this->paginator; ?>

    <div class="subactions">

    Доп. действия:
    <select name="mode">
        <option value="none">-----------------</option>
        <option value="setpublic-on">Публиковать: ВКЛ.</option>
        <option value="setpublic-off">Публиковать: ВЫКЛ.</option>
        <option value="delete">Удалить</option>
    </select>
    
    <input name="Submit" value="OK" type="submit" class="submit" />

    <?
    foreach($this->f_prm as $f_name => $f_val) 
    {
        ?><input type="hidden" name="<?=$f_name;?>" value="<?=$f_val;?>" ><?
    }
    ?>
</form>



