<div class="navbar navbar-subnavbar navbar-fixed-top" role="navigation">
    <div class="container">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse-ex2">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h3 class="navbar-brand"><i class="ico-time"></i> <?=$this->translate("Rent types");?></h3>
        </div>

        <div class="navbar-collapse collapse collapse-ex2">
            <ul class="nav navbar-nav">

                <li>
                    <div class="btn-group btn-group-sm">

                        <a href="<?=$this->url(array('action' => 'index'));?>" class="btn btn-primary"><i class="ico-long-arrow-left"></i> <?=$this->translate("Back");?></a>

                    </div><!--/.btn-group-->
                </li>

            </ul><!--/.nav navbar-nav-->
        </div><!--/.navbar-collapse-->


    </div><!--/.container-->
</div><!--/.navbar navbar-subnavbar navbar-fixed-top-->

