#obj-items-counter
{
    position: relative;
    bottom: 50px;
    background: #000;
    padding: 7px 0;
    height: 40px;
    font-size: 18px;
    color: #fff;
    width: 100%;
    z-index: 1000;
    width: 200px;
    text-align: center;
    border-radius: 15px;
    margin: 0 auto;

}


/***************************************************************** Objects Filter */
#objects-filter
{
    height: 50px;

    background: #51b64f;
}
#objects-filter-short
{
    height: 50px;
}
#objects-filter-short .wrapper
{
    width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
}
#objects-filter-full
{
    height: 250px;
}
#objects-filter-full .wrapper
{
    width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
}
#objects-filter-full label
{
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: normal;

    margin: 0 0 10px 0;
    padding: 0;

    color: #fff;
}
#objects-filter-full .row
{
    margin: 0 0 15px 0;
}
#objects-filter-full .col-md-1
{
    width: 35px;
    margin: 0;
    padding: 0;
}