body
{
    background: #f2f2f2;
}
/********************************************************************************* Object - Info */
.obj-view
{
    font-family: 'PT Sans';
    font-size: 16px;
    /*margin: 100px 0 0 0;*/
}

.obj-view-content .container
{
    padding: 125px 0 0 0;
    /*border: 1px solid red;*/
}

h1
{
    font-family: 'PT Sans';
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;

    margin: 0;
    padding: 0;

    color: #000;
}

h2
{
    font-family: 'PT Sans';
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;

    margin: 0;
    padding: 0;

    color: #000;
}

h3
{
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;

    margin: 0 0 12px 0;
    padding: 0;

    color: #000;
}

h3.rounded
{
    /*height: 30px;*/
    display: inline-block;

    padding: 6px 15px 5px 15px;

    border: 1px solid #000;
    border-radius: 15px;
}
.obj-view-navbar
{
    height: 50px;
    margin: 59px 0 0 0;
    padding: 13px 0 0 0;

    background: #51b64f;
    z-index: 100;
}

.obj-view-navbar .inner-link
{
    font-size: 18px;

    margin: 0 0 0 15px;

    color: #fff;
}

.obj-view .col-lg-7,
.obj-view .col-lg-5
{
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}
.obj-view-pager
{
    margin-bottom: 0;
}
.obj-view-sidebar
{
    padding: 116px 0 0 0;
}

/********************************************************************************* Object - View - Booking */
.obj-view-booking
{
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    /*border: 1px solid #C2CACD;*/

    border-radius: 10px;
    /*background: #e4ecec;*/
    background: #3C495E;
    
    -webkit-box-shadow: #ccc 0 0 15px;
       -moz-box-shadow: #ccc 0 0 15px;
            box-shadow: #ccc 0 0 15px;
}
.obj-view-booking .wrapper
{
    padding: 15px 20px 2px 20px;
}

.obj-view-booking .row
{
    margin-bottom: 15px;
}
.obj-view-booking label
{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: normal;
    /*color: #1d3d4a;*/
    color: #fff;
}
.obj-view-booking h2
{
    padding: 10px 0;

    color: #fff;
    border-bottom: 1px solid #fff;
    font-weight: normal;
}
.obj-view-booking .form-invert
{
    background: #3C495E;
    border: 2px solid #fff;
    box-shadow: none;
    color: #fff;
}
.obj-view-booking .form-invert.active
{
    background: #47CAE0;
    color: #FFF;
    border-color: #47CAE0;
}

.btn-danger.disabled, .btn-danger[disabled]
{
    background: #FF6E31;
    border-color: #FF6E31;
}

.obj-view-booking .has-error input
{
    border-color: red;
}
.obj-view-booking .help-block
{
    font-size: 16px;
}

/********************************************************************************* Object - View - Booking -> END */

/********************************************************************************* Object - View - Price */
.obj-view-price
{
    display: inline-block;

    margin: 0 0 0 0;
    /*border: 1px solid #ff6e28;*/
    /*    border-radius: 35px;
    height: 70px;
*/
}
.obj-view-price .wrapper
{
    padding: 25px 0 22px 20px;
}
.price-main
{
    font-family: 'PT Sans Narrow';
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    /*text-align: center;*/

    color: #ff6e28;
}
.price-period
{
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;

    margin: 0;
    padding: 0;

    text-align: center;

    color: #ff6e28;
}
/********************************************************************************* Object - View - Price -> END */

/********************************************************************************* Object - View - Bill */
.obj-view-bill
{
    margin: 0 0 0 0;

    border-top: 1px solid #c2cacd;
    border-bottom: 1px solid #c2cacd;
}
.obj-view-bill .row
{
    margin: 0;
    padding: 0;

    border-bottom: 1px solid #c2cacd;
}
.obj-view-bill .nobrd
{
    border: none;
}
.obj-view-bill h2
{
    border: none;
}
.obj-view-bill .col-md-6, .obj-view-bill .col-md-12
{
    font-size: 22px;
    line-height: 22px;

    padding: 9px 20px 7px 38px;
    color: #00CC99;
    /*color: #51B64F;*/
}
.obj-view-bill .bill-now
{
    background: #47cae0;
}
.obj-view-bill .bill-now .col-md-6
{
    color: #FFF;
}
.obj-view-bill .bill-total
{
    border-bottom: none;
}
.obj-view-bill .bill-total .col-md-6
{
    font-size: 22px;
    /*font-weight::; bold;*/

    color: #FFF;
}

/********************************************************************************* Object - View - Bill -> END */

/********************************************************************************* Object - View - Params */
.obj-view-params
{
    margin: 25px 0 25px 0;

/*    border-top: 2px solid #dae4e7;
    border-bottom: 3px solid #c2cacd;
    background: #fff;
*/    /*border: 1px solid #C2CACD;*/
    /*border-radius: 15px;*/
}
.obj-view-params .col
{
    margin: 0;
    padding: 20px 0;
    text-align: center;

    /*border-right: 1px solid #c2cacd;*/
}
.obj-view-params [class^="flaticon-"]:before, .obj-view-params [class*=" flaticon-"]:before, .obj-view-params [class^="flaticon-"]:after, .obj-view-params [class*=" flaticon-"]:after {
        font-family: Flaticon;
        font-size: 40px;
        font-style: normal;
        line-height: 1;
}
.obj-view-params [class^="ico-"]
{
    font-size: 32px;
}
.obj-view-params .nobrd
{
    border: none;
}
.obj-view-params h3
{
    font-size: 25px;
    padding: 0 0 10px 0;
}
.obj-view-params span
{
    font-size: 32px;
}
.obj-view-params .times
{
    padding: 0 5px;
}
/********************************************************************************* Object - View - Params -> END */


/********************************************************************************* Object - View - Payinfo */
.obj-view-payinfo
{
    font-size: 16px;

    margin: 45px 0;
    padding: 0 15px;
}
.obj-view-payinfo .row
{
    padding: 7px 0;

    border-bottom: 1px solid #d3d3d3;
}
/********************************************************************************* Object - View - Payinfo -> END */


/********************************************************************************* Object - View - Properties */
.obj-view-properties
{
    font-size: 18px;

    margin: 70px 0;

    border: 1px solid #d3d3d3;
    border-radius: 15px;
    background: #fff;
}
.obj-view-properties h2
{
    margin: 0 0 20px -15px;
    padding: 0;
    line-height: 24px;
    font-size: 24px;
}
.obj-view-properties .col
{
    border-right: 1px solid #d3d3d3;
}
.obj-view-properties .item
{
    margin: 0 0 10px 0px;
    background: url(../../../images/list-marker1.png) 0 5px no-repeat;
    padding: 0 0 0 20px;
}
.obj-view-properties [class^="flaticon-"]:before, .obj-view-properties [class*=" flaticon-"]:before, .obj-view-properties [class^="flaticon-"]:after, .obj-view-properties [class*=" flaticon-"]:after {
        font-family: Flaticon;
        font-size: 36px;
        font-style: normal;
        line-height: 20px;
        position: relative;
        top: 6px;
}
.obj-view-properties .item-restrict
{
    margin: 0 0 10px 0;
    background: url(../../../images/list-marker-restrict.png) 0 5px no-repeat;
    padding: 0 0 0 20px;
}
.obj-view-properties .wrapper
{
    padding: 20px;
}
.obj-view-properties .red
{
    color: red;
}
.obj-view-properties .nobrd
{
    border: none;
}
/********************************************************************************* Object - View - Properties -> END */


/********************************************************************************* Object - View - Location */
.obj-view-location
{
    margin: 45px 0 0 0;
}
.obj-view-location .col
{
    padding: 0;
}

.obj-view-milestones .wrapper
{
    font-size: 16px;

    padding: 50px 0 0 40px;
}
.obj-view-milestones p
{
    margin: 0 0 30px 0;
}
.obj-view-milestones ul
{
    margin: 0 0  30px 0;
    padding: 0;
}
.obj-view-milestones li
{
    padding: 0 0 0 20px;

    list-style: none;

    background: url(../../../images/mdash-black.png) 0 10px no-repeat;
}

#obj-view-map
{
    position: relative;
    left: 0;

    width: 100%;
    height: 500px;
    margin: 25px 0 25px 0;

    -webkit-transform: translateZ(0px);

    border: 5px solid #fff;
    -webkit-box-shadow: #ccc 0 0 5px;
            box-shadow: #ccc 0 0 5px;
}
#obj-view-map-canvas
{
    position: relative;

    width: 100%;
    height: 490px;
}

/********************************************************************************* Object - View - Location - END */



/********************************************************************************* BxSlider v4.1.2 */

/** RESET AND LAYOUT
===================================*/
.bx-wrapper
{
    position: relative;

    width: 800px;
    margin-top: 25px;
    /*margin: 0 auto */
    padding: 0;

    *zoom: 1;
}
.bx-wrapper img
{
    display: block;

    max-width: 100%;
}
/** THEME
===================================*/
.bx-wrapper .bx-viewport
{
    /*    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
*/
    /*border: 5px solid #fff;*/
    left: 0;
    left: 0;
    /*fix other elements on the page moving (on Chrome)*/

    -webkit-transform: translatez(0);
    -webkit-transform: translateZ(0px);
       -moz-transform: translatez(0);
        -ms-transform: translatez(0);
         -o-transform: translatez(0);
            transform: translatez(0);

    border: 5px solid #fff;
    background: #fff;
    background: #fff;
    -webkit-box-shadow: #ccc 0 0 5px;
            box-shadow: #ccc 0 0 5px;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto
{
    position: absolute;
    bottom: -30px;

    width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading
{
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    /*min-height: 300px;*/

    background: url(../images/ui/bxslider/bx_loader.gif) center center no-repeat #fff;
}
/* PAGER */
.bx-pager
{
    font-size: .85em;

    margin-left: 0;
    padding-top: 16px;

    text-align: center;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item
{
    display: inline-block;

    *zoom: 1;
    *display: inline;
}
.bx-pager a
{
    display: block;
    float: left;
    overflow: hidden;

    width: 112px;
    height: 87px;
    margin: 0 15px 15px 0;
    padding: 5px;

    -webkit-transform: translateZ(0px);

    border: 1px solid #ddd;
    outline: 0;
    -webkit-box-shadow: #ccc 0 0 5px;
            box-shadow: #ccc 0 0 5px;
}
.bx-pager a.active
{
    border: 1px solid #ff6e28;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active
{
    background: #000;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev
{
    left: 10px;

    background: url(../../../images/ui/bxslider/controls.png) no-repeat 0 -32px;
}
.bx-wrapper .bx-next
{
    right: 15px;

    background: url(../../../images/ui/bxslider/controls.png) no-repeat -43px -32px;
}
.bx-wrapper .bx-prev:hover
{
    background-position: 0 0;
}
.bx-wrapper .bx-next:hover
{
    background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a
{
    position: absolute;
    z-index: 2;
    top: 50%;

    width: 32px;
    height: 32px;
    margin-top: -16px;

    text-indent: -9999px;

    outline: 0;
}
.bx-wrapper .bx-controls-direction a.disabled
{
    display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto
{
    text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start
{
    display: block;

    width: 10px;
    height: 11px;
    margin: 0 3px;

    text-indent: -9999px;

    outline: 0;
    background: url(../../../images/ui/bxslider/controls.png) -86px -11px no-repeat;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active
{
    background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop
{
    display: block;

    width: 9px;
    height: 11px;
    margin: 0 3px;

    text-indent: -9999px;

    outline: 0;
    background: url(../../../images/ui/bxslider/controls.gif) -86px -44px no-repeat;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active
{
    background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager
{
    width: 80%;

    text-align: left;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto
{
    right: 0;

    width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    background: #666\9;
    background: rgba(80, 80, 80, .75);
}
.bx-wrapper .bx-caption span
{
    font-family: Arial;
    font-size: .85em;

    display: block;

    padding: 10px;

    color: #fff;
}
