<?
    $db = Zend_Registry::get( 'db' );
    $dbname = $db->query("SELECT DATABASE()")->fetchAll();    

    $dbname = $dbname[0]["DATABASE()"];

?>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Статистика просмотров</div>
            <div class="panel-body">

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Название объекта</th>
                        <th>Просмотры</th>
                    </tr>
                </thead>
                <tbody>
                <tr><td>...</td><td>...</td><td>...</td></tr>
                </tbody>
            </table>
            </div><!-- /.panel-body -->

        </div><!-- /.panel -->
    </div><!-- /.col -->

    <div class="col-md-6">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Данные по серверу и клиенту</div>
            <div class="panel-body">
                <p>
                    <strong>Время:</strong> <?=date('d.m.Y H:i:s');?>
                </p>
                <p>
                    <strong>IP:</strong> <?=$_SERVER['REMOTE_ADDR'];?>
                </p>
                <p>
                    <strong>User-Agent:</strong> <?=$_SERVER['HTTP_USER_AGENT'];?>
                </p>
                <p>
                    <strong>DB Name:</strong> <?=$dbname;?>
                </p>
            </div>

            <!-- Table -->
            <table class="table">

            </table>
        </div>
    </div><!-- /.col -->

</div><!-- /.row -->

<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Расположение объектов</div>
            <div class="panel-body">
                <p>
                    <div class="alert alert-info">Данные отсутствуют</div>
                </p>
            </div>

            <!-- Table -->
            <table class="table">

            </table>
        </div>
    </div><!-- /.col -->


</div><!-- /.row -->