<form method="post" action="<?=$this->url(array('action' => 'multiupdate', ));?>" enctype="multipart/form-data" id="sub-action-form">

    <? if($this->qty): ?>

        <table class="table table-hover sortable" id="watable">
            <thead>
                <tr>
                    <th width="30" class="do-not-sort">&nbsp;</th>
                    <th width="35" class="center do-not-sort"><input type="checkbox" value="checkbox" onClick="checkAll(this.form,'customize_items[]',this.checked)"></th>
                    <th width="30" class="do-not-sort">&nbsp;</th>
                    <th><?=$this->translate('Equipment name');?></th>
                    <th><?=$this->translate('Order');?></th>
                    <th><?=$this->translate('UID');?></th>
                </tr>
            </thead>
            <tbody>
                <? echo $this->partialLoop('equipment/index-row.phtml', $this->items); ?>
            </tbody>
        </table>

        <? else: ?>

        <div class="alert alert-info"><?=$this->translate("Section is empty");?></div>

        <? endif; ?>
</form>

<div id="modal-import" class="hidden">
    <div class="title"><i class="ico-download-alt"></i> <?=$this->translate("Import data");?></div>
    <div class="message">
        <p>
            <span class="label label-warning">ВНИМАНИЕ</span><br>
            Формат импортируемых данных: построчный, разделенный символом "|".<br><br>
            <span class="label label-info">ПРИМЕР</span><br>
            1|UID|name_en|description_en|name_ru|description_ru<br>
            <ul>
                <li>1 - порядок сортировки, целове число</li>
                <li>UID - универсальный ID поля, слово на латинице</li>
                <li>name_en - название, англ.</li>
                <li>description_en - описание, англ.</li>
                <li>name_ru - название, рус.</li>
                <li>description_ru - описание, рус.</li>
            </ul>
        </p>

        <form method="post" action="" enctype="multipart/form-data">
            <div class="form-group">
                <label for=""><?=$this->translate("Data");?></label>
                <div class="row">
                    <div class="col-md-12">
                        <textarea name="import_data" id="import_data" class="form-control" rows="8" cols="80">asd</textarea>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.form-group -->
        </form>

    </div>
</div>
