Спасибо, <?php echo $user_name ?>, за ваш интерес к нашему проекту<br>
Ваше мнение для нас очень важно.<br>
<br>
Ваше сообщение:<br>
<?php echo $user_message ?>

Ближайшее время мы вышлем вам более подробную информацию.