<?
    function printTree($node, $level, $obj)
    {
        $node['node']['level'] = $level;
        $html = $obj->partialLoop("objecttype/index-row.phtml", array( $node['node'] ) );

        if($node['child'])
        {
            foreach($node['child'] as $child)
            {
                $html .= printTree($child, $level+1, $obj);
            }
        }

        return $html;
    }

    function printOptionsTree($node, $level, $obj)
    {
        $node['node']['level'] = $level;
        $html = "<option value='".$node['node']['id']."'>".str_repeat("&nbsp;", ($level * 5)).$node['node']['name']."</option>";

        if($node['child'])
        {
            foreach($node['child'] as $child)
            {
                $html .= printOptionsTree($child, $level+1, $obj);
            }
        }

        return $html;
    }


?>
<form method="post" action="<?=$this->url(array('action' => 'multiupdate', ));?>" enctype="multipart/form-data" id="sub-action-form">

    <? if($this->qty): ?>

        <h5><?=$this->translate("Items found");?> <?=$this->qty;?></h5>

        <table class="table table-hover sortable">
            <thead>
                <tr>
                    <th width="30" class="do-not-sort">&nbsp;</th>
                    <th width="35" class="center do-not-sort"><input type="checkbox" value="checkbox" onClick="checkAll(this.form,'customize_items[]',this.checked)"></th>
                    <th><?=$this->translate("Object type name");?></th>
                    <th align="center"><?=$this->translate("Order");?></th>
                    <th align="center"><?=$this->translate("UID");?></th>
                    <th align="center"><?=$this->translate("Code");?></th>
                    <th align="center"><?=$this->translate("Book fee %");?></th>
                    <th align="center"><?=$this->translate("Book fee fix.");?></th>
                </tr>
            </thead>
            <tbody>
                <?
                    foreach($this->items as $node)
                    {
                        echo printTree($node, 0, $this);
                    }
                ?>
            </tbody>
        </table>

        <? else: ?>

        <div class="alert alert-info"><?=$this->translate("Section is empty");?></div>

        <? endif; ?>

    <input type="hidden" name="mode">


    <div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="dataConfirmLabel"><i class="ico-trash"></i> <?=$this->translate("Delete Confirm");?></h4>
                </div>
                <div class="modal-body">
                    <div class="control-group">

                        <p><span class="label label-warning">ВНИМАНИЕ</span> Это действие не может быть отменено. Вы уверены что хотите удалить этот элемент ?</p>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true"><?=$this->translate("Cancel");?></button><button type="submit" class="btn btn-danger" action-form="sub-action-form"><?=$this->translate("Delete");?></button></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" id="change-parent" tabindex="-1" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="dataConfirmLabel"><?=$this->translate("Select target item");?></h4>
                </div><!-- /.modal-header -->

                <div class="modal-body">

                    <div class="form-group">
                        <select class="select2 col-md-12" name="pid">
                            <option value="0">&mdash; <?=$this->translate('Root');?> &mdash;</option>
                            <?
                                foreach($this->items as $node)
                                {
                                    echo printOptionsTree($node, 0, $this);
                                }
                            ?>
                        </select>
                    </div>

                </div><!-- /.modal-body -->

                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button><button type="submit" class="btn btn-primary">Ok</button>
                </div><!-- /.modal-footer -->

            </div><!-- /.modal-content -->

        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</form>

