<form method="<?php echo $this->form->getMethod() ?>" action="<?php echo $this->form->getAction() ?>" role="form">


    <fieldset id="fieldset-ab_group2"><legend><?=$this->translate("General attributes");?></legend>
        <div class="form-group">
            <div class="row">

                <div class="col-md-2">
                    <div class="input-group">
                        <label for=""><?=$this->translate("Public");?></label>
                        <div class="make-switch switch-large" data-off="danger" data-on-label="<?=$this->translate("ON");?>" data-off-label="<?=$this->translate("OFF");?>">
                            <?=$this->form->ot_enable;?>
                        </div>
                    </div>
                </div><!-- /.col -->

                <div class="col-md-2">
                    <label for="<?=$this->form->ot_order->getAttrib('id');?>"><?=$this->form->ot_order->getLabel();?> <i class="ico-info-sign form-help" title='Порядок сортировки влияет на порядок отображения элементов на сайте. Можно указать любое число. Например: 1, 2, 3 ...'></i></label>
                    <?=$this->form->ot_order;?>
                </div><!-- /.col -->

                <div class="col-md-4">
                    <label for="<?=$this->form->ot_uid->getAttrib('id');?>"><?=$this->form->ot_uid->getLabel();?> <i class="ico-info-sign form-help" title='Универсальный ID. Должен содержать только латинские буквы. Используется для формирования URL. Например: apartment'></i></label>
                    <?=$this->form->ot_uid;?>
                </div><!-- /.col -->

                <div class="col-md-2">
                    <label for="<?=$this->form->ot_code->getAttrib('id');?>"><?=$this->form->ot_code->getLabel();?> <i class="ico-info-sign form-help" title='3-х буквенный код. Используется при формировании кода объекта.'></i></label>
                    <?=$this->form->ot_code;?>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.form-group -->
    </fieldset>

    <fieldset id="fieldset-ab_group2"><legend><?=$this->translate("Main content");?></legend>

        <div class="form-group">
            <label for=""><?=$this->translate("Parent type");?></label>
            <div class="row">
                <div class="col-md-6">
                    <?=$this->form->ot_pid;?>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for=""><?=$this->translate("Object type name");?></label>
            <div class="row">
                <? foreach($this->langs as $lang => $loc): ?>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><img src="<?=IMG_PATH;?>/flag/<?=$loc['region'];?>.png"></span>
                            <?=$this->form->{"ot_name_".$lang};?>
                        </div>
                    </div><!-- /.col -->
                    <? endforeach; ?>
            </div><!-- /.row -->
        </div><!-- /.form-group -->

    </fieldset>

    <fieldset id="fieldset-ab_group2"><legend><?=$this->translate("Booking fee");?></legend>

        <div class="form-group">
            <div class="row">

                <div class="col-md-2">
                    <label for="<?=$this->form->ot_bookfee_pct->getAttrib('id');?>"><?=$this->form->ot_bookfee_pct->getLabel();?> <i class="ico-info-sign form-help" title='Плата за бронь: процент от итоговой суммы'></i></label>

                    <div class="input-group">
                        <?=$this->form->ot_bookfee_pct;?>
                        <span class="input-group-addon">%</span>
                    </div>

                </div><!-- /.col -->
                
                <div class="col-md-2">
                    <label for="<?=$this->form->ot_bookfee_fix->getAttrib('id');?>"><?=$this->form->ot_bookfee_fix->getLabel();?> <i class="ico-info-sign form-help" title='Плата за бронь: но плата за бронь не должна превышать фиксированный размер'></i></label>
        
                    <div class="input-group">
                        <?=$this->form->ot_bookfee_fix;?>
                        <span class="input-group-addon"><span class="rouble">i</span></span>
                    </div>

                </div><!-- /.col -->
                

            </div><!-- /.row -->
        </div><!-- /.form-group -->

    </fieldset>
    <?=$this->form->ot_id;?>

    <div class="submit-group">
        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> <?=$this->translate("Save changes");?></button>
        <a href="<?=$this->url(array('action' => 'index'));?>" class="btn btn-danger"><i class="icon-ban-circle"></i> <?=$this->translate("Cancel");?></a>
    </div>

</form>
